<li class="clearfix">					
	<div class="b-sidenav_value left">Горное дело </div>
	<div class="checkwrapper type2 right">
		<label for="cb27" class="black">1</label><input class="checkbox" type="checkbox" name="" id="cb27">
	</div>
</li>
<li class="clearfix">
	<div class="b-sidenav_value left">Пищевые производства</div>
	<div class="checkwrapper type2 right">
		<label for="cb28" class="black">1</label><input class="checkbox" type="checkbox" name="" id="cb28">
	</div>
</li>
<li class="clearfix">
	<div class="b-sidenav_value left">Радиоэлектроника </div>
	<div class="checkwrapper type2 right">
		<label for="cb29" class="black">1</label><input class="checkbox" type="checkbox" name="" id="cb29">
	</div>
</li>
<li class="clearfix">
	<div class="b-sidenav_value left">Строительство </div>
	<div class="checkwrapper type2 right">
		<label for="cb30" class="black">1</label><input class="checkbox" type="checkbox" name="" id="cb30">
	</div>
</li>
<li class="clearfix">
	<div class="b-sidenav_value left">Техника и технические 
		науки в целом </div>
		<div class="checkwrapper type2 right">
			<label for="cb31" class="black">1</label><input class="checkbox" type="checkbox" name="" id="cb31">
		</div>
	</li>