				<ul class="b-bookboard_list">
						<li>
								<div class="b_popular_descr">
									<h4 class="iblock"><a href="#">Гроздья гнева</a></h4>
									<span class="b-autor iblock">Автор: <a href="#" class="lite">Джон Стейнбек</a></span>
									<div class="b-result_sorce_info iblock"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>
								</div>
						</li>
							<li>
								<div class="b_popular_descr">
									<h4 class="iblock"><a href="#">Сумма технологии</a></h4>
									<span class="b-autor iblock">Автор: <a href="#" class="lite">Станислав Лем</a></span>
									<div class="b-result_sorce_info iblock"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>

								</div>
						</li>
						<li>
								<div class="b_popular_descr">
									<h4 class="iblock"><a href="#">Гроздья гнева</a></h4>
									<span class="b-autor iblock">Автор: <a href="#" class="lite">Джон Стейнбек</a></span>
									<div class="b-result_sorce_info iblock"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>
								</div>
						</li>
					
					</ul>
					<a class="button_mode js_ajax_morebook" href="ajax_fake_books.html">следующие 3</a>
