<div class="b-result-docitem">
	
	<div class="iblock b-result-docphoto">
		<a class="b_bookpopular_photo iblock" href="#"><img alt="" src="./pic/pic_4.jpg"></a>
		<div class="b-result-doclabel">
			Требуется авторизация
		</div>
	</div>
	<div class="iblock b-result-docinfo">
		<a href="#" class="b-result-add"></a>
		<h2><a href="#">Другие книги</a></h2>
		<ul class="b-resultbook-info">
			<li><span>Автор:</span> <a href="#">Станислав Лем</a></li>
			<li><span>Год публикации:</span> <a href="#">1964</a></li>
			<li><span>Количество страниц:</span> 427</li>
			<li><span>Издательство:</span> <a href="#">Азбука</a></li>
		</ul>
		<p>Основная цель книги — попытка прогностического анализа научно-технических, морально-этических и философских проблем, связанных с функционированием цивилизации в условиях свободы от технологических и материальных ограничений (по образному выражению автора, «исследование шипов ещё несуществующих роз»</p>					
		<div class="b-result_sorce clearfix">
			<div class="b-result_sorce_info left"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>
			<div class="b-result-type right">
				<span class="b-result-type_txt">Читать</span>
				<span class="b-result-type_txt">текст</span>
			</div>	
		</div>
	</div>

</div>
<div class="b-result-docitem">
	
	<div class="iblock b-result-docphoto">
		<a class="b_bookpopular_photo iblock" href="#"><img alt="" src="./pic/pic_27.jpg"></a>
		
	</div>
	<div class="iblock b-result-docinfo">
		<a href="#" class="b-result-add"></a>
		<h2><a href="#">Сумма технологии</a></h2>
		<ul class="b-resultbook-info">
			<li><span>Автор:</span> <a href="#">Станислав Лем</a></li>
			<li><span>Год публикации:</span> <a href="#">1964</a></li>
			<li><span>Количество страниц:</span> 427</li>
			<li><span>Издательство:</span> <a href="#">Азбука</a></li>
		</ul>
		<div class="b-result_sorce clearfix">
			<div class="b-result_sorce_info left"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Межпоселенческая централизованная библиотечная система Никольского муниципального района</a></div>
			<div class="b-result-type right">
				<span class="b-result-type_txt">Читать</span>
				<span class="b-result-type_txt">текст</span>
			</div>	
		</div>
	</div>

</div>
<div class="b-result-docitem">
	
	<div class="iblock b-result-docphoto">
		<a class="b_bookpopular_photo iblock" href="#"><img alt="" src="./pic/pic_4.jpg"></a>
		
	</div>
	<div class="iblock b-result-docinfo">
		<a href="#" class="b-result-add"></a>
		<h2><a href="#">Сумма технологии</a></h2>
		<ul class="b-resultbook-info">
			<li><span>Автор:</span> <a href="#">Станислав Лем</a></li>
			<li><span>Год публикации:</span> <a href="#">1964</a></li>
			<li><span>Количество страниц:</span> 427</li>
			<li><span>Издательство:</span> <a href="#">Азбука</a></li>
		</ul>
		<p>Основная цель книги — попытка прогностического анализа научно-технических, морально-этических и философских проблем, связанных с функционированием цивилизации в условиях свободы от технологических и материальных ограничений (по образному выражению автора, «исследование шипов ещё несуществующих роз»</p>					
		<div class="b-result_sorce clearfix">
			<div class="b-result_sorce_info left"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>
			<div class="b-result-type right">
				<span class="b-result-type_txt">Читать</span>
				<span class="b-result-type_txt">текст</span>
			</div>	
		</div>
	</div>

</div>
<div class="b-result-docitem">
	
	<div class="iblock b-result-docphoto">
		<a class="b_bookpopular_photo iblock" href="#"><img alt="" src="./pic/pic_27.jpg"></a>
		<div class="b-result-doclabel able">
			Доступно в библиотеке
		</div>
	</div>
	<div class="iblock b-result-docinfo">
		<a href="#" class="b-result-add"></a>
		<h2><a href="#">Сумма технологии</a></h2>
		<ul class="b-resultbook-info">
			<li><span>Автор:</span> <a href="#">Станислав Лем</a></li>
			<li><span>Год публикации:</span> <a href="#">1964</a></li>
			<li><span>Количество страниц:</span> 427</li>
			<li><span>Издательство:</span> <a href="#">Азбука</a></li>
		</ul>
		<p>Основная цель книги — попытка прогностического анализа научно-технических, морально-этических и философских проблем, связанных с функционированием цивилизации в условиях свободы от технологических и материальных ограничений (по образному выражению автора, «исследование шипов ещё несуществующих роз»</p>					
		<div class="b-result_sorce clearfix">
			<div class="b-result_sorce_info left"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>
			<div class="b-result-type right">
				<span class="b-result-type_txt">Читать</span>
				<span class="b-result-type_txt">текст</span>
			</div>	
		</div>
	</div>

</div>
<div>
	
	<div class="iblock b-result-docphoto">
		<a class="b_bookpopular_photo iblock" href="#"><img alt="" src="./pic/pic_4.jpg"></a>

	</div>
	<div class="iblock b-result-docinfo">
		<a href="#" class="b-result-add"></a>
		<h2><a href="#">Сумма технологии</a></h2>
		<ul class="b-resultbook-info">
			<li><span>Автор:</span> <a href="#">Станислав Лем</a></li>
			<li><span>Год публикации:</span> <a href="#">1964</a></li>
			<li><span>Количество страниц:</span> 427</li>
			<li><span>Издательство:</span> <a href="#">Азбука</a></li>
		</ul>
		<p>Основная цель книги — попытка прогностического анализа научно-технических, морально-этических и философских проблем, связанных с функционированием цивилизации в условиях свободы от технологических и материальных ограничений (по образному выражению автора, «исследование шипов ещё несуществующих роз»</p>					
		<div class="b-result_sorce clearfix">
			<div class="b-result_sorce_info left"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>
			<div class="b-result-type right">
				<span class="b-result-type_txt">Читать</span>
				<span class="b-result-type_txt">текст</span>
			</div>	
		</div>
	</div>

</div>
<div class="b-result-docitem">
	
	<div class="iblock b-result-docphoto">
		<a class="b_bookpopular_photo iblock" href="#"><img alt="" src="./pic/pic_27.jpg"></a>
		
	</div>
	<div class="iblock b-result-docinfo">
		<a href="#" class="b-result-add"></a>
		<h2><a href="#">Сумма технологии</a></h2>
		<ul class="b-resultbook-info">
			<li><span>Автор:</span> <a href="#">Станислав Лем</a></li>
			<li><span>Год публикации:</span> <a href="#">1964</a></li>
			<li><span>Количество страниц:</span> 427</li>
			<li><span>Издательство:</span> <a href="#">Азбука</a></li>
		</ul>
		<p>Основная цель книги — попытка прогностического анализа научно-технических, морально-этических и философских проблем, связанных с функционированием цивилизации в условиях свободы от технологических и материальных ограничений (по образному выражению автора, «исследование шипов ещё несуществующих роз»</p>					
		<div class="b-result_sorce clearfix">
			<div class="b-result_sorce_info left"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>
			<div class="b-result-type right">
				<span class="b-result-type_txt">Читать</span>
				<span class="b-result-type_txt">текст</span>
			</div>	
		</div>
	</div>				
</div>
