<ul class="b_bookpopular">
	<li>
		<div class="b_popular_descr">
			<h4 class="black">Сумма технологии111</h4>
			<span class="b-autor">Автор: <a href="#" class="lite">Станислав Лем</a></span>
			<div class="b-result_sorce_info"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>
		</div>
	</li>
	<li>
		<div class="b_popular_descr">
			<h4 class="black">Гроздья гнева</h4>
			<span class="b-autor">Автор: <a href="#" class="lite">Джон Стейнбек</a></span>
			<div class="b-result_sorce_info"><em>Источник:</em> <a href="#" class="b-sorcelibrary">Рязанская областная библиотека</a></div>
		</div>
	</li>
</ul>
<a class="button_mode js_ajax_bookupload" href="ajax_fake_popular.html">обновить</a>