<div class="b-result-docitem iblock removeitem">


	<div class="b-result-docinfo">

		<a href="#" class="b-result-remove"></a>
		<div class="b-result-docphoto">
			<div class="iblock b-fav_info b-fav_info_mode">
				<span class="b-fav_info_quote">х 2</span>
				<span class="b-fav_info_note">х 1</span>
			</div>
			<a class="b_bookpopular_photo iblock" href="#"><img alt="" src="./pic/pic_4.jpg"></a>
			<div class="b-loadprogress">
				<div class="b-loadlabel"></div>
				<input type="text" class="knob" data-width="37" data-height="37" data-displayInput="false" data-inputColor="#8b9597" data-min="0"  data-min="100"  data-fgColor="#f06735" data-thickness=".1" value="78">
			</div>						
		</div>
		<h2><a href="#">Сумма технологии</a></h2>
		<a href="#" class="b-book_autor">Станислав Лем</a>
		<div class="b-result_sorce clearfix">
			<div class="b-result_selection">
				<div class="iblock rel">
					<a href="#" class="b-openermenu js_openmenu">мои подборки</a>
					<ul class="b-selectionlist">
						<li class="checkwrapper">									
							<label for="cb8" class="black">Любимые авторы</label>
							<input class="checkbox" type="checkbox" name="" id="cb8">								
						</li>
						<li class="checkwrapper">									
							<label for="cb9" class="black">Научно-популярная фантастика</label>
							<input class="checkbox" type="checkbox" name="" id="cb9">								
						</li>
						<li class="checkwrapper">									
							<label for="cb10" class="black">Ракеты и люди</label>
							<input class="checkbox" type="checkbox" name="" id="cb10">								
						</li>	
						<li class="checkwrapper">									
							<label for="cb14" class="lite">Отметить как прочитанное</label>
							<input class="checkbox" type="checkbox" name="" id="cb14">								
						</li>
						<li><a href="#" class="b-selection_add">+  создать подборку</a></li>
					</ul>
				</div>


			</div><!-- /.b-result_selection  -->
			<div class="b-result-type ">
				<span class="b-result-type_txt">pdf</span>
				<span class="b-result-type_txt">текст</span>
			</div>	
		</div><!-- /.b-result_sorce -->
	</div>

</div><!-- /.b-result-docitem -->
<div class="b-result-docitem iblock removeitem">


	<div class="b-result-docinfo">

		<a href="#" class="b-result-remove"></a>
		<div class="b-result-docphoto">
			<div class="iblock b-fav_info b-fav_info_mode">
				<span class="b-fav_info_quote">х 2</span>
				<span class="b-fav_info_note">х 1</span>
			</div>
			<a class="b_bookpopular_photo iblock" href="#"><img alt="" src="./pic/pic_4.jpg"></a>
			<div class="b-loadprogress">
				<div class="b-loadlabel"></div>
				<input type="text" class="knob" data-width="37" data-height="37" data-displayInput="false" data-inputColor="#8b9597" data-min="0"  data-min="100"  data-fgColor="#f06735" data-thickness=".1" value="78">
			</div>						
		</div>
		<h2><a href="#">Сумма технологии</a></h2>
		<a href="#" class="b-book_autor">Станислав Лем</a>
		<div class="b-result_sorce clearfix">
			<div class="b-result_selection">
				<div class="iblock rel">
					<a href="#" class="b-openermenu js_openmenu">мои подборки</a>
					<ul class="b-selectionlist">
						<li class="checkwrapper">									
							<label for="cb8" class="black">Любимые авторы</label>
							<input class="checkbox" type="checkbox" name="" id="cb8">								
						</li>
						<li class="checkwrapper">									
							<label for="cb9" class="black">Научно-популярная фантастика</label>
							<input class="checkbox" type="checkbox" name="" id="cb9">								
						</li>
						<li class="checkwrapper">									
							<label for="cb10" class="black">Ракеты и люди</label>
							<input class="checkbox" type="checkbox" name="" id="cb10">								
						</li>	
						<li class="checkwrapper">									
							<label for="cb14" class="lite">Отметить как прочитанное</label>
							<input class="checkbox" type="checkbox" name="" id="cb14">								
						</li>
						<li><a href="#" class="b-selection_add">+  создать подборку</a></li>
					</ul>
				</div>


			</div><!-- /.b-result_selection  -->
			<div class="b-result-type ">
				<span class="b-result-type_txt">pdf</span>
				<span class="b-result-type_txt">текст</span>
			</div>	
		</div><!-- /.b-result_sorce -->
	</div>

</div><!-- /.b-result-docitem -->
<div class="b-result-docitem iblock removeitem">


	<div class="b-result-docinfo">

		<a href="#" class="b-result-remove"></a>
		<div class="b-result-docphoto">
			<div class="iblock b-fav_info b-fav_info_mode">
				<span class="b-fav_info_quote">х 2</span>
				<span class="b-fav_info_note">х 1</span>
			</div>
			<a class="b_bookpopular_photo iblock" href="#"><img alt="" src="./pic/pic_4.jpg"></a>
			<div class="b-loadprogress">
				<div class="b-loadlabel"></div>
				<input type="text" class="knob" data-width="37" data-height="37" data-displayInput="false" data-inputColor="#8b9597" data-min="0"  data-min="100"  data-fgColor="#f06735" data-thickness=".1" value="78">
			</div>						
		</div>
		<h2><a href="#">Сумма технологии</a></h2>
		<a href="#" class="b-book_autor">Станислав Лем</a>
		<div class="b-result_sorce clearfix">
			<div class="b-result_selection">
				<div class="iblock rel">
					<a href="#" class="b-openermenu js_openmenu">мои подборки</a>
					<ul class="b-selectionlist">
						<li class="checkwrapper">									
							<label for="cb8" class="black">Любимые авторы</label>
							<input class="checkbox" type="checkbox" name="" id="cb8">								
						</li>
						<li class="checkwrapper">									
							<label for="cb9" class="black">Научно-популярная фантастика</label>
							<input class="checkbox" type="checkbox" name="" id="cb9">								
						</li>
						<li class="checkwrapper">									
							<label for="cb10" class="black">Ракеты и люди</label>
							<input class="checkbox" type="checkbox" name="" id="cb10">								
						</li>	
						<li class="checkwrapper">									
							<label for="cb14" class="lite">Отметить как прочитанное</label>
							<input class="checkbox" type="checkbox" name="" id="cb14">								
						</li>
						<li><a href="#" class="b-selection_add">+  создать подборку</a></li>
					</ul>
				</div>


			</div><!-- /.b-result_selection  -->
			<div class="b-result-type ">
				<span class="b-result-type_txt">pdf</span>
				<span class="b-result-type_txt">текст</span>
			</div>	
		</div><!-- /.b-result_sorce -->
	</div>
</div><!-- /.b-result-docitem -->