﻿<ul class="b-selectionlist">

	<li class="checkwrapper">									
		<input class="checkbox" type="checkbox" name="" id="cb8">	<label for="cb8" class="black">Любимые авторы</label>

	</li>
	<li class="checkwrapper">									
		<input class="checkbox" type="checkbox" name="" id="cb9">	<label for="cb9" class="black">Научно-популярная фантастика</label>

	</li>
	<li class="checkwrapper">									
		<input class="checkbox" type="checkbox" name="" id="cb10"><label for="cb10" class="black">Ракеты и люди</label>

	</li>	
	<li class="checkwrapper">									
		<input class="checkbox" type="checkbox" name="" id="cb14"><label for="cb14" class="lite">Отметить как прочитанное</label>

	</li>
</ul>