<div>
    <form>
        <dl class="info-dl">
            <dt>Комментарий</dt>
            <dd>
                <textarea name="grerr" class="form-control" rows="5">{{grerr}}</textarea>
            </dd>
        </dl>
        <div class="buttons-bar">
            <button class="btn btn-primary">Утвердить</button>
        </div>
    </form>
</div>