<div class="bbk-result">
    <div class="bbk-crumbs">
        {{# crumbs }}
            {{#currentUrl}}
                <span>
                    {{#code}}
                        {{code}}&nbsp;-&nbsp;
                    {{/code}}
                    {{ name }}
                </span>
            {{/currentUrl}}
            {{^currentUrl}}
                <a href='{{options.urlCategory}}'>
                    {{#code}}
                        {{code}}&nbsp;-&nbsp;
                    {{/code}}
                    {{ name }}
                </a>
            {{/currentUrl}}
        {{/ crumbs }}
    </div>
    <h2>{{ category.name }}</h2>
    {{#canCreate}}
        <p>
            <button
                    data-create-category
                    data-url-save="{{url.createCategory}}"
                    data-form-name="{{categoryFormName}}"
                    {{#fieldListJson}}data-field-list='{{fieldListJson}}' {{/fieldListJson}}
                    {{#category.id}}data-category-id="{{category.id}}"{{/category.id}}
                    class="btn btn-primary btn-lg">
                Добавить раздел
            </button>
        </p>
    {{/canCreate}}
    <dl class="bbk-division-list" data-division-list-widget>
        {{#entities}}
            {{#userCanEdit}}
                {{#gr}}
                    {{#categoryGroup}}
                        <h2>{{categoryGroup}}</h2>
                    {{/categoryGroup}}
                    <dt class="lvhp" data-division-item
                        {{#optionsJson}}data-item-options='{{optionsJson}}'{{/optionsJson}}>
                <span class="bbk-division-item">
                    {{#canSort}}
                        <a title="Сортировать" class="sort-arrow">&uarr;</a>
                        <a title="Сортировать" class="sort-arrow sort-down">&darr;</a>
                    {{/canSort}}
                    {{#hasPath}}
                        <a title="Показать полный путь" class="show-item-path">&uarr;</a>
                        <div class="path-container">
                            {{#path}}
                                &nbsp;>&nbsp;<span><a href='{{options.urlCategory}}'
                                                      style="opacity:0.4;text-decoration: line-through;">{{#code}}{{code}}
                                &nbsp;&nbsp;&nbsp;{{/code}}{{name}}</a></span><br>
                            {{/path}}
                        </div>
                    {{/hasPath}}
                    {{#childCount}}
                        <a href='{{options.urlCategory}}' style="opacity:0.4;text-decoration: line-through;"
                           class="bbk-main-uli">{{#code}}{{code}}&nbsp;&nbsp;&nbsp;{{/code}}{{name}}</a>
                    {{/childCount}}
                    {{^childCount}}
                        <span style="opacity:0.4;text-decoration: line-through;" class="bbk-main-uli">{{#code}}{{code}}
                            &nbsp;&nbsp;&nbsp;{{/code}}{{name}}</span>
                    {{/childCount}}
                </span>
                        {{#hasDescription}}
                            <span class="bbk-di-desc" data-division-description-toggle>Пояснение к разделу</span>
                        {{/hasDescription}}
                        <span class="bbk-di-actions" data-division-actions data-division-id="{{ id }}">
                        <a href="#" data-toggle="dropdown">Набор действий</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {{#actions}}
                                <li>
                                    <a href="#"
                                        {{#url}}data-url="{{url}}" {{/url}}
                                        {{#code}}data-{{ code }}{{/code}}
                                        {{#link}}data-link-action{{/link}}>
                                        {{ name }}
                                    </a>
                                </li>
                            {{/actions}}
                        </ul>
                    </span>
                    </dt>
                    {{#hasDescription}}
                        <dd data-division-description>
                            <div>
                                {{#comments}}
                                    {{ comments }}
                                    <br>
                                {{/comments}}
                                {{#keywords}}
                                    {{ keywords }}
                                    <br>
                                {{/keywords}}
                                {{#links}}
                                    {{{ links }}}
                                {{/links}}
                            </div>
                        </dd>
                    {{/hasDescription}}
                {{/gr}}
                {{^gr}}
                    {{#categoryGroup}}
                        <h2>{{categoryGroup}}</h2>
                    {{/categoryGroup}}
                    <dt class="lvhp" data-division-item
                        {{#optionsJson}}data-item-options='{{optionsJson}}'{{/optionsJson}}>
                <span class="bbk-division-item">
                    {{#canSort}}
                        <a title="Сортировать" class="sort-arrow">&uarr;</a>
                        <a title="Сортировать" class="sort-arrow sort-down">&darr;</a>
                    {{/canSort}}
                    {{#hasPath}}
                        <a title="Показать полный путь" class="show-item-path">&uarr;</a>
                        <div class="path-container">
                            {{#path}}
                                &nbsp;>&nbsp;<span><a href='{{options.urlCategory}}'>{{#code}}{{code}}
                                &nbsp;&nbsp;&nbsp;{{/code}}{{name}}</a></span><br>
                            {{/path}}
                        </div>
                    {{/hasPath}}
                    {{#childCount}}
                        <a href='{{options.urlCategory}}' class="bbk-main-uli">{{#code}}{{code}}
                            &nbsp;&nbsp;&nbsp;{{/code}}{{name}}</a>
                    {{/childCount}}
                    {{^childCount}}
                        <span class="bbk-main-uli">{{#code}}{{code}}&nbsp;&nbsp;&nbsp;{{/code}}{{name}}</span>
                    {{/childCount}}
                </span>
                        {{#hasDescription}}
                            <span class="bbk-di-desc" data-division-description-toggle>Пояснение к разделу</span>
                        {{/hasDescription}}
                        <span class="bbk-di-actions" data-division-actions data-division-id="{{ id }}">
                        <a href="#" data-toggle="dropdown">Набор действий</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {{#actions}}
                                <li>
                                    <a href="#"
                                        {{#url}}data-url="{{url}}" {{/url}}
                                        {{#code}}data-{{ code }}{{/code}}
                                        {{#link}}data-link-action{{/link}}>
                                        {{ name }}
                                    </a>
                                </li>
                            {{/actions}}
                        </ul>
                    </span>
                    </dt>
                    {{#hasDescription}}
                        <dd data-division-description>
                            <div>
                                {{#comments}}
                                    {{ comments }}
                                    <br>
                                {{/comments}}
                                {{#keywords}}
                                    {{ keywords }}
                                    <br>
                                {{/keywords}}
                                {{#links}}
                                    {{{ links }}}
                                {{/links}}
                            </div>
                        </dd>
                    {{/hasDescription}}
                {{/gr}}
            {{/userCanEdit}}
            {{^userCanEdit}}
                {{^gr}}
                    {{#categoryGroup}}
                        <h2>{{categoryGroup}}</h2>
                    {{/categoryGroup}}
                    <dt class="lvhp" data-division-item
                        {{#optionsJson}}data-item-options='{{optionsJson}}'{{/optionsJson}}>
                <span class="bbk-division-item">
                    {{#canSort}}
                        <a title="Сортировать" class="sort-arrow">&uarr;</a>
                        <a title="Сортировать" class="sort-arrow sort-down">&darr;</a>
                    {{/canSort}}
                    {{#hasPath}}
                        <a title="Показать полный путь" class="show-item-path">&uarr;</a>
                        <div class="path-container">
                            {{#path}}
                                &nbsp;>&nbsp;<span><a href='{{options.urlCategory}}'>{{#code}}{{code}}
                                &nbsp;&nbsp;&nbsp;{{/code}}{{name}}</a></span><br>
                            {{/path}}
                        </div>
                    {{/hasPath}}
                    {{#childCount}}
                        <a href='{{options.urlCategory}}' class="bbk-main-uli">{{#code}}{{code}}
                            &nbsp;&nbsp;&nbsp;{{/code}}{{name}}</a>
                    {{/childCount}}
                    {{^childCount}}
                        <span class="bbk-main-uli">{{#code}}{{code}}&nbsp;&nbsp;&nbsp;{{/code}}{{name}}</span>
                    {{/childCount}}
                </span>
                        {{#hasDescription}}
                            <span class="bbk-di-desc" data-division-description-toggle>Пояснение к разделу</span>
                        {{/hasDescription}}
                        <span class="bbk-di-actions" data-division-actions data-division-id="{{ id }}">
                        <a href="#" data-toggle="dropdown">Набор действий</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {{#actions}}
                                <li>
                                    <a href="#"
                                        {{#url}}data-url="{{url}}" {{/url}}
                                        {{#code}}data-{{ code }}{{/code}}
                                        {{#link}}data-link-action{{/link}}>
                                        {{ name }}
                                    </a>
                                </li>
                            {{/actions}}
                        </ul>
                    </span>
                    </dt>
                    {{#hasDescription}}
                        <dd data-division-description>
                            <div>
                                {{#comments}}
                                    {{ comments }}
                                    <br>
                                {{/comments}}
                                {{#keywords}}
                                    {{ keywords }}
                                    <br>
                                {{/keywords}}
                                {{#links}}
                                    {{{ links }}}
                                {{/links}}
                            </div>
                        </dd>
                    {{/hasDescription}}
                {{/gr}}
            {{/userCanEdit}}
        {{/entities}}
    </dl>
</div>
{{#canCreate}}
    <a target="_blank" href="{{url.categoryExport}}">
        <img src="/local/templates/adaptive/img/file-icons/excel.png">
    </a>
{{/canCreate}}
