<div id="editorcard">
    <form>
        <dl class="info-dl">
            <dt>Родительской раздел</dt>
            <dd>
                <a href="{{parent.categoryUrl}}">{{parent.name}}</a>
                <input type="text"
                       data-auto-complete
                       data-entity-field="code"
                       data-src="{{options.url.autoComplete}}"
                       class="form-control"
                       value="{{parent.code}}">
                <input type="hidden" name="parent" value="{{parent.id}}"/>
            </dd>
            {{#fieldList.code}}
                <dt>Код</dt>
                <dd>
                    <input type="text" name="code" class="form-control" value="{{code}}">
                </dd>
            {{/fieldList.code}}
            <dt>Название</dt>
            <dd>
                <input type="text" name="name" class="form-control" value="{{name}}">
            </dd>
            <dt>Примечание</dt>
            <dd class="divcomment">
                <textarea name="comments" class="form-control" rows="4">{{comments}}</textarea>
            </dd>
            <dt>Ссылки</dt>
            <dd class="divlinks">
                <textarea name="links" class="form-control" rows="4">{{links}}</textarea>
            </dd>
            <dt>Ключевые слова</dt>
            <dd>
                <textarea name="keywords" class="form-control" rows="4">{{keywords}}</textarea>
            </dd>
            {{#fieldList.iscommon}}
                <dt>Общий раздел</dt>
                <dd>
                    <lablel>
                        <input type="checkbox" name="iscommon" class="form-control"
                               {{#iscommon}}checked{{/iscommon}}
                               value="1">
                        <span class="lbl"></span>
                    </lablel>
                </dd>
            {{/fieldList.iscommon}}
        </dl>

        <div class="buttons-bar">
            <button class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>