<div id="readercard">
    <dl class="info-dl">
        {{#fieldList.code}}
            <dt>Код</dt>
            <dd>{{code}}</dd>
        {{/fieldList.code}}
        <dt>Название</dt>
        <dd>{{name}}</dd>
        <dt>Примечание</dt>
        <dd class="divcomment">
            {{comments}}
        </dd>
        <dt>Ссылки</dt>
        <dd class="divlinks">
            {{links}}
        </dd>
        <dt>Ключевые слова</dt>
        <dd>
            {{keywords}}
        </dd>
        {{#fieldList.iscommon}}
            <dt>Тип раздела</dt>
            <dd>{{#iscommon}}Общий{{/iscommon}}{{^iscommon}}Основной{{/iscommon}}</dd>
        {{/fieldList.iscommon}}
    </dl>
</div>