{{! @todo заверстать надобыно нормально }}
<div class="history-list">
    <style>
        .history-list .changed {
            background-color: blue;
            color: white;
        }
    </style>
    {{#items}}
        {{#fields}}
            <div>
                <span>{{name}}:</span>
                <span class="{{#changed}}changed{{/changed}}">{{value}}</span>
            </div>
        {{/fields}}
        <br>
        <br>
    {{/items}}
</div>