{{#pageCount}}
    <div class="pagination">
        {{#first}}
            <span class="first">
                    <a href="{{firstUrl}}">&lt;&lt;</a>
                </span>
        {{/first}}

        {{#previos}}
            <span class="previous">
                    <a href="{{previosUrl}}">&lt;</a>
                </span>
        {{/previos}}

        {{#pages}}
            {{#current}}
                <span class="current">{{ page }}</span>
            {{/current}}
            {{^current}}
                <span class="page">
                    <a href="{{url}}">{{ page }}</a>
                </span>
            {{/current}}
        {{/pages}}

        {{#next}}
            <span class="next">
                <a href="{{nextUrl}}">&gt;</a>
            </span>
        {{/next}}

        {{#last}}
            <span class="last">
            <a href="{{lastUrl}}">&gt;&gt;</a>
        </span>
        {{/last}}
    </div>
{{/pageCount}}
