<form data-bbk-search-form action="/bbk/search/" id="extForm">
    <div class="bbk-search-string">
        <div class="input-group">
            <div style="float: left; width: 100%; position: relative;">
                <input type="text"
                   name="query"
                   class="form-control input-lg"
                   placeholder="Поиск по всем полям"
                   data-virtual-keyboard
                   value="{{ query.query }}">
            </div>
            <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="button" data-bbk-extended-toggler><i></i></button>
                <button class="btn btn-primary btn-lg" type="submit">Найти</button>
            </span>
        </div>
    </div>
    <div class="bbk-dummy">
        <a href="#" data-bbk-extended-toggler>Расширенный поиск</a>
    </div>
    <div class="bbk-search-extended" data-bbk-extended-block>
        <div class="bbk-ext-fieldset lvp">
            <a href="#" class="bbk-ext-close" data-bbk-extended-toggler></a>

            <div class="bbk-ext-grid-row">
                <div class="form-group bbk-ext-field">
                    <label for="bbk-code">Код (индекс ББК)</label>
                    <div class="relative">
                        <input name="code" id="bbk-code" class="form-control" type="text"
                            data-virtual-keyboard
                            value="{{ query.code }}">
                    </div>
                </div>
                <div class="form-group bbk-ext-field">
                    <label for="bbk-maindivision">Основное деление (название раздела)</label>
                    <div class="relative">
                        <input name="maindivision" id="bbk-maindivision" class="form-control" type="text"
                            data-virtual-keyboard
                            value="{{ query.maindivision }}">
                    </div>
                </div>
                <div class="form-group bbk-ext-field">
                    <label for="bbk-locationplan">План расположения</label>
                    <div class="relative">
                        <input name="locationplan" id="bbk-locationplan" class="form-control" type="text"
                            data-virtual-keyboard
                            value="{{ query.locationplan }}">
                    </div>
                </div>
                <div class="form-group bbk-ext-field">
                    <label for="bbk-specialdivision">Специальные и типовые деления</label>
                    <div class="relative">
                        <input name="specialdivision" id="bbk-specialdivision" class="form-control" type="text"
                            data-virtual-keyboard
                            value="{{ query.specialdivision }}">
                    </div>
                </div>
                <div class="form-group bbk-ext-field">
                    <label for="bbk-description">Пояснение к разделу</label>
                    <div class="relative">
                        <input name="description" id="bbk-description" class="form-control" type="text"
                            data-virtual-keyboard
                            value="{{ query.description }}">
                    </div>
                </div>
                <div class="form-group bbk-ext-field">
                    <label>&nbsp;</label>

                    <div class="checkbox">

                        <label>
                            {{#operator}}
                            <input name="bbkhidden" type="checkbox"
                                   {{#query.bbkhidden}}checked{{/query.bbkhidden}}
                                    value="1">
                            <span class="lbl">Только строки, требующие уточнения</span>
                            {{/operator}}
                        </label>

                    </div>
                </div>
                <div class="form-group bbk-ext-field pull-right" role="toolbar">
                    <button class="btn btn-lg btn-default" type="button" onclick="clearForm(document.getElementById('extForm'))" tabindex="5">Очистить поиск</button>
                    <input type="submit" class="btn btn-lg btn-primary" value="Найти">
                </div>
            </div>
        </div>
    </div>
</form>