.step-selector {
    margin-bottom: 20px;
}
.step-selector__item {
    display: inline-block;
    font-size: 16px;
    color: #666;
    position: relative;
    padding: 0 10px;
}

.step-selector__item:after {
    content: '|';
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    color: #666;
}

.step-selector__item:first-child {
    padding-left: 0;
}

.step-selector__item:last-child {
    border-right: none;
}

.step-selector__item:last-child:after {
    display: none;
}
.step-selector__item_link {
    text-decoration: underline;
    color: #0086a6;
    cursor: pointer;
}

.step-selector__item_link:hover {
    text-decoration: none;
}
.step-selector__item_active {
    color: #000;
    text-decoration: none;
}

.steps__wrapper {
    display: none;
}
.steps__footer {
    margin-top: 20px;
}
.steps__wrapper_start {
    display: block;
}
.steps__wrapper_start .steps__footer, .steps__wrapper_start .steps__submit {
    display: none;
}

.steps__wrapper_start .steps__footer_visible {
    display: block;
}
.steps__content .lbl {
    font-size: 14px;
    padding-left: 20px !important;
}
.js-select {
    height: 30px;
    width: 100%;
}

.filter-wrap {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}
.filter-list {
    break-inside: avoid;
}
.filter-list + .filter-list {
    padding-top: 1px;
    margin-top: 20px;
}
.filter-list .checkbox {
    margin-left: 5px;
}
.filter-list__title {
    font-size: 16px;
}


.spinner {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;

    position: relative;
    top: 4px;

    border: 3px solid rgba(0, 134, 166, 1);
    border-bottom-color: #23527c;
    -webkit-animation: rotate 2s linear 0s infinite;
    animation: rotate 2s linear 0s infinite;
}
.steps__loader {
    display: none;
    margin-top: 20px;
}
.steps__content {
    display: none;
    margin-top: 20px;
}

.steps__content_visible {
    display: block;
}
.steps__error {
    display: none;
    color: #f00;
    margin-top: 20px;
}
.steps__row {
    margin-bottom: 10px;
}
.steps__row + .filter-list__title {
    margin-top: 30px;
}
.steps__row label {
    font-size: 14px;
}
.bootstrap-select>.dropdown-toggle {
    height: 30px;
    line-height: 16px;
}
.form-group {
    margin-bottom: 0;
    vertical-align: middle;
    float: none;
    display: inline-block;
    min-height: 30px;
}
.form-group input {
    width: 100%;
}
.checkbox-depend {
    display: none;
}

.checkbox-depend_show {
    display: inline-block;
}
.sort-arrow,
.sort-arrow:focus {
    text-decoration: none;
    opacity: 0.7;
}

.sort-arrow:hover {
    opacity: 1;
}

.filter-calendar,
.datepicker-current {
    height: 30px;
}
.steps__row .del-this-row {
    display: none;
}
.add-next-row,
.del-this-row {
    padding: 4px 12px;
}
.filters-wrap-tmpl {
    display: none;
}
.chosen-select {
    display: none;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}