.lk-title, footer, header {
    display: none;
}
.lk-sidebar { display: none; }
.lk-content { width: 100%; }
.plus_ico {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("/local/templates/adaptive/img/icons.png") no-repeat 0 -533px;
    margin-left: 34px;
    margin-top: 3px;
    cursor: pointer;
}
.minus .plus_ico { background-position: 0 -563px; }
.pagination > li > a > span {
    display: inline;
}
.d-map-form-filter .form-inline .row > div:first-child {
    line-height: 34px;
}
.blk-milk-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background-color: #fff;
    z-index: 11;
    transition: opacity .5s;
}
.blk-milk-shadow .fa {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 12;
    color: #0086a6;
}
.table.table-d-map-list > thead > tr > th {
    vertical-align: top;
}