.library-map {
    width: 100%;
    height: 400px;
    display: none;
}

.library-map .ymap {
    height: 100%;
    width: 100%;
}

.b-bookpopup_in .slide-down-active {
    cursor: pointer;
}

.b-bookpopup_in .slide-down-active:hover h2 {
    color: lightgray;
}

.b-bookpopup_in .slide-down h2 {
    padding-left: 30px;
    background: url('../i/select.png') 0 center no-repeat;
}

.b-bookpopup_in .slide-down .opened h2 {
    background: none;
}

.b-bookpopup_in .slide-down .list-content {
    display: none;
}
.b-bookpopup_in .slide-down.empty-list .list-content {
    display: block;
}
.b-bookpopup_in .slide-down.empty-list h2 {
    background: none;
}
