
/* панель */
.blindmenu { position:fixed; top:0;  height:46px; width:100%; background:url('../i/access/access_02.png') repeat-x 0 0; z-index:1000;}
.blind .blindmenu a {color:#000; text-decoration:none;}
.blind .b-citypopup {  padding: 54px 0 8px; }
.access{
  font: 62.5%/1.3 "Times New Roman",serif;
  height:46px;
  font-size:17px;
  color:#000;
  width:929px;
  margin:0 auto;
  z-index:1000;
  letter-spacing: normal;
  }
  .access a{outline:none}
  .a-fontsize{
    float:left;
    padding-top:13px;
    margin-left:23px;
    display:inline;
    }
    .a-fontsize dt{
      text-shadow:#fff 0 1px 0;
      }
    .a-fontsize dt,.a-fontsize dd{
      float:left;
      }
    .a-fontsize a{text-decoration:none;height:31px;margin-left:5px;display:inline;float:left;background-image:url('../i/access/fontsize.png');position:relative;top:-5px;}
    .a-fontsize-small{
      width:20px;
      height:31px;
      }
      a.a-fontsize-small:hover, .fontsize-small a.a-fontsize-small{background-position:0 -31px;}
    .a-fontsize-normal{
      width:26px;
      background-position:-20px 0;
      }
      a.a-fontsize-normal:hover, .fontsize-normal a.a-fontsize-normal{background-position:-20px -31px;}
    .a-fontsize-big{
      width:26px;
      background-position:-46px 0;
      }
      a.a-fontsize-big:hover, .fontsize-big a.a-fontsize-big{background-position:-46px -31px;}
.a-colors{
    float:left;
    padding-top:13px;
    margin-left:13px;
    display:inline;
    width:200px;
    }
    .a-colors dt{
      text-shadow:#fff 0 1px 0;
      float:left;
      margin-right:10px;
      }
    .a-colors dd{
      float:left;
      }
    .a-colors a{
      height:31px;
      margin-left:5px;
      display:inline;
      float:left;
      background-image:url('../i/access/colors.png');
      position:relative;
      top:-5px;
      text-decoration:none;
      width:26px;
      }
    .eng .a-colors a{
      height:31px;
      margin-left:5px;
      display:inline;
      float:left;
      background-image:url('../i/access/s/eng/colors.png');
      position:relative;
      top:-5px;
      text-decoration:none;
      width:26px;
      }
.a-images{
    float:left;
    padding-top:13px;
    display:inline;
    }
    .a-images dt{
      text-shadow:#fff 0 1px 0;
      float:left;
      margin-right:10px;
      }
    .a-images dd{
      float:left;
      }
.a-images a{
      height:27px;
      margin-left:5px;
      display:inline;
      float:left;
      background-image:url('../i/access/images.png');
      position:relative;
      top:-5px;
      text-decoration:none;
      width:90px;
      }
.eng .a-images a{
      height:27px;
      margin-left:5px;
      display:inline;
      float:left;
      background-image:url('../i/access/s/eng/images.png');
      position:relative;
      top:-5px;
      text-decoration:none;
      width:90px;
      }
      .imagesoff .a-images a{
        background-position:0 -27px;
        }
  .a-search, .a-settings{
    float:left;
    padding-left:49px;
    background:url('../i/access/a-search.png') no-repeat 0 0;
    margin-top:10px;
    padding-top:0px;
    padding-bottom:6px;
    text-shadow:#fff 0 1px 0;
    margin-left:13px;
    display:inline;
    }
  .a-settings{
    /*background-image:url('../i/access/a-settings.png');*/
    background: url('../i/access/a-settings.png') no-repeat -3px 0;
    }
    .a-search a, .a-settings a{
      color:#000;
      }
      .a-settings a{
        padding-right:18px;
        background:url('../i/access/arr.png') no-repeat 100% 60%;
        }
.popped{
  border:2px solid #000;
  background:#9ed1ff;
  position:absolute;
  left:50%;
  margin-left:-445px;
  top:46px;
  width:883px;
  z-index:100;
  padding:13px 21px 23px 21px;
  color:#063462;
  font-family:Arial,sans-serif;
  font-size:20px;
  font-weight:bold;
  display:none;
  }
  .access .popped a{
    color:#063462;
    }
  .popped h2{
    font: bold 44px Arial,sans-serif;
    text-transform: none;
    margin-bottom:15px;
    }
    .popped p span{
      font-weight:normal
      }
  .choose-font-family{
    margin-bottom:10px;
    }
    #serif{
      font-family:"Times New roman",serif;
      }
    .font-family, .letter-spacing{
      padding:2px 4px;
      border:1px solid #063462;
      text-decoration:none;
      -moz-border-radius: 3px;
      -khtml-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius:3px;
      color:#063462;
      }
      .here.font-family, .here.letter-spacing, .spacing-small #spacing-small, .spacing-normal #spacing-normal, .spacing-big #spacing-big,.serif #serif, .sans-serif #sans-serif{
        background:#063462;
        color:#9ed1ff;
        }
  .choose-letter-spacing{
    margin-bottom:1em;
    }
#spacing-small{letter-spacing:0px;}
#spacing-normal{letter-spacing:2px;}
#spacing-big{letter-spacing:5px;}
.choose-colors{
  font-size:22px;
  list-style:none;
  }
  .choose-colors a{
    display:block;
    padding:10px 22px;
    text-decoration:none;
    zoom:1;
    }
    .choose-colors a span{display:none}
.saveit{
  width:100%;
  overflow:hidden;
  font-size:22px;
  font-weight:bold;
  margin-top:15px;
  padding:5px 0;
  }
   .access .saveit a{
    float:right;
    border:4px solid #063462;
    text-decoration:none;
    color:#9dd1ff;
    background:#063462;
    margin-left:28px;
    display:inline
    
    }
    .saveit a span{
      padding:6px 14px;
      border:2px solid #9dd1ff;
      float:left;
      }

.saveit a {
    color: #9dd1ff;
}


/* =font-size
----------------------------------------------- */
.fontsize-big .homepage {font-size:23px}
.fontsize-small .homepage {font-size:14px}
.fontsize-normal .homepage {font-size:16px}

/* =spacing
----------------------------------------------- */
.spacing-normal .homepage, .spacing-normal .popped{letter-spacing:2px}
.spacing-big .homepage,.spacing-big .popped{letter-spacing:5px}
.sans-serif .homepage,.sans-serif .nav a,.sans-serif .subnav a,.sans-serif .footer,.sans-serif  h2, .sans-serif .popped{
  font-family:Arial,sans-serif
  }
.serif .popped{font-family:Georgia,serif}
.imagesoff .b_bookpopular_photo {
  display:none !important;
  }
 
.imagesoff.blind .succsestxt .black.l-print:before {display:none;}
.imagesoff.blind   .b-bookframe {background:none;}
.imagesoff.blind .b_logo {text-indent:-999em; display:inline-block; color:#000; font-size:2em; line-height:1.2em; height:62px; font-weight:bold; text-decoration:none;}
.imagesoff.blind .b-mainslider_photo {display:none;}
.imagesoff.blind .b-footer_nav {margin-left:0;}
.imagesoff.blind .b-result-docphoto {display:none;}
.imagesoff.blind .b-result-docinfo {width:100%; margin-left:40px;}

.blind h1	
	{
	font-size: 1.8em;
	margin:40px 0;

	}
.blind a {
	color: #000; /* see other colors at end of file */
	text-decoration: underline;
	}
.blind a:hover {
	color: #000; /* see other colors at end of file */
	text-decoration: none;
	}
.blindmenu + .mainheader { 
	margin-top: 46px;
	letter-spacing: normal;
}
.blind header {background:none; border-bottom: 2px solid #848484;}

.blind a.b-headernav_login_lnk {
    border-top:0 none;
	padding-top:16px;
  margin-left: 0;
}
.blind a.b-portalabout_lnk {border-bottom:0 none;}
.blind .b-headernav-apps {padding-top:16px;}
.blind  footer{background:none; border-top: 3px solid #000;}
.blind .b_logo {text-indent:-999em; background:url('../i/logo_1.png') no-repeat 0 0;  width:267px; height:62px;}
.blind .b-portalinfo_number {background:none;}
.blind .b-search_exlink {border-bottom:0; }
.blind .b-search_exlink:hover {color:#000000; text-decoration: none;}

.blind  .b-search_bth, .blind .button_b, .blind .homepage .formbutton,.blind .formbutton,.blind .innersection .formbtn,.blind .formbtn {background:#000000; color:#ffffff;}
.blind .b-text,.blind .b-map_tb, .blind  .input, .blind  .textarea, .blind  textarea.textarea, .blind .b-form .inpseltxt   {
	color:#000000;
	background:0 none;
	border-color:#000000;
	  -webkit-box-shadow: none;
  -moz-box-shadow:  none;
  box-shadow: none;
  }
 .blind .b-search_fieldtb::-moz-placeholder          {color:#000000; font-style: normal; }/* Firefox 19+ */
.blind .b-search_fieldtb:-moz-placeholder           {color:#000000; font-style: normal; }/* Firefox 18- */
.blind .b-search_fieldtb:-ms-input-placeholder      {color:#000000; font-style: normal;}
.blind .b-search_fieldtb::-webkit-input-placeholder {color:#000000; font-style: normal; }
.blind .b-search_fieldtb.placeholder { color:#000000; font-style: normal;  }
.blind  .b-mainslider_descr h3 {color:#000000;}
.blind .b-bookinfo_wrapper {margin-top:20px;}
.blind .searchform {margin-bottom:20px;}
.blind .b-bookinfo_new .b-bookboard_list .b_popular_descr h4,
.blind .b-bookinfo_new .b-bookboard_list .b_popular_descr .b-autor,
.blind .b-bookinfo_new .b-bookboard_list .b_popular_descr .b-result_sorce_info {
	margin-left:15px; width:auto;
}
.blind .b-bookinfo_new .b-bookboard_list .b_popular_descr .b-autor {display:block;}
.blind .b-mainslider .sliderinner {background:none;}
.blind .b-commonnav a.current, .blind .b-commonnav a:hover {
    color: #000000;
}
.blind .b-commonnav a.current {font-weight:bold;}
.blind .b-commonlist li:before {  background: #000000;}
.blind .b-collectionpage .button_mode {position:relative; bottom:auto; left:auto; top:auto; right:auto; display:block; padding-left:15px;}
.blind .b-collupdate {margin-top:0; margin-bottom:10px;}
.blind .b-bookincoll {position:relative; bottom:auto; left:auto; top:auto; right:auto; display:block}
.blind .b-collection_descr .b-result_sorce_info {margin:10px 0;}
.blind .b-resultbook-info li {display:block; width:auto;line-height: 1.2em;}
.blind .b-paging_prev, .blind .b-paging_next {text-indent:-999em;}
.blind .b-paging_num.current {font-weight:bold;}
.blind .b-paging_num.current, .blind .b-paging_num:hover {background:none;}
.blind .b-paging_cnt {background:none;}
.blind  .b-map_search_filtr {position:relative; bottom:auto; left:auto; top:auto; right:auto;}
.blind .b-map_search {
	text-align:left;
	background:none;
  -webkit-box-shadow: none;
  -moz-box-shadow:  none;
  box-shadow: none;
}
.blind .b-bookpopup_in { background: #fff; }
.blind .searchform .b_search_date .b-text { height: 19px; padding: 11px 15px; width: 50px; }
.blind .b-map_tb::-moz-placeholder          {color:#000000; font-style: normal; }/* Firefox 19+ */
.blind .b-map_tb:-moz-placeholder           {color:#000000; font-style: normal; }/* Firefox 18- */
.blind .b-map_tb:-ms-input-placeholder      {color:#000000; font-style: normal;}
.blind .b-map_tb::-webkit-input-placeholder {color:#000000; font-style: normal; }
.blind .b-map_tb.placeholder { color:#000000; font-style: normal;  }
.blind  .b-map_tb h3, .blind .fieldcell em.hint {color:#000000;}
.blind .b-elar_address_txt:before  {display:none;}
.blind  .b-collectionpage .button_mode { width: auto;  }
.blind .b-elar_address_txt { line-height: 1.2em; }
.blind .popup_esia .data-form-authn dl.button-authn .button-big {width:auto; background:#000000;}
.blind .popup_esia .data-form-authn dl.button-authn .button-big span {background:none;}
.blind .popup_esia .data-form-authn dl.button-authn .button-big span:before, .blind .popup_esia .data-form-authn dl.button-authn .button-big span:after {display:none;}
.blind  .popup_esia .simple-cover {padding:10px;}
.blind .popup_esia input.ui-inputfield, .blind .popup_esia textarea.ui-inputfield {border-color:#000000; background:none;}
.blind .popup_esia .data-form dt {margin:10px 8px;}
.blind  .b-profile_nav > li > a:before {display:none;}
.blind  .b-profile_side {font-size:1.25em; text-align:left; margin-left:10px; display:inline-block; vertical-align:top; width:auto; margin-bottom:10px; background:none;line-height: 1em;}
.blind .b-profile_nav > li > a.current {color:#000000; font-weight:bold;}
.blind a.b-portalabout_lnk, .blind .b-litebt, .blind .b-listlink, .blind .b-collection_descr .b-lib_photoslink, .blind .b-quoteformat,.blind .b-sidenav_tb, .b-fieldeditable .txt, .b-form .b-fieldeditable .txt,
.blind .selection_lb, .blind  .selectionBlock .checkwrapper label, .blind .b-selectionadd, .blind  .b-selectionadd .input,.blind  .popup_esia input[type="checkbox"] + label,.blind .b-digitizing_mass_action   {font-size:0.875em;}
.blind h2.stylehead {font-size:2.25em; line-height:1.11em;}
.blind .button_b {font-size:1em;}
.blind .b-loadlogo .b-loadlogofield {font-size:0.625em;}
.blind .b-fieldtext {  font: 0.875em/1.43em Arial,sans-serif; }
.blind .slidetext {font-size:0.8125em;}
.blind  .b-line_social .b-login_slnk {font-size:0.75em;}
.blind .b-selectionaddsign {font-size:1.25em;}
.blind .popup_esia .button-big .ui-button-text {font-size:0.9375em;}
.blind .b-portalinfo_number {line-height:0.762em;}
.blind  .fieldcell em.error  {line-height:2.571em;}
.blind label, .blind  .label {line-height:1.43em;}
.blind .b-header_lang  a, .blind a.formbutton.small {line-height:1.916666em;}
.blind .b-headerapps_img span {line-height:1.66666em;}
.blind .input, .blind .button_blue , .blind .button_blue:hover,.blind .button_gray , .blind .button_gray:hover,.blind .button_orange , .blind .button_orange:hover {line-height:2.5em;}
.blind .formbutton.small  {line-height:1.41666em;}
.blind .formbutton.middle {line-height:1em;}
.blind .innersection .formbtn, .blind .formbtn {line-height:2.786em;}
.blind .inpseltxt, .blind .optcontainer {line-height:1.5em;}
.blind .optcontainer a {line-height:0.857em;}
.blind  .button_back {line-height:1.333em;}
.blind .b-searchresult_tag, .blind .b-searchresult_lb {line-height:1.643em;}
.blind  .b-searchresult_bt {line-height:1em;}
.blind .b-form_common label span {line-height:1.143em;}
.blind  .b-regform .formbutton {line-height:2.047em;}
.blind .b-bookpopup_in .b-infobox {background:none;}
.blind .b-infobox:before,.blind .b-infobox:after {display:none;}
.blind .b-form .inpseltxt:after {background-color:transparent;}
.blind .optcontainer a:hover {background:none;}
.blind .b-login_social {border:0 none;}
.blind .b-headernav_login { margin-right: 4px; min-width: auto; }
.blind .b-headernav { padding-right: 0; }
.blind  header a.b-headernav_login_lnk { padding-right: 10px; padding-left: 10px; }
.blind header .b-headernav_original { margin-right: 5px; }
.blind.fontsize-big .b-bookinfo_tit .b-searchpage_lnk { font-size: 0.8em; }
.blind .b-bookinfo_new { border-right: 1px solid #cecdcd; margin-right: -1px; }
.blind.fontsize-big .b-bookinfo_tit h2 { font-size: 27px; }
.blind .b-search_bth { line-height: 33px; }
.blind.fontsize-big .searchform .b-search_field .b-text { padding-top: 10px; padding-bottom: 10px; }

.blind .b-header_lang a.en { width: auto; padding: 0; }
/* color1*/
body.color1 .innersection,body.color1  {
    background: #F5F5DC;
    color: #000000;
}
.color1 .b-commonlist li:before {  background: #000000;}

.a-color1{}
.a-color1:hover,.color1 .a-color1{background-position:0 -31px;}
#color1 a{color:#000000 !important;background:#F5F5DC}

.color1 #color1 span {
	display:inline;
	margin-right:5px;
	}
.color1.blind .blindmenu .popped{
  border-color:#000;
  background:#F5F5DC;
  color:#000;
}
.color1 .popped a,.color1 .access .popped a {color:#000}
.color1 .font-family, .color1  .letter-spacing{color:#000;border-color:#000}
.color1 .here.font-family,.color1 .here.letter-spacing,.color1.spacing-small #spacing-small,.color1.spacing-normal #spacing-normal,.color1.spacing-big   #spacing-big,.color1.serif  #serif,.color1.sans-serif #sans-serif{color:#fff;background:#000}
.color1 .saveit a{background:#000;border-color:#000}
.color1 .saveit a span{border-color:#fff;color:#fff}
.color1 .b-commonnav a.current, .color1 .b-commonnav a:hover {
    color: #000000;
}
.color1 .b-paging_num.current {color:#000000;}

.color1 .b-result-doc h2 a, .color1 .b-result-docinfo h2 a {color:#000000;}
/**/
/* color2*/
.color2 a {
	color: #ffffff; /* see other colors at end of file */
	text-decoration: underline;
	}
.color2 a:hover {
	color: #ffffff; /* see other colors at end of file */
	text-decoration: none;
	}
.color2  a.black,.color2  a.black:link, .color2  a.black:visited {color: #ffffff;}

.color2 header { border-bottom: 2px solid #ffffff;}
.color2  footer{ border-top: 3px solid #ffffff;}

.a-color2{background-position:-26px 0;}
.a-color2:hover,.color2 .a-color2{background-position:-26px -31px;}
.color2.blind .blindmenu .popped {
    background: #000;
    border-color: #fff;
    color: #fff;
}

 #color2 a{color:#ffffff !important;background:#000}
.color2 #color2 span {
	display:inline;
	margin-right:5px;
	}
.color2 .saveit a {
    background:  #fff;
    border-color: #fff;
}

.color2 .saveit a span {
    border-color: #000;
    color: #000;
}
.color2 .b-profile_nav > li > a,.color2 .b-profile_nav > li > a.current {color:#ffffff;}

body.color2 .innersection,body.color2  {
    background: #000;
    color: #fff;
}
.color2 .optcontainer {  background: #000; border-color:#fff;}

.color2 .b_logo {background:url('../i/access/logo_1_2.png') no-repeat 0 0;}

.imagesoff.color2 .b_logo {color:#ffffff;}
.color2 .b-search_exlink:hover {color:#ffffff;}

.color2  .b-search_bth, .color2 .button_b, .color2 .homepage .formbutton,.color2 .formbutton,.color2 .innersection .formbtn,.color2 .formbtn {background:#6e6e6e; color:#ffffff;}
.color2  .b-search_bth:hover, .color2 .button_b:hover, .color2 .homepage .formbutton:hover,.color2 .formbutton:hover,.color2 .innersection .formbtn:hover,.color2 .formbtn:hover {background:#888; color:#ffffff;}
.color2 .b-text, .color2 .b-map_tb, .color2  .input, .color2  .textarea, .color2  textarea.textarea, .color2 .b-form .inpseltxt  {
	color:#ffffff;
	border-color:#ffffff;
  }
 .color2 .b-search_fieldtb::-moz-placeholder          {color:#ffffff;  }/* Firefox 19+ */
.color2 .b-search_fieldtb:-moz-placeholder           {color:#ffffff; }/* Firefox 18- */
.color2 .b-search_fieldtb:-ms-input-placeholder      {color:#ffffff;}
.color2 .b-search_fieldtb::-webkit-input-placeholder {color:#ffffff;  }
.color2 .b-search_fieldtb.placeholder { color:#ffffff;  }
 .color2 .b-map_tb::-moz-placeholder          {color:#ffffff; font-style: normal; }/* Firefox 19+ */
.color2 .b-map_tb:-moz-placeholder           {color:#ffffff; font-style: normal; }/* Firefox 18- */
.color2 .b-map_tb:-ms-input-placeholder      {color:#ffffff; font-style: normal;}
.color2 .b-map_tb::-webkit-input-placeholder {color:#ffffff; font-style: normal; }
.color2 .b-map_tb.placeholder { color:#ffffff; font-style: normal;  }

.color2  .b-mainslider_descr h3 {color:#ffffff;}
.color2 .b-commonnav a.current, .color2 .b-commonnav a:hover {
    color: #ffffff;
}
.color2 .b-commonlist li:before {  background: #ffffff;}
.color2 .b-paging_num.current {color:#ffffff;}
.color2 .b-result-doc h2 a, .color2 .b-result-docinfo h2 a {color:#ffffff;}
.color2 .b-bookinfo_popular h4, .color2 .b-bookinfo_new .b-bookboard_list .b_popular_descr h4 {color:#ffffff;}
.color2 footer {color:#ffffff;}
.color2 header a,.color2 a.b-headernav_lnk.current, .color2 a.b-headernav_lnk:hover {color:#ffffff;}
.color2 .innersection,.color2 .optcontainer a + a:before,.color2 .b-form hr  {border-color:#ffffff;}
.color2 .b-plaintext h4  {color:#ffffff;}
.color2 .b-commonlist {color:#ffffff;}
.color2 .b-bookhover_tit {color:#ffffff;}
.color2 .b-collection-item h2 a {color:#ffffff;}
.color2 .b-form_common label, .color2 .b-checkuserfail h3 {color:#ffffff;}
.color2 .b-map_tb h3, .color2 .fieldcell em.hint, .color2 .b-elar_name_txt,.color2 .b-elar_address_txt {color:#ffffff;}
.color2 .b-form_common .checkwrapper a {color:#ffffff;}
.color2 .popup_esia .button-big .ui-button-text {color:#ffffff}
.color2 .popup_esia .data-form-authn dl.button-authn .button-big { background:#6e6e6e; color:#ffffff}
.color2 .popup_esia input.ui-inputfield, .color2 .popup_esia textarea.ui-inputfield {border-color:#ffffff;}
.color2 .checkbox span { background-image: url("../i/checkbox_black.png"); }
.color2  .succsestxt .nechb, .color2 .succsestxt span {color:#ffffff;}
.color2 .b-search_ex {  background-color: transparent;   }
.color2 .b-search_ex .wrapper:before { background-image: url("../i/tr_black.png"); }
/**/

/* color3*/
.color3.blind .blindmenu .popped {
  background:#191970;
  color: #FFFF00;
}
.color3 .testmode, .color3 .b-portalinfo_number, .color3 .b_search_datelb, .color3 .access .popped a  { 
  color: #FFFF00;
}
.color3 a, .color3 .b-bookinfo_new .b-bookboard_list .b_popular_descr h4 a, .color3 .b-bookinfo_popular h4 a, .color3 label {
	color: #F0E68C; /* see other colors at end of file */
	text-decoration: underline;
	}
.color3 a:hover {
	color: #F0E68C; /* see other colors at end of file */
	text-decoration: none;
	}
.color3  a.black,.color3  a.black:link, .color3  a.black:visited {color: #F0E68C;}

.color3 header {background:none; border-bottom: 2px solid #FFFF00;}
.color3 .b_logo {background:url('../i/access/logo_1_2.png') no-repeat 0 0;}

.imagesoff.color3 .b_logo {color:#FFFF00;}
.color3  footer{ border-top: 3px solid #FFFF00;}

      .a-color3{background-position:100% 0;}
      .a-color3:hover,.color3 .a-color3{background-position:100% -31px;}
  #color3 a{color:#F0E68C !important;background:#191970;border:6px solid #F0E68C;padding:4px 16px}

.color3 #color3 span {
	display:inline;
	margin-right:5px;
	}
  .color3 .b-search_ex { 
    /*background-image: url("../i/border_1blue.png"); */
    background-color: transparent;   
  }
  .color3 .b-search_ex .wrapper:before { background-image: url("../i/tr_blue.png"); }
body.color3 .innersection, body.color3 {
    background: #191970;
    color: #FFFF00;
}
.color3 .optcontainer {  background: #191970; border-color:#063462;}
.color3 .b-profile_nav > li > a,.color3 .b-profile_nav > li > a.current {color:#FFFF00;}
.color3 .checkbox span { background-image: url("../i/checkbox_blue.png"); }
.color3 .b-search_exlink:hover {color:#FFFF00;}

.color3  .b-search_bth, .color3 .button_b, .color3 .homepage .formbutton,.color3 .formbutton,.color3 .innersection .formbtn,.color3 .formbtn {background:#4a86bc; color:#191970;}
.color3 .b-text, .color3 .b-map_tb, .color3  .input, .color3  .textarea, .color3  textarea.textarea, .color3 .b-form .inpseltxt  {
	color:#FFFF00;
	border-color:#FFFF00;
  }
 .color3 .b-search_fieldtb::-moz-placeholder          {color:#FFFF00;  }/* Firefox 19+ */
.color3 .b-search_fieldtb:-moz-placeholder           {color:#FFFF00; }/* Firefox 18- */
.color3 .b-search_fieldtb:-ms-input-placeholder      {color:#FFFF00;}
.color3 .b-search_fieldtb::-webkit-input-placeholder {color:#FFFF00;  }
.color3 .b-search_fieldtb.placeholder { color:#FFFF00;  }
 .color3 .b-map_tb::-moz-placeholder          {color:#FFFF00; font-style: normal; }/* Firefox 19+ */
.color3 .b-map_tb:-moz-placeholder           {color:#FFFF00; font-style: normal; }/* Firefox 18- */
.color3 .b-map_tb:-ms-input-placeholder      {color:#FFFF00; font-style: normal;}
.color3 .b-map_tb::-webkit-input-placeholder {color:#FFFF00; font-style: normal; }
.color3 .b-map_tb.placeholder { color:#FFFF00; font-style: normal;  }

.color3  .b-mainslider_descr h3 {color:#FFFF00;}

.color3 .b-commonnav a.current, .color3 .b-commonnav a:hover {
    color: #FFFF00;
}
.color3 .b-commonlist li:before {  background: #FFFF00;}
.color3 .b-paging_num.current {color:#FFFF00;}
.color3 .b-result-doc h2 a, .color3 .b-result-docinfo h2 a {color:#F0E68C;}
.color3 .b-bookinfo_popular h4, .color3 .b-bookinfo_new .b-bookboard_list .b_popular_descr h4 {color:#FFFF00;}
.color3 footer {color:#FFFF00;}
.color3 header a,.color3 a.b-headernav_lnk.current, .color3 a.b-headernav_lnk:hover {color:#F0E68C;}
.color3 .b-portalinfo_num,.color3 .b-autor, .color3 .b-result_sorce_info,.color3 .b-bookinfo_tit .b-searchpage_lnk  { color: #FFFF00;}
.color3 .innersection, .color3 .b-profile_side,.color3 .b-profile_brd {border-color:#FFFF00;}
.color3 .b-plaintext h4  {color:#FFFF00;}
.color3 .b-commonlist {color:#FFFF00;}
.color3 .b-commonnav {border-color:#FFFF00;}
.color3 .b-bookhover_tit {color:#FFFF00;}
.color3 .b-bookpopup_in .b-resultbook-info, .color3 .b-bookhover,.color3 .b-result-doc .b-result-docitem + .b-result-docitem, 
.color3 .mode .b-collection-item,.color3 .optcontainer a + a:before, .color3 .b-elar_usrs_list li,.color3 .b-form hr  {border-color:#FFFF00;}
.color3 .b-infobox .tit, .color3 .b-resultbook-info span, .color3 .b-collupdate   {color:#FFFF00;}
.color3 .b-collection-item h2 a {color:#FFFF00;}
.color3 .b-form_common label, .color3 .b-checkuserfail h3 {color:#FFFF00;}
.color3 .b-map_tb h3, .color3 .fieldcell em.hint, .color3 .b-elar_name_txt, .color3 .b-elar_address_txt, .color3 .b-elar_status, .color3 .b-profile_reg    {color:#FFFF00;}
.color3 .b-form_common .checkwrapper a {color:#FFFF00;}
.color3 .popup_esia .data-form-authn dl.button-authn .button-big {background:#4a86bc; color:#191970;}
.color3 .popup_esia input.ui-inputfield, .color3 .popup_esia textarea.ui-inputfield {border-color:#FFFF00;}
.color3 .popup_esia .button-big .ui-button-text {color:#191970}
.color3  .succsestxt .nechb, .color3 .succsestxt span {color:#FFFF00;}

/**/
/* color4*/
.color4 a {
	color: #4d4b43; /* see other colors at end of file */
	text-decoration: underline;
	}
.color4 a:hover {
	color: #4d4b43; /* see other colors at end of file */
	text-decoration: none;
	}
.color4  a.black,.color4  a.black:link, .color4  a.black:visited {color: #4d4b43;}

.color4 header {background:none; border-bottom: 2px solid #4d4b43;}
.color4 .b_logo {background:url('../i/access/logo_1_4.png') no-repeat 0 0;}
.imagesoff.color4 .b_logo {color:#4d4b43;}
.color4  footer{ border-top: 3px solid #4d4b43;}

body.color4, body.color4 .innersection {
    background: #f7f3d6;
    color: #59422e;
}
.color4 .optcontainer {  background: #f7f3d6; border-color:#59422e;}

.color4.blind .blindmenu .popped {
    background: #f7f3d6;
    border-color: #59422e;
    color: #59422e;
}
 #color4 a{color:#4d4b43 !important;background:#f7f3d6}
.color4 #color4 span {
	display:inline;
	margin-right:5px;
	}
.color4 .saveit a {
    background: 0 #59422e;
    border-color: #59422e;
}

.color4 .saveit a span {
    border-color: #f7f3d6;
    color: #f7f3d6;
}

.color4 .b-search_exlink:hover {color:#ffffff;}
.color4 .b-profile_nav > li > a,.color4 .b-profile_nav > li > a.current {color:#59422e;}

.color4  .b-search_bth, .color4 .button_b, .color4 .homepage .formbutton,.color4 .formbutton,.color4 .innersection .formbtn,.color4 .formbtn {background:#868376; color:#f7f3d6;}
.color4 .b-text, .color4 .b-map_tb, .color4  .input, .color4  .textarea, .color4  textarea.textarea, .color4 .b-form .inpseltxt  {
	color:#4d4b43;
	border-color:#4d4b43;
  }
 .color4 .b-search_fieldtb::-moz-placeholder          {color:#4d4b43;  }/* Firefox 19+ */
.color4 .b-search_fieldtb:-moz-placeholder           {color:#4d4b43; }/* Firefox 18- */
.color4 .b-search_fieldtb:-ms-input-placeholder      {color:#4d4b43;}
.color4 .b-search_fieldtb::-webkit-input-placeholder {color:#4d4b43;  }
.color4 .b-search_fieldtb.placeholder { color:#4d4b43;  }
 .color4 .b-map_tb::-moz-placeholder          {color:#4d4b43; font-style: normal; }/* Firefox 19+ */
.color4 .b-map_tb:-moz-placeholder           {color:#4d4b43; font-style: normal; }/* Firefox 18- */
.color4 .b-map_tb:-ms-input-placeholder      {color:#4d4b43; font-style: normal;}
.color4 .b-map_tb::-webkit-input-placeholder {color:#4d4b43; font-style: normal; }
.color4 .b-map_tb.placeholder { color:#4d4b43; font-style: normal;  }


.color4  .b-mainslider_descr h3 {color:#4d4b43;}

.color4 .b-commonnav a.current, .color4 .b-commonnav a:hover {
    color: #4d4b43;
}
.color4 .b-commonlist li:before {  background: #4d4b43;}
.color4 .b-paging_num.current {color:#4d4b43;}
.color4 .b-result-doc h2 a, .color4 .b-result-docinfo h2 a {color:#4d4b43;}
.color4 .b-bookinfo_popular h4, .color4 .b-bookinfo_new .b-bookboard_list .b_popular_descr h4 {color:#4d4b43;}
.color4 footer {color:#4d4b43;}
.color4 header a,.color4 a.b-headernav_lnk.current, .color4 a.b-headernav_lnk:hover {color:#4d4b43;}
.color4 .b-portalinfo_num,.color4 .b-autor, .color4 .b-result_sorce_info,.color4 .b-bookinfo_tit .b-searchpage_lnk  { color: #4d4b43;}
.color4 .innersection, .color4 .b-profile_side,.color4 .b-profile_brd {border-color:#4d4b43;}
.color4 .b-plaintext h4  {color:#4d4b43;}
.color4 .b-commonlist {color:#4d4b43;}
.color4 .b-commonnav {border-color:#4d4b43;}
.color4 .b-bookhover_tit {color:#4d4b43;}
.color4 .b-bookpopup_in .b-resultbook-info,.color4 .b-bookhover, .color4 .b-result-doc .b-result-docitem + .b-result-docitem,.color4 .b-paging_cnt, .color4 .b-paging_num, 
.color4 .mode .b-collection-item,.color4 .optcontainer a + a:before, .color4 .b-elar_usrs_list li,.color4 .b-form hr {border-color:#4d4b43;}
.color4 .b-infobox .tit, .color4 .b-resultbook-info span, .color4 .b-collupdate   {color:#59422e;}
.color4 .b-collection-item h2 a {color:#59422e;}
.color4 .b-form_common label, .color4 .b-checkuserfail h3 {color:#59422e;}
.color4 .b-map_tb h3, .color4 .fieldcell em.hint, .color4 .b-elar_name_txt, .color4 .b-elar_address_txt,  .color4 .b-elar_status, .color4 .b-profile_reg    {color:#59422e;}
.color4 .b-form_common .checkwrapper a {color:#59422e;}
.color4 .popup_esia .data-form-authn dl.button-authn .button-big { background:#868376; color:#f7f3d6;}
.color4 .popup_esia input.ui-inputfield, .color4 .popup_esia textarea.ui-inputfield {border-color:#59422e;}
.color4 .popup_esia .button-big .ui-button-text {color:#f7f3d6}
.color4  .succsestxt .nechb, .color4 .succsestxt span {color:#59422e;}


/**/
/* color5*/

.color5 a {
	color: #a9e44d; /* see other colors at end of file */
	text-decoration: underline;
	}
.color5 a:hover {
	color: #a9e44d; /* see other colors at end of file */
	text-decoration: none;
	}

.color5  a.black,.color5  a.black:link, .color5  a.black:visited {color: #a9e44d;}
.color5 header {background:none; border-bottom: 2px solid #a9e44d;}
.color5 .b_logo {background:url('../i/access/logo_1_5.png') no-repeat 0 0;}
.imagesoff.color5 .b_logo {color:#a9e44d;}
.color5  footer{ border-top: 3px solid #a9e44d;}

body.color5, body.color5 .innersection  {
    background: #3b2716;
    color: #a9dd38;
}
.color5 .saveit a {
    background: #3b2716;
    border-color: #a9dd38;
}

.color5 .optcontainer {  background: #3b2716;  border-color:#a9dd38;}
.color5 .saveit a span {
    border-color: #3b2716;
    color: #a9dd38;
}
.color5.blind .blindmenu .popped {
    background: #3b2716;
    border-color: #a9dd38;
    color: #a9dd38;
}
 #color5 a{color:#a9e44d !important;background:#3b2716}
.color5 #color5 span{
display:inline;
margin-right:5px;
}
.color5 .b-search_exlink:hover {color:#ffffff;}
.color5 .b-profile_nav > li > a,.color5 .b-profile_nav > li > a.current {color:#a9e44d;}

.color5  .b-search_bth, .color5 .button_b, .color5 .homepage .formbutton,.color5 .formbutton,.color5 .innersection .formbtn,.color5 .formbtn {background:#cef295; color:#3b2716;}
.color5 .b-text, .color5 .b-map_tb, .color5  .input, .color5  .textarea, .color5  textarea.textarea, .color5 .b-form .inpseltxt  {
	color:#a9e44d;
	border-color:#a9e44d;
  }
 .color5 .b-search_fieldtb::-moz-placeholder          {color:#a9e44d;  }/* Firefox 19+ */
.color5 .b-search_fieldtb:-moz-placeholder           {color:#a9e44d; }/* Firefox 18- */
.color5 .b-search_fieldtb:-ms-input-placeholder      {color:#a9e44d;}
.color5 .b-search_fieldtb::-webkit-input-placeholder {color:#a9e44d;  }
.color5 .b-search_fieldtb.placeholder { color:#a9e44d;  }
 .color5 .b-map_tb::-moz-placeholder          {color:#a9e44d; font-style: normal; }/* Firefox 19+ */
.color5 .b-map_tb:-moz-placeholder           {color:#a9e44d; font-style: normal; }/* Firefox 18- */
.color5 .b-map_tb:-ms-input-placeholder      {color:#a9e44d; font-style: normal;}
.color5 .b-map_tb::-webkit-input-placeholder {color:#a9e44d; font-style: normal; }
.color5 .b-map_tb.placeholder { color:#a9e44d; font-style: normal;  }

.color5  .b-mainslider_descr h3 {color:#a9e44d;}

.color5 .b-commonnav a.current, .color5 .b-commonnav a:hover {
    color: #a9e44d;
}
.color5 .b-commonlist li:before {  background: #a9e44d;}
.color5 .b-paging_num.current {color:#a9e44d;}
.color5 .b-result-doc h2 a, .color5 .b-result-docinfo h2 a {color:#a9e44d;}

.color5 .b-bookinfo_popular h4, .color5 .b-bookinfo_new .b-bookboard_list .b_popular_descr h4 {color:#a9e44d;}
.color5 footer {color:#a9e44d;}
.color5 header a,.color5 a.b-headernav_lnk.current, .color5 a.b-headernav_lnk:hover {color:#a9e44d;}
.color5 .b-portalinfo_num,.color5 .b-autor, .color5 .b-result_sorce_info,.color5 .b-bookinfo_tit .b-searchpage_lnk  { color: #a9e44d;}
.color5 .b-portalinfo_number {color:#a9dd38;}
.color5 .innersection, .color5 .b-profile_side,.color5 .b-profile_brd {border-color:#a9dd38;}
.color5 .b-plaintext h4  {color:#a9dd38;}
.color5 .b-commonlist {color:#a9dd38;}
.color5 .b-commonnav {border-color:#a9dd38;}
.color5 .b-bookhover_tit {color:#a9dd38;}
.color5 .b-bookpopup_in .b-resultbook-info,.color5 .b-bookhover,.color5 .b-result-doc .b-result-docitem + .b-result-docitem,.color5 .b-paging_cnt,.color5 .b-paging_num, 
.color5 .mode .b-collection-item,.color5 .optcontainer a + a:before, 
.color5 .b-elar_usrs_list li,.color5 .b-form hr  {border-color:#a9dd38;}
.color5 .b-infobox .tit, .color5 .b-resultbook-info span, .color5 .b-collupdate  {color:#a9dd38;}
.color5 .b-collection-item h2 a {color:#a9dd38;}
.color5 .b-form_common label, .color5 .b-checkuserfail h3 {color:#a9dd38;}
.color5 .b-map_tb h3, .color5 .fieldcell em.hint, .color5 .b-elar_name_txt, .color5 .b-elar_address_txt, .color5 .b-profile_reg  {color:#a9dd38;}
.color5 .b-form_common .checkwrapper a {color:#a9dd38;}
.color5 .popup_esia .data-form-authn dl.button-authn .button-big { background:#cef295; color:#3b2716;}
.color5 .popup_esia input.ui-inputfield, .color5 .popup_esia textarea.ui-inputfield {border-color:#a9dd38;}
.color5 .popup_esia .button-big .ui-button-text {color:#3b2716}
.color5  .succsestxt .nechb, .color5 .succsestxt span {color:#a9dd38;}

/**/


/*NEW 1.03.15*/


.color1 .inpseltxt {background: #FFFFFF;color: #000;border-color: #000000;}
.color2 .inpseltxt {background: #000;color: #fff;}
.color3 .inpseltxt {background: #9dd1ff;color: #4a86bc;border-color: #063462;}
.color4 .inpseltxt {background: #fff;color: #868376;border-color: #4d4b43;}
.color5 .inpseltxt {background: #fff;color: #cef295;border-color: #a9e44d;}


header a.b-headernav_login_lnk:hover {text-decoration: underline;}
div.forum-filter-footer input {margin: 0.2em;background: #6e6e6e;color: #ffffff;border: none;font-size: 1.3125em;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;border: none;width: 130px;padding: 5px 0 7px;cursor: pointer;float: left;margin-left: 10px;line-height: 1.3125em;height: 43px;font-weight: 300;}
table.forum-table th {padding: 0.462em 0.3em;}
div.forum-filter-footer input {width: 5em;height: 2em;}
table.forum-table tr.forum-row-first td {line-height: 1.2em;}
div.forum-filter-field span.forum-filter-field-item input {border-radius: 5px;padding: 10px 10px;font-size: 1em;} 
div.forum-filter select {border-radius: 5px;padding: 10px 10px;width: 15em;font-size: 1em;}
div.forum-filter-field {height: 4em;}
.b-rolledtext .b-rolled_in:after {background: none;}
.fontsize-big .b-usertable {width: 100%;font-size: 0.875em;}
.b-mainblock {width: 100%;}
.b-lib_descr {margin-left: 15px;max-width: 100%;}
.b-side {width: 100%;}
.b-formquiz.b-form_common .fieldrow {margin: 0;text-align: center;}
.b-formquiz.b-form_common label {width: 70%;}
.b-lib_contact {width: 100%;}

.fontsize-big  .b-newslider .slick-prev {left: 500px;width: 22px;top: -66px;}
.fontsize-big .b-newslider .slick-next {left: 531px;width: 22px;top: -66px;}
.fontsize-normal .b-newslider .slick-next {left: 387px;width: 22px;top: -61px;}
.fontsize-normal   .b-newslider .slick-prev {left: 357px;width: 22px;top: -61px;}

.imagesoff .b-typical_news img{display: none}


 
.color1 header a.b-headernav_login_lnk {color: #FFFFFF;background: #000000;}
.color2 header a.b-headernav_login_lnk {color: #FFFFFF;background: #6e6e6e;}
.color3 header a.b-headernav_login_lnk {color: #F0E68C;background: #4a86bc;}
.color4 header a.b-headernav_login_lnk {color: #f7f3d6;background: #868376;}
.color5 header a.b-headernav_login_lnk {color: #3b2716;background: #cef295;}


.fontsize-big .b-login_social{width: 202px}
.error_message { color: #f06e5c;	font-size: 0.875em;	line-height: 1.2em;display:inline-block;vertical-align:top;}


.color1 table.forum-table td, .color1 div.forum-info-box, .color1 div.forum-reply-form {background: #fff;}
.color1 div.forum-navigation-box {background: #fff;border-color: #000;}
.color1 div.forum-header-box {background: #fff;border-color: #000;}
.color1 table.forum-table th, .color1 div.forum-reply-header, .color1 div.forum-bbcode-line a:hover, .color1 div.forum-bbcode-line a:hover img {background-color: #FFF;border-color: #000;}
.color1 div.forum-filter-field span.forum-filter-field-item input {margin: 0;background: #fff;border: 1px solid #000;color: #000;}
.color1  div.forum-filter select {background: #fff;color: #000;}
.color1 div.forum-filter-footer input {background: #000;color: #fff}
.color1 table.forum-table tr.forum-row-first td {border-top-color: #000;}
.color1  div.forum-header-title {color: #000;}
.color1 table.forum-table td, .color1 table.forum-table th.forum-column-lastpost, .color1 table.forum-table th.forum-column-title, .color1 table.forum-table th.forum-first-column, 
.color1 table.forum-table th.forum-last-column, .color1 div.forum-info-box, .color1 div.forum-reply-form {border-color: #000000;}

.color1  table.forum-post-table td.forum-cell-post,.color1 table.forum-post-table td.forum-cell-actions {background: #fff;}
.color1 table.forum-post-table td.forum-cell-user, .color1 table.forum-post-table td.forum-cell-contact {background: #fff;}
.color1 table.forum-table td.forum-column-footer, .color1  table.forum-post-table td.forum-column-footer,.color1  div.forum-footer-box {background: #fff;}
.color1 div.forum-header-box a:link,.color1  div.forum-header-box a:visited,.color1  div.forum-header-box a:active,.color1  div.forum-header-box a:hover {color: #000;}

.color2 table.forum-table td, .color2 div.forum-info-box, .color2 div.forum-reply-form {background: #000;}
.color2 div.forum-navigation-box {background: #000;border-color: #fff;}
.color2 div.forum-header-box {background: #000000;border-color: #FFFFFF;}
.color2 table.forum-table th, .color2 div.forum-reply-header, .color2 div.forum-bbcode-line a:hover, .color2 div.forum-bbcode-line a:hover img {background-color: #6e6e6e;}
.color2 div.forum-filter-field span.forum-filter-field-item input {margin: 0;background: #000;border: 1px solid #fff;color: #fff;}
.color2  div.forum-filter select {background: #000;color: #fff;}
.color2 div.forum-filter-footer input {background: #6e6e6e;color: #ffffff}
.color2 table.forum-table tr.forum-row-first td {border-top-color: #fff;}
.color2  div.forum-header-title {color: #000;}
.color2 table.forum-table td, .color2 table.forum-table th.forum-column-lastpost, .color2 table.forum-table th.forum-column-title, .color2 table.forum-table th.forum-first-column, 
.color2 table.forum-table th.forum-last-column, .color2 div.forum-info-box, .color2 div.forum-reply-form {border-color: #fff;}

.color2  table.forum-post-table td.forum-cell-post,.color2 table.forum-post-table td.forum-cell-actions {background: #000;}
.color2 table.forum-post-table td.forum-cell-user, .color2 table.forum-post-table td.forum-cell-contact {background: #000;}
.color2 table.forum-table td.forum-column-footer, .color2  table.forum-post-table td.forum-column-footer,.color2  div.forum-footer-box {background: #000;}
.color2 div.forum-header-box a:link,.color2  div.forum-header-box a:visited,.color2  div.forum-header-box a:active,.color2  div.forum-header-box a:hover {color: #ffffff;}
.color2 .b-portalinfo_number, .color2 .b_search_datelb, .color2 .b_search_row .checkwrapper label,.color2  .testmode,
.color2 .b-portalinfo_number, .color2 .b-lib_contact, .color2 .b-resultbook-info span { color:  #fff; }

.color2 .b-footerlogo { background: url('../i/logo_2_2.png') 0 0 no-repeat; height: 52px;  width: 190px;}
.color2 .b-footerlogo img { opacity: 0; filter: alpha(opacity=0);}

.color3 table.forum-table td, .color3 div.forum-info-box, .color3 div.forum-reply-form {background: #9dd1ff;border-color: #063462;}
.color3 div.forum-navigation-box {background: #9dd1ff;border-color: #063462;}
.color3 div.forum-header-box {background: #9dd1ff;border-color: #063462;}
.color3 table.forum-table th, .color3 div.forum-reply-header, .color3 div.forum-bbcode-line a:hover, .color3 div.forum-bbcode-line a:hover img {background-color: #9dd1ff;border-color:#063462}
.color3 div.forum-filter-field span.forum-filter-field-item input {margin: 0;background: #9dd1ff;border: 1px solid #063462;color: #063462;}
.color3  div.forum-filter select {background: #9dd1ff;color: #063462; border-color:#063462}
.color3 div.forum-filter-footer input {background: #4a86bc;color: #9dd1ff}
.color3 table.forum-table tr.forum-row-first td {border-top-color: #063462;}
.color3  div.forum-header-title {color: #063462;}
.color3 table.forum-table td, .color3 table.forum-table th.forum-column-lastpost, .color3 table.forum-table th.forum-column-title, .color3 table.forum-table th.forum-first-column, 
.color3 table.forum-table th.forum-last-column, .color3 div.forum-info-box, .color3 div.forum-reply-form {border-color: #063462;}

.color3  table.forum-post-table td.forum-cell-post,.color3 table.forum-post-table td.forum-cell-actions {background: #9dd1ff;}
.color3 table.forum-post-table td.forum-cell-user, .color3 table.forum-post-table td.forum-cell-contact {background: #9dd1ff;}
.color3 table.forum-table td.forum-column-footer, .color3  table.forum-post-table td.forum-column-footer,.color3  div.forum-footer-box {background: #9dd1ff;}
.color3 div.forum-header-box a:link,.color3  div.forum-header-box a:visited,.color3  div.forum-header-box a:active,.color3  div.forum-header-box a:hover {color: #063462;}




.color4 table.forum-table td, .color4 div.forum-info-box, .color4 div.forum-reply-form {background: #f7f3d6;border-color: #59422e;}
.color4 div.forum-navigation-box {background: #f7f3d6;border-color: #59422e;}
.color4 div.forum-header-box {background: #f7f3d6;border-color: #59422e;}
.color4 table.forum-table th, .color4 div.forum-reply-header, .color4 div.forum-bbcode-line a:hover, .color4 div.forum-bbcode-line a:hover img {background-color: #f7f3d6;border-color:#59422e}
.color4 div.forum-filter-field span.forum-filter-field-item input {margin: 0;background: #f7f3d6;border: 1px solid #59422e;color: #59422e;}
.color4  div.forum-filter select {background: #f7f3d6;color: #59422e; border-color:#59422e}
.color4 div.forum-filter-footer input {background: #868376;color: #f7f3d6}
.color4 table.forum-table tr.forum-row-first td {border-top-color: #59422e;}
.color4  div.forum-header-title {color: #59422e;}
.color4 table.forum-table td, .color4 table.forum-table th.forum-column-lastpost, .color4 table.forum-table th.forum-column-title, .color4 table.forum-table th.forum-first-column, 
.color4 table.forum-table th.forum-last-column, .color4 div.forum-info-box, .color4 div.forum-reply-form {border-color: #59422e;}

.color4  table.forum-post-table td.forum-cell-post,.color4 table.forum-post-table td.forum-cell-actions {background: #f7f3d6;}
.color4 table.forum-post-table td.forum-cell-user, .color4 table.forum-post-table td.forum-cell-contact {background: #f7f3d6;}
.color4 table.forum-table td.forum-column-footer, .color4  table.forum-post-table td.forum-column-footer,.color4  div.forum-footer-box {background: #f7f3d6;}
.color4 div.forum-header-box a:link,.color4  div.forum-header-box a:visited,.color4  div.forum-header-box a:active,.color4  div.forum-header-box a:hover {color: #59422e;}

.color5 table.forum-table td, .color5 div.forum-info-box, .color5 div.forum-reply-form {background: #3b2716;border-color: #a9dd38;}
.color5 div.forum-navigation-box {background: #3b2716;border-color: #a9dd38;}
.color5 div.forum-header-box {background: #3b2716;border-color: #a9dd38;}
.color5 table.forum-table th, .color5 div.forum-reply-header, .color5 div.forum-bbcode-line a:hover, .color5 div.forum-bbcode-line a:hover img {background-color: #3b2716;border-color:#a9dd38}
.color5 div.forum-filter-field span.forum-filter-field-item input {margin: 0;background: #3b2716;border: 1px solid #a9dd38;color: #a9dd38;}
.color5  div.forum-filter select {background: #3b2716;color: #a9dd38; border-color:#a9dd38}
.color5 div.forum-filter-footer input {background: #cef295;color: #3b2716}
.color5 table.forum-table tr.forum-row-first td {border-top-color: #a9dd38;}
.color5  div.forum-header-title {color: #a9dd38;}
.color5 table.forum-table td, .color5 table.forum-table th.forum-column-lastpost, .color5 table.forum-table th.forum-column-title, .color5 table.forum-table th.forum-first-column, 
.color5 table.forum-table th.forum-last-column, .color5 div.forum-info-box, .color5 div.forum-reply-form {border-color: #a9dd38;}

.color5  table.forum-post-table td.forum-cell-post,.color5 table.forum-post-table td.forum-cell-actions {background: #3b2716;}
.color5 table.forum-post-table td.forum-cell-user, .color5 table.forum-post-table td.forum-cell-contact {background: #3b2716;}
.color5 table.forum-table td.forum-column-footer, .color5  table.forum-post-table td.forum-column-footer,.color5  div.forum-footer-box {background: #3b2716;}
.color5 div.forum-header-box a:link,.color5  div.forum-header-box a:visited,.color5  div.forum-header-box a:active,.color5  div.forum-header-box a:hover {color: #a9e44d;}





.color1 .b-usertable th {background: #fff;color:#000}
.color2 .b-usertable th {background: #000;color:#fff}
.color3 .b-usertable th {background: #9dd1ff;color: #063462}
.color4 .b-usertable th {background: #f7f3d6; color: #59422e}
.color5 .b-usertable th {background: #3b2716; color: #a9dd38}

.color1 .b-usertable th > a, .color1 .b-usertable th > span {color: #000}
.color2 .b-usertable th > a, .color2 .b-usertable th > span {color: #fff}
.color3 .b-usertable th > a, .color3 .b-usertable th > span {color: #063462}
.color4 .b-usertable th > a, .color4 .b-usertable th > span {color: #59422e}
.color5 .b-usertable th > a, .color5 .b-usertable th > span {color: #a9dd38}



.color1 .forum-filter-field  label{color:#000}
.color2 .forum-filter-field  label{color:#fff}
.color3 .forum-filter-field  label{color:#063462}
.color4 .forum-filter-field  label{color:#59422e}
.color5 .forum-filter-field  label{color:#a9dd38}


.color1 .b-citychangepopup, .color1 .ui-widget-content.b-citychangepopup {background: #fff; color:#000}
.color2 .b-citychangepopup, .color2 .ui-widget-content.b-citychangepopup {background: #000; color:#fff}
.color3 .b-citychangepopup, .color3 .ui-widget-content.b-citychangepopup {background: #9dd1ff;color:#063462}
.color4 .b-citychangepopup, .color4 .ui-widget-content.b-citychangepopup {background: #f7f3d6;color:#59422e}
.color5 .b-citychangepopup, .color5 .ui-widget-content.b-citychangepopup {background: #3b2716;color:#a9dd38}

.color1 .b-typical_news .anonce h3 {color: #000;}
.color2 .b-typical_news .anonce h3 {color: #fff;}
.color3 .b-typical_news .anonce h3 {color: #063462;}
.color4 .b-typical_news .anonce h3 {color: #59422e;}
.color5 .b-typical_news .anonce h3 {color: #a9dd38;}





.color1 .b-typical_news p {color: #000;}
.color2 .b-typical_news p {color: #fff;}
.color3 .b-typical_news p {color: #063462;}
.color4 .b-typical_news p {color: #59422e;}
.color5 .b-typical_news p {color: #a9dd38;}


.color1 .b-newslider p {color: #000;}
.color2 .b-newslider p {color: #fff;}
.color3 .b-newslider p {color: #063462;}
.color4 .b-newslider p {color: #59422e;}
.color5 .b-newslider p {color: #a9dd38;}

.fontsize-big  .b-regform .formbutton {line-height: 1em;}

.b-form_common strong {font-weight: bold;font-size: .9em;}

.color1 .b-form_header {color: #000; border-color: #000}
.color2 .b-form_header {color: #fff; border-color: #fff}
.color3 .b-form_header {color: #063462; border-color: #063462}
.color4 .b-form_header {color: #59422e; border-color: #59422e}
.color5 .b-form_header {color: #a9dd38; border-color: #a9dd38}

.color1 .b-form_common label span {color: #000;}
.color2 .b-form_common label span {color: #fff;}
.color3 .b-form_common label span {color: #063462;}
.color4 .b-form_common label span {color: #59422e;}
.color5 .b-form_common label span {color: #a9dd38;}

.b-form_common .setscan {background: none;}

.color1 .b-form_common .setscan {border: 1px solid #000}
.color2 .b-form_common .setscan {border: 1px solid #fff}
.color3 .b-form_common .setscan {border: 1px solid #063462}
.color4 .b-form_common .setscan {border: 1px solid #59422e}
.color5 .b-form_common .setscan {border: 1px solid #a9dd38}


.color1 .b-form_common .setscan {color: #000;}
.color2 .b-form_common .setscan {color: #fff;}
.color3 .b-form_common .setscan {color: #063462;}
.color4 .b-form_common .setscan {color: #59422e;}
.color5 .b-form_common .setscan {color: #a9dd38;}

.color1 .b-form_common .b-scan_photo {background: #000;}
.color2 .b-form_common .b-scan_photo {background: #fff;}
.color3 .b-form_common .b-scan_photo {background: #063462;}
.color4 .b-form_common .b-scan_photo {background: #59422e;}
.color5 .b-form_common .b-scan_photo {background: #a9dd38;}


.b-profile_nav > li:first-child {min-width: 180px;display:none;}
.fontsize-big .b-profile_nav > li + li {margin-left: 15px;}
.fontsize-big .b-searchresult {font-size: 0.81em;}


.color1 a.button_mode {border: 1px solid #000;}
.color2 a.button_mode {border: 1px solid #fff;}
.color3 a.button_mode {border: 1px solid #063462;}
.color4 a.button_mode {border: 1px solid #59422e;}
.color5 a.button_mode {border: 1px solid #a9dd38;}

.b-mainblock::after{clear:both;}

.blind .b-profile_side {text-align: center;margin-top: 50px;}
.blind .b-side.mt {text-align: center;}


.color1 .b_search_set .checkwrapper label {color: #000;}
.color2  .b_search_set .checkwrapper label {color: #fff;}
.color3  .b_search_set .checkwrapper label {color: #F0E68C;}
.color4  .b_search_set .checkwrapper label {color: #59422e;}
.color5  .b_search_set .checkwrapper label {color: #a9dd38;}

.color1 .b-result-docfavorite .b-result-docitem:hover {background: #DADADA;}
.color2 .b-result-docfavorite .b-result-docitem:hover {background: #2D2D2D;}
.color3 .b-result-docfavorite .b-result-docitem:hover {background: #9CAFC2;}
.color4 .b-result-docfavorite .b-result-docitem:hover {background: #DFBEA1;}
.color5 .b-result-docfavorite .b-result-docitem:hover {background: #222F07;}




.color1 .b-filter {background: #000;color: #fff;}
.color2 .b-filter {background: #fff;color: #000;}
.color3 .b-filter {background: #063462;color: #9dd1ff;}
.color4 .b-filter {background: #59422e;color: #59422e;}
.color5 .b-filter {background: #a9dd38;color: #a9dd38;}

.color1 .b-filter .sort_wrap a {color: #fff;border-color: #fff}
.color2 .b-filter .sort_wrap a {color: #000;border-color: #000}
.color3 .b-filter .sort_wrap a {color: #9dd1ff;border-color: #9dd1ff}
.color4 .b-filter .sort_wrap a {color: #f7f3d6;border-color: #f7f3d6}
.color5 .b-filter .sort_wrap a {color: #3b2716;border-color: #3b2716}

.color1 .b-filter .b-filter_wrapper > a,.color1 .b-filter .b-filter_wrapper > span {color: #fff;border-left: 1px solid #fff;}
.color2 .b-filter .b-filter_wrapper > a,.color2 .b-filter .b-filter_wrapper > span {color: #000;border-left: 1px solid #000;}
.color3 .b-filter .b-filter_wrapper > a,.color3 .b-filter .b-filter_wrapper > span {color: #9dd1ff;border-left: 1px solid #9dd1ff;}
.color4 .b-filter .b-filter_wrapper > a,.color4 .b-filter .b-filter_wrapper > span {color: #f7f3d6;border-left: 1px solid #f7f3d6;}
.color5 .b-filter .b-filter_wrapper > a,.color5 .b-filter .b-filter_wrapper > span {color: #3b2716;border-left: 1px solid #3b2716;}



.color1 .b-libfilter h4 {background: #000;color: #fff;}
.color2 .b-libfilter h4 {background: #fff;color: #000;}
.color3 .b-libfilter h4 {background: #063462;color: #9dd1ff;}
.color4 .b-libfilter h4 {background: #59422e;color: #f7f3d6;}
.color5 .b-libfilter h4 {background: #a9dd38;color: #3b2716;}

.b-libfilter {margin-top: 60px;}

.color1 .innersection .b-sidenav_title, .b-sidenav_title {background: #000 url('../i/arrow_l2.png') 91.5% 54% no-repeat;color: #fff;}
.color2 .innersection .b-sidenav_title, .b-sidenav_title {background: #fff url('../i/arrow_l2.png') 91.5% 54% no-repeat;color: #000;}
.color3 .innersection .b-sidenav_title, .b-sidenav_title {background: #063462 url('../i/arrow_l2.png') 91.5% 54% no-repeat;color: #9dd1ff;}
.color4 .innersection .b-sidenav_title, .b-sidenav_title {background: #59422e url('../i/arrow_l2.png') 91.5% 54% no-repeat;color: #f7f3d6;}
.color5 .innersection .b-sidenav_title, .b-sidenav_title {background: #a9dd38 url('../i/arrow_l2.png') 91.5% 54% no-repeat;color: #3b2716;}

.color1 .b-sidenav {background: #B8B8B8;}
.color2 .b-sidenav {background: #171717;}
.color3 .b-sidenav {background: #A6C7E4;}
.color4 .b-sidenav {background: #cdbd98;}
.color5 .b-sidenav {background: #2F2204;}


.color1 .b-shresult_item:hover  {background: #DADADA;}
.color2 .b-shresult_item:hover  {background: #2D2D2D;}
.color3 .b-shresult_item:hover  {background: #9CAFC2;}
.color4 .b-shresult_item:hover  {background: #DFBEA1;}
.color5 .b-shresult_item:hover  {background: #222F07;}

.b-shresult_act {
width: 200px;
padding-top: 3px;
}

.color1 .b-shresult_item h2 a {color: #000;}
.color2 .b-shresult_item h2 a {color: #fff;}
.color3 .b-shresult_item h2 a {color: #063462;}
.color4 .b-shresult_item h2 a {color: #59422e;}
.color5 .b-shresult_item h2 a {color: #a9dd38;}



.color1 .b-quote_list .b-quote_item:hover .b-quote {background: #DADADA;}
.color2 .b-quote_list .b-quote_item:hover .b-quote {background: #2D2D2D;}
.color3 .b-quote_list .b-quote_item:hover .b-quote {background: #9CAFC2;}
.color4 .b-quote_list .b-quote_item:hover .b-quote {background: #DFBEA1;}
.color5 .b-quote_list .b-quote_item:hover .b-quote {background: #222F07;}


.imagesoff .b-quote img{display:none}
.imagesoff .b_bookpopular_photo, .b-bookboardphoto {background: none;}

.color1 .b-libfilter_item.current {background: #DADADA;}
.color2 .b-libfilter_item.current {background: #2D2D2D;}
.color3 .b-libfilter_item.current {background: #9CAFC2;}
.color4 .b-libfilter_item.current {background: #DFBEA1;}
.color5 .b-libfilter_item.current {background: #222F07;}


.checkbox , .radio { display: inline-block; width: 18px; height: 18px; -webkit-border-radius: 2px; border-radius: 2px; margin: 0 0 0 0; vertical-align: middle; padding-left: 0px;}
.b_search_set .checkwrapper .checkbox, .b_search_set .checkwrapper  .radio{margin-right: 20px;}
.fontsize-big .mainheader, .fontsize-big footer { font-size: 16px; }
.fontsize-small .mainheader, .fontsize-big footer { font-size: 16px; }

body.color2 a, 
.color2 .b-filter_num.current,
.color2 .b-bookinfo_new .b-bookboard_list .b_popular_descr h4 a {
  color: #fff;
}

.color2 div.b-bookpopup a, 
.color2 div.b-search-filter a, 
.color2 .b-filter .sort_wrap a,
.color2 .b-filter_act .b-filter_num,
.color2 .b-result_selection,
.color2 .b-result_selection div a {
  color: #000;
}
.b-search_exlink.js_extraform {
  float: right;
}