html {width:100%; height:100%;}
body {
	width:100%;
	height:100%;
	margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color:#262626;
	min-height:100%;
}
.page-book {
	min-height:100%;
	position:relative;
}
.page-book:after {
	content:'';
	display:block;
	clear:both;
}
.main {
	margin-right:340px;
	padding:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.header {
	height:100px;
	margin-bottom:20px;
	position:relative;
	padding-right:100px;
}
a.logo {
	text-decoration:none;
	width:200px;
	height:100px;
	background:tomato;
	float:left;
}
.add_to_lk {
	position:absolute;
	right:18px;
	top:18px;
	width:64px;
	height:64px;
	background:url(images/favorite.png) no-repeat 0 0;
	cursor:pointer;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.add_to_lk:hover {
	transform:rotate(360deg);
}
.book-info {
	margin-left:120px;
	text-align:center;
	padding-top:40px;
}
.book-title {
	font-weight:bold;
}
.sidebar {
	float:right;
	width:340px;
	padding:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	min-height:100%;
	position:relative;
	padding-top:150px;
	background:#ededed;
}
.sidebar-header {
	position:absolute;
	top:20px;
	left:0;
	width:100%;
	padding:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.sidebar-tools {
	height:60px;
}
.sidebar-tools:after {
	content:'';
	clear:both;
	display:block;
}
.sidebar-tools span {
	width:20%;
	height:100%;
	display:block;
	float:left;
	background-size:contain !important;
	/*border:3px solid #fff;*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor:pointer;
	opacity:0.7;
}
.sidebar-tools .document-options {
	background:url(images/document-options.png) no-repeat 50% 50%;
}
.sidebar-tools .turn-page {
	background:url(images/turn-page.png) no-repeat 50% 50%;
}
.sidebar-tools .hand {
	background:url(images/hand.png) no-repeat 50% 50%;
}
.sidebar-tools .scale {
	background:url(images/scale.png) no-repeat 50% 50%;
}
.sidebar-tools .search {
	background:url(images/search.png) no-repeat 50% 50%;
}
.sidebar-tools span:hover, .sidebar-tools span.active {
	background-color:#f9f9f9;
	opacity:1;
}
.sidebar-content .section {
	margin-bottom:15px;
}
.sidebar-content .section h2 {
	padding:10px 20px;
	background:#0788FF;
	color:#fff;
	text-transform:uppercase;
	font-weight:weight;
	font-size:14px;
	cursor:pointer;
	margin:0;
}
.sidebar-content .section>div {
	display:none;
	margin-top:10px;
}
.content {
	margin-bottom:10px;
}
.navigation {
	text-align:center;
	margin-bottom:10px;
}
.navigation span, .navigation div {
	display:inline-block;
	padding:1px 3px;
	cursor:pointer;
	margin:0 3px;
	border-bottom:1px solid transparent;
}
.navigation span:hover, .navigation div:hover {
	border-bottom:1px dashed #262626;
}
.navigation span.active {
	font-weight:bold;
	margin:0;
	font-size:16px;
}
.page-view {
	position:relative;
	border:1px solid #ededed;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.view {
	height:100%;
	min-height:650px;
	position:relative;
	overflow:auto;
	text-align:center;
}
 .crop-area {
	position: absolute;
	border: 1px dashed black;
	background: #F5DEB3;
	opacity: 0.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
.page-number {
	padding:5px;
	background:#ededed;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
}
.next-page {
	width:39px;
	height:39px;
	position:absolute;
	top:50%;
	margin-top:-18px;
	right:20px;
	opacity:0.5;
	background:url(images/right.png) no-repeat 0 0;
	cursor:pointer;
	display:none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.prev-page {
	width:39px;
	height:39px;
	position:absolute;
	top:50%;
	margin-top:-18px;
	left:20px;
	opacity:0.5;
	background:url(images/left.png) no-repeat 0 0;
	cursor:pointer;
	display:none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.prev-page.noactive {
	cursor:default;
	opacity:0.2;
}
.page-view:hover .next-page, .page-view:hover .prev-page {
	display:block;
}
.footer {
	font-size:12px;
}
.footer:after {
	content:'';
	display:block;
	clear:both;
}
.footer-logo {
	width:100px;
	height:50px;
	background:tomato;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.members {
	float:left;
	margin-left:50px;
	margin-right:20px;
}
.footer-menu {
	float:left;
	margin-bottom:15px;
}
.footer-menu ul {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	margin-left:50px;
}
.footer-menu ul li a {
	text-decoration:none;
	color:#262626;
}
.footer-menu ul li a:hover {
	text-decoration:underline;
}
.copy {
	clear:left;
	margin-bottom:5px;
}