.faq-accordion .panel-title a { text-decoration: none; transition: .3s; color: #0086a6; }
.faq-accordion .panel-title a[aria-expanded=true] .fa-chevron-down:before { content: "\f077"; }
.faq-accordion .panel-title a[aria-expanded=false] .fa-chevron-up:before { content: "\f078"; }
.faq-accordion .panel-title a:hover { color: #23527c; }
.faq-accordion .panel-default > .panel-heading { background-color: #e6f2f2; border-color: #0086a6; }
.faq-property-page h3 { margin-top: 0; line-height: 26px; margin-bottom: 0; }
.faq-property-page p { margin-bottom: 0; }

.advanced-list-decorated {}
.advanced-list-decorated > dt {position: relative;}
.advanced-list-decorated > dt > a {}
.advanced-list-decorated > dt > a:hover {}
.advanced-list-decorated > dt > a:nth-of-type(2) {display: block; width: 50px; height: 50px; position: absolute; right: 0; top: 50%; margin-top: -25px; border-radius: 25px; opacity: 0; margin-bottom: 1em; background-color: #f5f5f5; border: none;}
.advanced-list-decorated > dt > a:nth-of-type(2):after {content: " "; display: block; width: 14px; height: 16px; position: absolute; left: 50%; margin-left: -7px; top: 50%; margin-top: -8px;
	background: url("/local/templates/adaptive/img/sprite-overall.png") -265px center no-repeat transparent;
}
.advanced-list-decorated > dt:hover > a:nth-of-type(2) {opacity: 1;}
.advanced-list-decorated > div > dd {padding: 1em;}
.advanced-list-decorated > div > dd > a {display: block;}


.advanced-list-decorated > div > dd {counter-reset: faq-arm-counter;}
.advanced-list-decorated > div > dd > div {position: relative; padding: 1ex 2em;}
.advanced-list-decorated > div > dd > div:before {
	display: inline-block; width: 1em; height: 1em; position: absolute; left: 1ex; top: 1ex;
	content: counter(faq-arm-counter) ".";
    counter-increment: faq-arm-counter;
}
.advanced-list-decorated > div > dd > div > .ald-edit-item {display: block; width: 30px; height: 30px; position: absolute; right: 0; top: 50%; margin-top: -15px; border-radius: 15px; opacity: 0; margin-bottom: 1em; background-color: #f5f5f5;}
.advanced-list-decorated > div > dd > div > .ald-edit-item:after {content: " "; display: block; width: 14px; height: 16px; position: absolute; left: 50%; margin-left: -7px; top: 50%; margin-top: -8px;
	background: url("/local/templates/adaptive/img/sprite-overall.png") -265px center no-repeat transparent;
}
.advanced-list-decorated > div > dd > div:hover {}
.advanced-list-decorated > div > dd > div:hover > .ald-edit-item {opacity: 1;}
/*.advanced-list-decorated > div > dd > a {display: block; position: relative; padding-left: 1.5em; margin-bottom: 1ex; padding-right: 2em;}
.advanced-list-decorated > div > dd > a:before {
    display: block; width: 1em; height: 1em; position: absolute; left: 0; top: 0;
    content: counter(faq-arm-counter) ".";
    counter-increment: faq-arm-counter;
}
.advanced-list-decorated > div > dd > a:after {
	content: " "; display: block; width: 14px; height: 16px; position: absolute; right: 0; top: .7ex;
    background: url("/local/templates/adaptive/img/sprite-overall.png") -265px center no-repeat transparent;
    opacity: 0;
}
.advanced-list-decorated > div > dd > a:hover:after {opacity: 1;}*/
