#accordion a[aria-expanded=true] span.glyphicon-minus {
    display: inline-block;
}
#accordion a[aria-expanded=true] span.glyphicon-plus {
    display: none;
}
#accordion a[aria-expanded=false] span.glyphicon-minus {
    display: none;
}
#accordion a[aria-expanded=false] span.glyphicon-plus {
    display: inline-block;
}
#accordion .panel-heading {
    background-color: #FFFFFF;
}
#accordion .panel-heading a,
#accordion .panel-body label{
    color: #0086a6;
}
#accordion .panel-body {
    max-height: 445px;
    overflow: auto;
    position: relative;
}
#accordion .treenum img {
    position: absolute;
    left: -60px;
    bottom: 15px;
}
#accordion .treenum,
#accordion .panel-body > div,
#accordion .treenum > div {
    position: relative;
}

#accordion .spinner {
    margin-left: -8px;
    margin-top: 18px;
    position: absolute !important;
}
.panel-group .panel-title {
    position: relative;
}
#accordion a[aria-expanded=true] span.glyphicon-minus,
#accordion a[aria-expanded=false] span.glyphicon-plus
{position: absolute; right: 0; top: 50%; margin-top: -8px;}
.panel-group .panel-title > a {text-decoration: none; display: inline-block; border-bottom: 1px dashed #0086a6;}
