{{ bitrix_view_helper.addJs('/front-app/src/js/lib/mustache.min.js') }}
{{ bitrix_view_helper.addJs('/front-app/src/js/bbk.js') }}
{{ bitrix_view_helper.addCss('/front-app/src/css/bbk.css') }}
{{ bitrix_view_helper.showHeader() }}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{{ bitrix_view_helper.showFooter() }}
