.sort.up .caret {
    border-top: 0;
    border-bottom: 4px dashed;
}
.blk-milk-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background-color: #fff;
    z-index: 11;
    transition: opacity .5s;
}
.blk-milk-shadow .fa {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 12;
    color: #0086a6;
}
.table.table-plan-list th,
.table.table-plan-list td {
    vertical-align: top;
}
.table.table-plan-list td p {
    margin-bottom: 0;
}