a.text-right { float: right; color: #0086a6; }
a.text-right:hover { color: #23527c; }
.list-items { padding-left: 0; list-style: none; }
.list-items li:not(:last-child) { padding-bottom: 5px; padding-top: 5px; border-bottom: 1px solid rgba(180,180,180,.5); }
.faq-panel-group .panel-body .list-items,
.faq-panel-group .panel-body .list-items li,
.faq-panel-group .panel-body .list-items li a { float: left; width: 100%; }