::-webkit-scrollbar {
	width: 15px;
}
 
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 200px rgba(0,0,0,0.1);
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.22); 
}
.b-commonlist li:before {
	-webkit-border-radius: 0; 
	-moz-border-radius: 0;
	border-radius: 0; 
}
@media (max-width: 480px) {
	body {
		min-width: 380px;
	}
	.offerta-list {
	  padding-left: 0px;
	  font-size: 0.8em;
	}
	.offerta-list ol{
	  padding-left: 10px;
	}
	h3 {
		font-size: 1.4em;
	}
}