<nav class="hor-nav">
    <a href="{{url.authors}}" {{#current.authors}}class="active"{{/current.authors}}>Рейтинг авторов</a>
    <a href="{{url.editions}}" {{#current.editions}}class="active"{{/current.editions}}>Рейтинг изданий</a>
    <a href="{{url.queries}}" {{#current.queries}}class="active"{{/current.queries}}>Рейтинг запросов</a>
    <a href="{{url.substitution}}" {{#current.substitution}}class="active"{{/current.substitution}}>Сложные запросы</a>
</nav>
