#stat_container
{
 
  background:#eee;
  font-size:0px;
  vertical-align:bottom;
  border-top: 1px #FF6600 dotted;
}
#stat_container div
{
	background:#316275;
	display:inline-block;
}
#stat_container div:first-child
{}
#stat_container div:last-child
{
    border-right: 0px #666 solid;
}
.stat_table
{
	border: 0px #CCCCCC solid;
	border-collapse: collapse;
	padding:0px;
	margin:0px;
	font-size:8px;
}
.stat_table td
{
	border: 0px #CCCCCC solid;
	padding:0px;
	margin:0px;
	vertical-align:bottom;
}
.stat_table .tdaxisY div
{
	 border-bottom: 1px #ccc solid;
	 padding-top:-25px;
}

.stat_table tr td:first-child
{
	border-right: 1px #ccc solid;
}
.stattabtopline
{
	background:#eee;
}
.titlespan
{
	color:#3389BD;
	margin: 20px 0px 40px 10px;
}
.divchekblok
{
	display:none;
	overflow:hidden;
	border: 1px solid #ddd;
	margin: 20px 0px 20px 0px;
	padding: 5px;
	border-radius: 5px;
}