<span class="btn btn-default fileinput-button">
    <span>{{findName}}</span>
    <input data-file-upload-input type="file" name="files{{#multiple}}[]{{/multiple}}" {{#multiple}}multiple{{/multiple}}/>
    <div class="hidden">
    	<div data-file-item>
			<div data-file-client-name></div>
    		<div data-file-item-progress>
    			<div class="file-progress"><div class="file-progress-bar"></div></div>
    		</div>
			<div data-file-server-name></div>
    	</div>
        <span data-uploaded-file-present>
            <a target="_blank" data-present-link href="#"></a>
            <input type="hidden" data-file-input name="upload_files[]" value=""/>
        </span>
    </div>
</span>
<div data-present-files>

</div>