.block-mess {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.block-mess h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*input[type=checkbox] { opacity: 1; }*/