{{> head }}

<dl class="responsive-table-layout authors-rating ratings-table" data-widget data-widget-authors data-widget-ratings>
    <dt>
		<span>
			<a class="sort {{#order.author.active}}
                {{#order.author.up}}up{{/order.author.up}}{{^order.author.up}}down{{/order.author.up}}
            {{/order.author.active}}"
               data-sort-field="author"
               href="{{order.author.url}}">Автор</a>
            <input type="text"
                   data-src="{{url.queryAutoComplete}}"
                   data-filter-request
                   value="{{query.author}}"

                   autocomplete="off" 
                   data-entity-field="title" 
                   data-post="author"
                   data-query-field="authorbook" 
                   data-autocomplete-item
                   />
		</span>
		<span>
			<a class="sort {{#order.rating.active}}
                {{#order.rating.up}}up{{/order.rating.up}}{{^order.rating.up}}down{{/order.rating.up}}
            {{/order.rating.active}}"
               data-sort-field="rating"
               href="{{order.rating.url}}">Рейтинг</a>
		</span>
		<span>
			<button class="btn btn-primary button-add" data-add-item>&nbsp;</button>
		</span>
    </dt>
    {{#entities}}
        <dd data-item="{{id}}" data-action="{{updateUrl}}">
            <span>{{author}}</span>
            <span><input data-save-input data-write-required name="authorrating[rating]" type="number" value="{{rating}}"/></span>
            <span>
                <button class="btn btn-default button-save" data-save-item>&nbsp;</button>
                <button class="btn btn-default button-reset" data-reset-item>&nbsp;</button>
                <button class="btn btn-default button-remove" data-remove-item data-title="Удалить автора?">
                    &nbsp;</button>
            </span>
        </dd>
    {{/entities}}
</dl>

{{{paginationHtml}}}
