{{> head }}

<dl class="responsive-table-layout editions-rating ratings-table" data-widget data-widget-editions data-widget-ratings
    data-action="./">
    <dt>
		<span>
			<a class="sort {{#order.author.active}}
                {{#order.author.up}}up{{/order.author.up}}{{^order.author.up}}down{{/order.author.up}}
            {{/order.author.active}}"
               data-sort-field="author"
               href="{{order.author.url}}">Автор</a>
			<input type="text"
                   data-src="{{url.queryAutoComplete}}"
                   data-filter-request
                   value="{{query.author}}"

                   autocomplete="off" 
                   data-entity-field="title" 
                   data-post="author"
                   data-query-field="authorbook" 
                   data-autocomplete-item="" 
                   />
		</span>
		<span>
			<a class="sort{{#order.title.active}}
                {{#order.title.up}}up{{/order.title.up}}{{^order.title.up}}down{{/order.title.up}}
            {{/order.title.active}}"
               data-sort-field="title"
               href="{{order.title.url}}">Заголовок</a>
			<input type="text"
                   data-src="{{url.queryAutoComplete}}"
                   data-entity-field="title"
                   data-filter-request
                   value="{{query.title}}"

                   data-autocomplete-item=""
                   data-query-field="title"
                   data-post="title"
                   data-filtered-by="authorbook"
                   autocomplete="off" 
                   />
		</span>
		<span>
			Ключевые слова
		</span>
		<span>
			Рейтинг
		</span>
		<span>
			<button class="btn btn-primary button-add" data-add-item>&nbsp;</button>
		</span>
    </dt>
    {{#entities}}
        <dd data-item="{{id}}" data-action="{{updateUrl}}">
            <span>{{author}}</span>
            <span>{{title}}</span>
            <span>
                <i>...</i>
                <textarea data-save-textarea name="bookrating[keywords]">{{keywords}}</textarea>
            </span>
            <span><input data-save-input data-write-required name="bookrating[rating]" type="number" value="{{rating}}"/></span>
            <span>
                <button class="btn btn-default button-save" data-save-item>&nbsp;</button>
                <button class="btn btn-default button-reset" data-reset-item>&nbsp;</button>
                <button class="btn btn-default button-remove" data-remove-item data-title="Удалить издание?">
                    &nbsp;</button>
            </span>
        </dd>
    {{/entities}}
</dl>

{{{paginationHtml}}}
