{{> head }}
<dl class="responsive-table-layout requests-rating ratings-table" data-widget data-widget-requests data-widget-ratings
    data-action="./">
    <dt>
        <span>
            Поисковый запрос
            <input type="text"
                   data-src="{{url.queryAutoComplete}}"
                   data-filter-request
                   data-entity-field="query"
                   data-post="query"
                   size="10"
                   value="{{query.query}}"/>
        </span>
		<span>
			Частота использования
		</span>
		<span>
			<button class="btn btn-primary button-add" data-add-item data-title="Удалить запрос?">&nbsp;</button>
		</span>
    </dt>
    {{#entities}}
        <dd data-item="{{id}}" data-action="{{updateUrl}}">
            <span><a href="{{url.searchQuery}}?queryId={{id}}">{{query}}</a></span>
            <span>{{frequency}}</span>
            {{#hasSorting}}
                <span>
                    <button class="btn btn-default button-remove" data-remove-item data-title="Удалить запрос?" data-description="Удалить исправленную выдачу по запросу?">
                        &nbsp;</button>
                </span>
            {{/hasSorting}}
            {{^hasSorting}}
                <span></span>
            {{/hasSorting}}
        </dd>
    {{/entities}}
</dl>

{{{paginationHtml}}}
