{{> head }}

<dl class="responsive-table-layout complex-requests-rating ratings-table" data-widget data-widget-complexrequests
    data-widget-ratings data-action="./">
    <dt>
		<span>
			Поисковый запрос
			<input type="text"
                   data-src="{{url.queryAutoComplete}}"
                   data-entity-field="originalQuery"
                   data-post="originalQuery"
                   data-filter-request
                   value="{{query.originalQuery}}"/>
		</span>
		<span>
			Измененный запрос
		</span>
        <span>Приоритет</span>
		<span>
			<button class="btn btn-primary button-add" data-add-item data-title="Удалить запрос?">&nbsp;</button>
		</span>
    </dt>

    {{#entities}}
        <dd data-item="{{id}}" data-action="{{updateUrl}}">
            <span><input data-save-input data-write-required name="querysubstitution[originalQuery]" type="text" value="{{originalQuery}}"/></span>
            <span><input data-save-input data-write-required name="querysubstitution[modifiedQuery]" type="text" value="{{modifiedQuery}}"/></span>
            <span><input data-save-input data-write-required name="querysubstitution[priority]" type="number" value="{{priority}}"/></span>
            <span>
                <button class="btn btn-default button-save" data-save-item>&nbsp;</button>
                <button class="btn btn-default button-reset" data-reset-item>&nbsp;</button>
                <button class="btn btn-default button-remove" data-remove-item data-title="Удалить запрос?">
                    &nbsp;</button>
            </span>
        </dd>
    {{/entities}}
</dl>

{{{paginationHtml}}}
