<!DOCTYPE HTML>
<html>
<head>
    <style>img {max-width: 100%;}</style>
</head>
<body>
<h1>{{name}}</h1>
<img src="{{image}}"/>
<div><em>Обновлено:</em> {{updateDate}}</div>
{{#library}}
    <div><em>Автор:</em> <a href="{{library.url}}">{{library.name}}</a></div>
{{/library}}
<p>{{{description}}}</p>
</body>
</html>