/*----------------------------------------------------Table Cells And Backgrounds------------------------------------------------ */

/* Table Header, Reply Form Header, BBCode Icons Highlighting */
.forum-table th, .forum-reply-header,
.forum-bbcode-line a:hover, .forum-bbcode-line a:hover img { background-color: #dae1e9; }

/* Table Cell Border */
.forum-table td, 
.forum-table .forum-column-lastpost, 
.forum-table .forum-column-title, 
.forum-table .forum-first-column,
.forum-table .forum-last-column,
.forum-info-box, 
.forum-reply-form { border-color: #dae0e7;}

/* Table Cell, Info Box, Reply Form */
.forum-table td, .forum-info-box, .forum-reply-form { background:#fbfcfd; }
.forum-reply-form .bxlhe-frame-table .bxlhe-editor-buttons { background-color:#fbfcfd!important; }
.forum-reply-field .bxlhe-editor-cell, .forum-reply-field .feed-add-post-form-but-wrap {border-color: #ced0d1;}

/* Hidden Table Cell and Row */
.forum-table tr.forum-row-hidden td, 
.forum-table .forum-cell-hidden,
.forum-table tr.forum-row-inactive .forum-column-icon,
.forum-post-hidden .forum-cell-post, 
.forum-post-hidden .forum-cell-actions { background: #e5f8e3 !important; }

/* Selected (via checkbox) Table Cell and Row */
.forum-table tr.forum-row-selected td, 
.forum-table .forum-cell-selected, 
.forum-post-selected .forum-cell-post, 
.forum-post-selected .forum-cell-actions { background: #d4dfea !important; }

/* Table Footer and Alone Footer Box */
.forum-table .forum-column-footer, .forum-post-table .forum-column-footer, .forum-footer-box { background: #dae1e9; }

/* Post Table: User Info and User Contacts Cells*/
.forum-post-table .forum-cell-user, .forum-post-table .forum-cell-contact { background: #f1f6fa; }

/* Post Table: Post and Actions Cell */
.forum-post-table .forum-cell-post, .forum-post-table .forum-cell-actions { background: #fbfcfd; }

.forum-post-date { background: #e5eaf0; border-bottom-color: #d6dde5; }


/* ---------------------------------------------------Borders----------------------------------------------------- */

/* Menu Items, Page Navigation */
span.forum-menu-item, .forum-page-navigation a, span.forum-page-current, .forum-page-navigation a.forum-page-previous, span.forum-page-dots { border-color: #d4dae3; }

/* First Row Cell */
.forum-table tr.forum-row-first td { border-top-color: #c4ccd6;}

/* Last Row Cell */
.forum-table tr.forum-row-last td { border-bottom-color: #c4ccd6; }

/* Table Footer and Alone Footer Box */
.forum-table .forum-column-footer, .forum-post-table .forum-column-footer, .forum-footer-box { border-color: #c4ccd6; }

/* Footer Item Separator */
span.forum-footer-option { border-color: #a5b4c8; }

/* Topic posts table (separator line) */
.forum-post-table { border-top-color: #fff; border-bottom-color: #d0d3d8; }

/* Post Table: User Info and User Contacts Cells*/
.forum-post-table .forum-cell-user, .forum-post-table .forum-cell-contact { border-left-color: #d5dae0; border-right-color: #d6dde5; }

/* Post Table: Post and Actions Cell */
.forum-post-table .forum-cell-post, .forum-post-table .forum-cell-actions { border-right-color: #d5dae0; }

/* Post Table: User Contacts and Actions Cell */
.forum-post-table .forum-cell-contact, .forum-post-table .forum-cell-actions { border-top-color: #d6dde5; }

/* User Signature*/
.forum-signature-line { border-top-color: #d6dde5; }

/* ---------------------------------------------------Text Color-------------------------------------------------- */

/* Header Box Right Links*/
.forum-header-box a:link, 
.forum-header-box a:visited, 
.forum-header-box a:active, 
.forum-header-box a:hover { color: #fff; }

.forum-required-field { color: red; }

/* --------------------------------------------------Special Elements---------------------------------------------- */

.forum-header-box { color: #fff; background:#163f72; border-color: #406390;}

/* Page navigation */
.forum-navigation-box { background:#fff; border-color: #dae0e7; }

/*BBCode: Quote and Code*/
.forum-quote, .forum-spoiler, .forum-code, .forum-code-box, .forum-post-attachments {  border-color: #abbacc; }
.forum-quote td, .forum-spoiler td, .forum-code td, .forum-code-box ol, .forum-post-attachments {background:#fff !important; color:#696969;}
.forum-quote th, .forum-spoiler th, .forum-code th, .forum-code-box {background:#e5eaf0 !important; color: #606264;}

.forum-note-box {border-color: #ffc34f; background: #fffdbe; }
/* --------------------------------------------------Icons---------------------------------------------- */
.forum-icon-default { background-image: url(images/default.gif); }
.forum-icon-newposts { background-image: url(images/newposts.gif); }
.forum-icon-sticky { background-image: url(images/sticky.gif); }
.forum-icon-sticky-newposts { background-image: url(images/sticky-newposts.gif); }
.forum-icon-closed, .forum-icon-sticky-closed { background-image: url(images/closed.gif); }
.forum-icon-closed-newposts, .forum-icon-sticky-closed-newposts { background-image: url(images/closed-newposts.gif); }
.forum-icon-moved { background-image: url(images/moved.gif); }
/* --------------------------------------------------Votes---------------------------------------------- */
.vote-answer-item-bar-inner {background-color:#dae1e9;}


.debugg {border: 1px solid #0f0 !important;}