.form-file-pdf .form-group {
    position: relative;
}
.form-file-pdf .form-group .fileinput .progress {
    margin-top: 15px;
    margin-bottom: 0;
}

.load-disabled {
    position: relative;
}
.load-disabled:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.3);
    z-index: 2;
}
.load-disabled .btn.btn-default.btn-file {
    border-color: #ccc;
    color: #ccc;
}
.file-fa:before {
    position: relative;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Стили возможные для вывода при подключеном fontawesome */
/* Документ PDF */
.file-fa[href*='.pdf']:before {
    content: "\f1c1";
}
/* Изображения */
.file-fa[href*='.gif']:before,
.file-fa[href*='.png']:before,
.file-fa[href*='.jpeg']:before,
.file-fa[href*='.jpg']:before {
    content: "\f1c5";
}
/* Документ word */
.file-fa[href*='.doc']:before,
.file-fa[href*='.docx']:before,
.file-fa[href*='.docm']:before,
.file-fa[href*='.dot']:before,
.file-fa[href*='.dotx']:before,
.file-fa[href*='.dotm']:before {
    content: "\f1c2";
}
/* Документ excel */
.file-fa[href*='.xls']:before,
.file-fa[href*='.xml']:before,
.file-fa[href*='.xlam']:before,
.file-fa[href*='.xlsx']:before {
    content: "\f1c3";
}
/* Файл аудио */
.file-fa[href*='.wav']:before,
.file-fa[href*='.wave']:before,
.file-fa[href*='.wm']:before,
.file-fa[href*='.mp3']:before {
    content: "\f1c7";
}
/* Файл видео */
.file-fa[href*='.flv']:before,
.file-fa[href*='.avi']:before,
.file-fa[href*='.mp4']:before {
    content: "\f1c8";
}
/* Архивы */
.file-fa[href*='.zip']:before,
.file-fa[href*='.tar']:before,
.file-fa[href*='.jar']:before,
.file-fa[href*='.gzip']:before,
.file-fa[href*='.gz']:before {
    content: "\f1c6";
}
.blk-milk-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background-color: #fff;
    z-index: 11;
    transition: opacity .5s;
}
.blk-milk-shadow .fa {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 12;
    color: #0086a6;
}