<span class="bbk-di-actions" data-division-actions data-division-id="{{ entity.id }}">
    <a href="#" data-toggle="dropdown">Набор действий</a>
    <ul class="dropdown-menu dropdown-menu-right">
        {% for item in entity.actions %}
            <li><a href="#" {% if item.code %}data-{{ item.code }}{% endif %}>{{ item.name }}</a></li>
        {% endfor %}
    </ul>
</span>