{% extends 'LbcBundle::base.html.twig' %}
{% block body -%}
    <form data-bbk-search-form>
        <div class="bbk-search-string">
            <div class="input-group">
                <input type="text"
                       name="query"
                       class="form-control input-lg"
                       placeholder="Поиск по всем полям"
                       value="{{ app.request.get('query') }}">
            <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="button" data-bbk-extended-toggler><i></i></button>
                <button class="btn btn-primary btn-lg" type="button">Найти</button>
            </span>
            </div>
        </div>
        <div class="bbk-dummy">
            <a href="#" data-bbk-extended-toggler>Расширенный поиск</a>
        </div>
        <div class="bbk-search-extended" data-bbk-extended-block>
            <div class="bbk-ext-fieldset lvp">
                <a href="#" class="bbk-ext-close" data-bbk-extended-toggler></a>

                <div class="bbk-ext-grid-row">
                    <div class="form-group bbk-ext-field">
                        <label for="bbk-code">Код</label>
                        <input name="code" id="bbk-code" class="form-control" type="text"
                               value="{{ app.request.get('code') }}">
                    </div>
                    <div class="form-group bbk-ext-field">
                        <label for="bbk-maindivision">Основное деление</label>
                        <input name="maindivision" id="bbk-maindivision" class="form-control" type="text"
                               value="{{ app.request.get('maindivision') }}">
                    </div>
                    <div class="form-group bbk-ext-field">
                        <label for="bbk-locationplan">План расположения</label>
                        <input name="locationplan" id="bbk-locationplan" class="form-control" type="text"
                               value="{{ app.request.get('locationplan') }}">
                    </div>
                    <div class="form-group bbk-ext-field">
                        <label for="bbk-specialdivision">Специальные и типовые деления</label>
                        <input name="specialdivision" id="bbk-specialdivision" class="form-control" type="text"
                               value="{{ app.request.get('specialdivision') }}">
                    </div>
                    <div class="form-group bbk-ext-field">
                        <label>&nbsp;</label>

                        <div class="checkbox">
                            <label>
                                <input name="bbkcode" type="checkbox"
                                       {% if app.request.query.has('bbkcode') %}checked{% endif %}>
                                <span class="lbl">Только строки, требующие уточнения</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group bbk-ext-field">
                        <input type="submit" class="btn btn-primary" value="Найти">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="bbk-result">
        {% if crumbs %}
            {{ include('LbcBundle:LbcMaindivision:_crumbs.html.twig', { 'crumbs': crumbs }) }}
        {% endif %}
        <h2>{{ category.name }}</h2>
        <dl class="bbk-division-list" data-division-list-widget>
            {% for entity in entities %}
                <dt class="lvhp" data-division-item>
                    <span class="bbk-division-item">
                        <a href="{{ path('bbk_category', { 'id': entity.id }) }}" class="bbk-main-uli">{{ entity.name }}</a>
                    </span>
                    <span class="bbk-di-desc" data-division-description-toggle>Пояснение к разделу</span>
                    {{ include('LbcBundle:LbcMaindivision:_actions.html.twig', { 'entity': entity }) }}
                </dt>
                <dd data-division-description>
                    {% if description is defined %}
                        {{ description }}
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
    </div>
{% endblock %}