input[type=checkbox],
input[type=radio] {    
    opacity: 0;
    position: absolute;
    z-index: 12;
    width: 18px;
    height: 18px;
}
input[type=checkbox]+.lbl,
input[type=radio]+.lbl {
    position: relative;
    z-index: 11;
    display: inline-block;
    margin: 0;
    /*line-height: 20px;*/
    min-height: 14px;
    min-width: 14px;
    font-weight: normal;
    padding-left: 1.5em;
    margin-right: 2em;
    -webkit-user-select: none;
    user-select: none;
}
input[style*="display: none"] + .lbl {display: none;}
/* Базовые стили чекбоксов */
input[type=checkbox]+.lbl::before,
input[type=radio]+.lbl::before {
    /*font-family: fontAwesome;
    font-weight: normal;
    font-size: 88%;
    color: #007894;
    content: '\a0';
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 19px;
    line-height: 17px;
    min-width: 19px;
    margin-right: 10px;
    margin-top: -4px;
    position: absolute; left: 0; top: .35ex;*/
}
input[type=checkbox]+.lbl:before {
    -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    content: '';
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top:.3ex;
    border-radius: 2px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    background-image: url('/local/templates/adaptive/img/radiocheck/checked.png');
    background-image: -webkit-linear-gradient(transparent, transparent), url('/local/templates/adaptive/img/radiocheck/checked.svg');
    background-image: linear-gradient(transparent, transparent), url('/local/templates/adaptive/img/radiocheck/checked.svg');
    background-image: -o-linear-gradient(transparent, transparent), url('/local/templates/adaptive/img/radiocheck/checked.png');
    background-size: .8em .8em;
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: border-box;
    background-size: 0 0;
}
input[type=radio]+.lbl:before {
    -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    content: '';
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top:.3ex;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    background-color: #fff;
    border: 1px solid #ccc;    
    background-image: url('/local/templates/adaptive/img/radiocheck/radio_checked.png');
    background-image: -webkit-linear-gradient(transparent, transparent), url('/local/templates/adaptive/img/radiocheck/radio_checked.svg');
    background-image: linear-gradient(transparent, transparent), url('/local/templates/adaptive/img/radiocheck/radio_checked.svg');
    background-image: -o-linear-gradient(transparent, transparent), url('/local/templates/adaptive/img/radiocheck/radio_checked.png');
    background-size: .8em .8em;
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: border-box;
    background-size: 0 0;
}
/* Стили для checked */
input[type=checkbox]:checked+.lbl::before,
input[type=radio]:checked+.lbl::before {
    background-size: 100% 100%;
    background-color: #fff;
    border-color: #007894;
}

/* Стили для hover */
input[type=checkbox]:hover+.lbl::before,
input[type=radio]:hover+.lbl::before,
input[type=checkbox]+.lbl:hover::before
,input[type=radio]+.lbl:hover::before {
  border-color: #007894;
}

/* Тень при checked или active */
input[type=checkbox]:active+.lbl::before,
input[type=radio]:active+.lbl::before,
input[type=checkbox]:checked:active+.lbl::before,
input[type=radio]:checked:active+.lbl::before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #007894;
    border-color: #007894;
}

/* Стили для disabled */
input[type=checkbox]:disabled+.lbl::before,
input[type=radio]:disabled+.lbl::before,
input[type=checkbox][disabled]+.lbl::before,
input[type=radio][disabled]+.lbl::before,
input[type=checkbox].disabled+.lbl::before,
input[type=radio].disabled+.lbl::before {
    cursor: default;
    background-color: #ddd;
    border-color: #ccc;
}

/* Стили для радио кнопок */
input[type=radio]+.lbl:before {
  
}

input[type=radio]:checked+.lbl::before {
  content: '';
}