*,*:after,*:before {box-sizing: border-box;}
body {font-family: sans-serif;}
.blind-version {}

/*typo*/
a, a.h5 {color:#0086a6;}
a:hover, a.h5:hover {color:#23527c;}
h1,.h1,h2,.h2,h3,.h3,h4,.h4 {margin: 1.5em 0 1em;}
h1, .h1 {font-size: 170%;}
h2, .h2 {font-size: 145%;}
h3, .h3 {font-size: 135%;}
h4, .h4 {font-size: 130%; font-weight: normal; margin: 1em 0;}
h5, .h5 {font-size: 130%; font-weight: normal; margin: 0 0 1ex 0;}
a.h5, span.h5 {display: inline-block;}
.search-result-item.sri h2 {font-size: 130%;}
h5 .h5,
h2 .h5 {font-size: 100%; margin-bottom: .5ex;}
/*/typo*/

/*forms*/
.btn {border-width: 2px; border-style: solid; border-radius: 3px; padding: .8em .8em .75em; min-width: 260px; text-align: center; display: inline-block;}
.btn-default {color:#0086a6; border-color:#0086a6;}
.form-dl {margin: 1em 0;}
.form-dl > dt, .form-dl > dd {margin: 1ex 0;}
.form-dl > dt {width: 20%; float: left; padding-right: 2em; clear: left; font-weight: normal;}
.form-dl > dd {width: 80%; float: left;}
.form-dl > dt > label,
.form-dl > dd > label {padding: 1ex 0; font-weight: normal;}
.form-dl > dt label {font-weight: normal;}
.form-dl > dt > label.for-lg,
.form-dl > dd > label.for-lg {padding: 1em 0;}
.form-dl > dt > label.for-lg.one-line-height {height: 3em;}
.form-dl > dd > label.for-lg {margin: 0 1em;}
.form-dl > dd > label.for-lg:first-of-type {margin-left: -2em; width: 2em; margin-right: 0;}
.form-dl .instead-input {display: inline-block; padding: 1ex 0;}
.form-dl .instead-input-lg {display: inline-block; padding: 1em 0;}
.form-dl:after {display: table; content: " "; clear: both;}
.button-bar {padding: 1em 0;}
.button-bar .btn {font-weight: bold; margin-bottom: 1ex;}
label[for], label.for {cursor: pointer;}

.form-dl > hr {background-color:transparent; border-top: none; border-bottom: 1px solid #ccc; margin: .5ex 0; clear: both;}

/*/forms*/

/*searchform*/
#searchformcontainer {padding: 0;}
#searchformcontainer > form,
#searchformcontainer > form > .form-dl {margin: 0;}
#searchformcontainer .button-bar {}
#searchformcontainer + .h4 {}
/*/searchform*/
/*searchresults*/
.search-results {margin: 2em 0; counter-reset:searchresults;}
.search-results .pagination {margin-left: 2em;}
.search-result-item.sri {margin-bottom: 2em; position: relative; margin-left: 2em;}
.search-result-item.sri:before {
	display: block; position: absolute; top: 0; left: -2em;
	counter-increment: searchresults;
	content: counter(searchresults) ". ";
}
.sri h5 {font-size: 140%;}
.sri-characters {margin: 1em 0;}
.h5 + .sri-characters {margin-top: 1ex;}
.sri-characters:after {content: " "; display: table; clear: both;}
.sri-characters dt {float: left; clear: left; margin-right: 1em; margin-bottom: 1ex; font-weight: normal; color:#9d9d9d;}
.sri-characters dd {float: left; margin-bottom: 1ex;}
.sri .button-bar {padding: 0;}
/*/searchresults*/

/*layout*/
.container {max-width: 1000px; margin-left: auto; margin-right: auto;}
/*/layout*/

/* главная слепых */
.header-logo {
    width: 206px; height: 48px; margin: auto;
    background: url("/local/templates/adaptive/img/logo-header.png") center center no-repeat;
}
.index-menu {}
.index-menu a {display: block; text-align: center; font-size: 140%; margin: 1em 0;}
/* */
.v-spacing {margin-top: 2em; margin-bottom: 2em;}
.v-spacing-lg {margin-top: 5em; margin-bottom: 5em;}
.v-padding {padding-top: 1em; padding-bottom: 1em;}
.text-center {text-align: center;}

[data-toggle="collapse"].btn-default[aria-expanded="true"] {background-color:#e6e6e6; color:#000;}
[data-toggle="collapse"].btn-default[aria-expanded="false"] {background-color:#fff; color:#0086a6; border-color:#0086a6;}

/*pagination*/
.pagination>li {display: inline-block; margin-bottom: 1em;}
.pagination>li>a, .pagination>li>span {
    background: #e6f2f2;
    color: #0086a6;
    line-height: 2;
    height: 50px;
    border: 1px solid #fff;
    float: none;
}
.pagination>li>.pagination__none {
    padding-top: 10px;
    color: #000;
}
.pagination>li>.pagination__active,
.pagination>li>.current,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #000;
    background: #f3f9f9;
    border: 1px solid #fff;
}
/*/pagination*/

.data-dl {margin: 1em 0;}
.data-dl:after {content: " "; display: table; clear: both;}
.data-dl > dt {font-weight: normal; color:#9d9d9d; width: 20%; float: left; clear: left; margin-bottom: 1ex;}
.data-dl > dd {padding-left: 2em; margin-bottom: 1ex; width: 80%; float: left;}

.screen-hide {}
@media screen {
    .screen-hide {display: none;}
}

ul:not([class]) {
    list-style: none;
}
ul:not([class]) > li {
    position: relative;
}
ul:not([class]) > li:before {
    display: block;
    position: absolute;
    left: -1.3em;
    top: 0;
    content: "\2013";
}
ul:not([class])[style*="list-style"] > li:before {display: none;}