.ratings-table .btn {
    position: relative;
}
.ratings-table .button-remove:after {
    content: " ";
    display: block; width: 15px; height: 15px;
    position: absolute; left: 50%; top: 50%; margin-left: -8px; margin-top: -8px;
    background: url(/local/templates/adaptive/img/icons.png) no-repeat -25px -367px;
}
.ratings-table .button-save:after {
    content: " ";
    display: block; width: 16px; height: 18px;
    position: absolute; left: 50%; top: 50%; margin-left: -7px; margin-top: -8px;
    background: url(/local/templates/adaptive/img/sprite-overall.png) no-repeat -489px center;
}
.ratings-table .button-reset:after {
    content: " ";
    display: block; width: 16px; height: 18px;
    position: absolute; left: 50%; top: 50%; margin-left: -8px; margin-top: -8px;
    background: url(/local/templates/adaptive/img/sprite-overall.png) no-repeat -506px center;
}
.ratings-table .button-add:after {
    content: " ";
    display: block; width: 18px; height: 20px;
    position: absolute; left: 50%; top: 50%; margin-left: -9px; margin-top: -9px;
    background: url(/local/templates/adaptive/img/sprite-overall.png) no-repeat -540px center;
}
.ratings-table .button-remove.action-inprogress:after, 
.ratings-table .button-save.action-inprogress:after, 
.ratings-table .button-reset.action-inprogress:after {
	display: none;
}
.ratings-table .dirty .button-remove {display: none;}
.ratings-table .button-reset, .ratings-table .button-save {display: none;}
.ratings-table .dirty .button-reset, 
.ratings-table .dirty .button-save {display: inline-block;}
.ratings-table .new .button-save {display: inline-block;}

.responsive-table-layout.authors-rating,
.responsive-table-layout.editions-rating {table-layout: auto; margin: 1em 0;}
/*.responsive-table-layout.editions-rating > dt > span:nth-of-type(3) {width: 400px;}*/
.responsive-table-layout.authors-rating > dt > span:nth-of-type(2) {width: 140px;}
.responsive-table-layout.complex-requests-rating > dt > span:nth-of-type(3),
.responsive-table-layout.editions-rating > dt > span:nth-of-type(4) {width: 90px;}

.responsive-table-layout.authors-rating > dt > span:nth-of-type(3),
.responsive-table-layout.requests-rating > dt > span:nth-of-type(3),
.responsive-table-layout.complex-requests-rating > dt > span:nth-of-type(4),
.responsive-table-layout.editions-rating > dt > span:nth-of-type(5) {width: 90px; text-align: center;}
.responsive-table-layout.editions-rating > dt > span:nth-of-type(4) {width: 140px;}
.responsive-table-layout.authors-rating > dd > span:nth-of-type(3),
.responsive-table-layout.requests-rating > dd > span:nth-of-type(3),
.responsive-table-layout.complex-requests-rating > dd > span:nth-of-type(4),
.responsive-table-layout.editions-rating > dd > span:nth-of-type(5) {text-align: center; white-space: nowrap;}
.responsive-table-layout.ratings-table > dt > span,
.responsive-table-layout.ratings-table > dd > span {vertical-align: middle;}
.authors-rating > dd:nth-of-type(1) > span:nth-of-type(3),
.authors-rating > label> dd:nth-of-type(1) > span:nth-of-type(3) {width: 1px;}
.ratings-table dt [type="text"] {padding: .25ex 1ex; margin-left: 1em;}
.ratings-table dd [type="text"],
.ratings-table dd [type="number"],
.ratings-table dd textarea {width: 100%; padding: 1ex 1em; border: none;}
.ratings-table dd textarea {width: 100% !important;}
.authors-rating > dd:not([data-item]) {
	background-color: #e6f2f2;
	opacity: 0;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}
.ratings-table dd > span > i:not([style*="display: none"]) + textarea {display: none;}
.ratings-table dd > span > textarea {width: 400px;}
.ratings-table dd > span > i {cursor: pointer;}
.authors-rating > dd > span em {font-style: normal;}


nav.hor-nav {display: table; width: 100%; margin: 1em 0;}
nav.hor-nav > a {
    display: table-cell;
    background-color:#e6f2f2;
    text-align: center;
    padding: 1ex 2em;
}

nav.hor-nav > a:first-of-type {border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
nav.hor-nav > a:last-of-type {border-top-right-radius: 3px; border-bottom-right-radius: 3px;}

nav.hor-nav > a:hover,
nav.hor-nav > a.active {
    background-color:#f3f9f9;
}