.bbk-search-string {margin-bottom: 6px;}
.bbk-search-string input.input-lg {height: 52px; font-style: italic;}
.bbk-search-string button.btn-lg {height: 52px; font-size: 30px; line-height: 1;}
.bbk-search-string button.btn-default {border-color:#dddddd !important; outline: none !important;}
.bbk-search-string button.btn-default.focus, .bbk-extended .bbk-search-string button.btn-default {} /*low_vision*/

.bbk-search-string button.btn-default i {display: block; width: 40px; height: 34px; 
	background: url('/local/templates/adaptive/img/search.png') center center no-repeat; margin-top: -2px;}

.bbk-dummy {margin: 6px 0; text-align: right; opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; height: 0;}
.bbk-extended .bbk-dummy {opacity: 0; -webkit-transition: opacity .1s; transition: opacity .1s;}
.bbk-dummy a {display: inline-block; border-bottom: 1px dashed #0086a6; text-decoration: none;}

.bbk-search-extended {margin-top: 6px; display: none;}
	.bbk-ext-fieldset {padding: 18px 18px 0px 21px; position: relative;}
		.bbk-ext-grid-row {margin-left: -15px; margin-right: -15px;}
		.bbk-ext-grid-row:after {content: " "; display: table; clear: both;}
			.bbk-ext-field {width: 33.33333333%; float: left; padding-left: 15px; padding-right: 15px;}
				.bbk-ext-field .btn-primary {float: right; font-size: 25px; line-height: 1; padding-left: 1.5em; padding-right: 1.5em;}
				.bbk-ext-field .checkbox {margin-bottom: 0;}
				.bbk-ext-field label {font-weight: normal;}
			@media (max-width: 991px) {
				.bbk-ext-field {width: 50%;}
				.bbk-ext-field:nth-of-type(5) > label {display: none;}
				.bbk-ext-field .btn-primary {margin-top: 0;}
			}
			@media (max-width: 600px) {
				.bbk-ext-field {width: 100%;}
			}

.bbk-result {}
.bbk-result > h2 {margin: 44px 0 .5em 30px;}
.bbk-result > p {margin: 1em 0 1em 30px;}
.bbk-result > h2:first-of-type + p {margin-top: 2em; margin-bottom: 2em;}
.bbk-division-list {}
.bbk-division-list ~ ul.pagination {margin-top: 30px; margin-left: 30px;}
.bbk-division-list > dt {
	font-weight: normal;
	display: table;
	width: 100%;
}
/*.bbk-division-list > dt:hover, .bbk-division-list > dt.active {
	background-color:#ebf2f4;
}*/
.bbk-division-list > dt > span {
	display: table-cell;
	vertical-align: middle;
}
/*.bbk-division-list > dt > span:first-of-type {padding-left: 63px; text-indent: -33px;}*/
	.bbk-division-item .sort-arrow { margin-left: -50px; margin-top: -8px; position: absolute; cursor: pointer; font-size: 1.3em; text-decoration: none;}
	.bbk-division-item .sort-up { }
	.bbk-division-item .sort-down { margin-left: -65px; margin-top: -8px;}
	.bbk-division-item .show-item-path { margin-left: -60px; margin-top: -8px; position: absolute; cursor: pointer; font-size: 1.3em; text-decoration: none;}
	.bbk-division-item .path-container {display: none; padding-top:20px; border-bottom: 1px solid #b1bbbe; padding-bottom: 5px; margin-bottom: 5px;}
	.bbk-division-item {padding-left: 63px; padding-top: 1ex; padding-bottom: 1ex;}
	.bbk-division-item .bbk-main-uli {text-indent: -33px; display: inline-block;}
	.bbk-division-item .bbk-secondary-uli {font-size: 85%; display: block;}
	.bbk-division-item ol, .bbk-division-item ul {font-size: 85%; margin: 1em 0; padding: 0;}
	.bbk-division-item ol > li, .bbk-division-item ul > li {margin-top: 1em; margin-left: 1em;}
	.bbk-division-item > p {color:#8f8d8d; font-size: 85%;}
	.bbk-di-desc {cursor: pointer;}
	.bbk-di-actions {position: relative;}
	
	
	.bbk-di-actions.open, .bbk-di-actions:hover, .bbk-di-desc.active, .bbk-di-desc:hover {color:#fff; background-color:#0086a6;}
	.bbk-di-actions > a, .bbk-di-desc > a {text-decoration: none;}
	.bbk-di-actions.open > a, .bbk-di-actions:hover > a, .bbk-di-desc.active > a, .bbk-di-desc:hover > a {color: #fff;}
	.bbk-di-desc, .bbk-di-actions {font-size: 90%; visibility: hidden; white-space: nowrap; width: 232px; text-align: center;}
	.bbk-division-list .bbk-di-desc {padding-left: 2em; padding-right: 2em;}
	.bbk-division-list .bbk-di-actions {padding: 0;}
	.bbk-division-list .bbk-di-actions > a {display: inline-block; padding: 1ex 2em;}

	.bbk-di-actions > a {position: relative;}
	.bbk-di-actions > a:before {display: inline-block; width: 16px; height: 13px; content: " "; margin-right: 7px; position: relative; top: 2px;
		background: url("/local/templates/adaptive/img/sprite-overall.png") -295px center no-repeat transparent;
	}
	.bbk-di-actions > a.spinned:before {display: none;}
	.bbk-di-actions > a.spinned > .spinner {display: inline-block; width: 16px !important; margin-right: 7px; padding-left: 10px;}
	.bbk-di-actions > a.spinned > .spinner > div > div {background-color: #0086a6 !important;}
	.bbk-di-actions.open > a.spinned > .spinner > div > div,
	.bbk-di-actions:hover > a.spinned > .spinner > div > div {background-color:#fff !important;}
	@media (max-width: 800px) {
		.bbk-di-actions > a {width: 100%; height: 100%;}
		.bbk-di-actions > a:before {top: 50%; margin-top:-6px;}
		.bbk-di-actions > a.spinned > .spinner { top: 50% !important;}
	}



	.bbk-di-actions.open > a:before, .bbk-di-actions:hover > a:before {background-position: -312px center;}

	.bbk-division-list > dt:hover .bbk-di-desc, 
	.bbk-division-list > dt.active .bbk-di-desc,
	.bbk-division-list > dt:hover .bbk-di-actions, 
	.bbk-division-list > dt.active .bbk-di-actions {visibility: visible;}

	.bbk-division-list.requests > dt:not(.active):hover .bbk-di-desc, 
	.bbk-division-list.requests > dt:not(.active):hover .bbk-di-actions {visibility: hidden;}
	/*.bbk-division-list.requests .lvhp:hover {background-color: transparent !important;}*/

	.bbk-di-actions .dropdown-menu {min-width: 232px; margin-top: 0; margin-bottom: 0;}
	.bbk-di-actions .dropdown-menu > li {margin-top: -1px;}
	.bbk-di-actions .dropdown-menu > li a {text-decoration: none; position: relative; padding-top: 1.3ex; padding-bottom: 1.3ex;}
	.bbk-di-actions .dropdown-menu > li a:after {
		content: " "; display: block; height: 1px; position: absolute; left: 20px; right: 20px; bottom: 0;
		background-color: #dddddd;
	}
	.bbk-di-actions .dropdown-menu > li:last-of-type a:after, .bbk-di-actions .dropdown-menu > li a:hover:after {background-color: transparent;}


.bbk-division-list > dd {display: none; background-color:#f7f7f7; padding: 30px; border: 1px solid #dddddd;}
/*@media (max-width: 800px) {
	.bbk-division-list > dt {display: block;}
	.bbk-division-list > dt > span {display: block;}
	.bbk-di-desc, .bbk-di-actions {visibility: visible;}

	.bbk-division-list > dt > [data-division-item] {position: relative;}
		.bbk-division-item {}
		.bbk-di-desc {display: none;}
		.bbk-di-actions {position: absolute; right: 1ex; top: 50%; }
}*/
@media (max-width: 800px) {
	.modal-dialog {margin: 0;}
	.bbk-division-list > dt {}
	.bbk-division-list > dt > span {}
	.bbk-di-desc, .bbk-di-actions {}

	.bbk-division-list > dt > [data-division-item] {}
		.bbk-division-item {}

		.bbk-division-list > dt > span.bbk-di-desc {display: none;}
		.bbk-di-actions {font-size: 0; width: 40px;}
		.bbk-di-actions > a:before {margin-right: 0;}
	.bbk-main-uli {text-decoration: none;}
	.hover .bbk-main-uli {text-decoration: underline; display: inline;}
	.bbk-division-list > dd {display: block; height: 0; border: none; padding: 0px; background-color: transparent; overflow: hidden;}
	.bbk-division-list > dd > div {
		background-color: #f7f7f7;
	    padding: 30px;
	    border: 1px solid #dddddd;
	}
	.bbk-division-list > dt.hover + dd {height: auto;}

	.bbk-division-list > dt:hover + dd {height: auto;}
	.bbk-division-list > dd:hover {height: auto;}
}

.bbk-crumbs {font-size: 80%; margin: 44px 10px 1.5em 30px;}
.bbk-crumbs a {}
.bbk-crumbs a:after {display: inline-block; content: "\00a0/";}
.bbk-crumbs > span {display: none;}
.bbk-crumbs > a + span {display: inline-block;}
.bbk-crumbs + h2 {margin-top: 20px;}
.bbk-crumbs + h2 ~ h4 {margin-left: 30px; color:#8f8d8d;}
.bbk-subdivision-list {margin-left: 30px;}
.bbk-subdivision-list dt, .bbk-subdivision-list dd {text-indent: -33px;}
.bbk-subdivision-list dt {font-weight: normal; padding-top: 1.5ex; padding-bottom: 1.5ex; padding-left: 33px;}
.bbk-subdivision-list dd {font-size: 90%; margin-left: 44px; padding-top: 1.5ex; padding-bottom: 1.5ex; padding-left: 33px;}
@media (max-width: 800px) {
	.bbk-crumbs {line-height: 3;}
}

.unmoderated-division {}
.unmoderated-division .bbk-division-item > a {color:#e94b4b;}
.unmoderated-division .bbk-di-actions [data-approve] {color:#e94b4b;}

.info-dl {margin: 0; padding: 0;}
.info-dl > dt {width:20%; float: left; clear: left; margin: 0 0 1em 0; font-weight: normal; color:#929495; font-style: italic;}
.info-dl > dd {width: 80%; float: left; margin: 0 0 1em 0;}
.info-dl > dd > .form-control {margin-top: -6px; margin-bottom: 10px;}
.info-dl:after {content: " "; display: table; clear: both;}

.hordivlist {list-style: none; padding: 0; margin: 0 0 1em;}
.hordivlist li {
	display: inline-block;
	margin-right: 1em;
}

.divcomment dl {display: none;}
.divcomment dt {font-weight: normal; font-style: italic;}
.divcomment dd {margin-left: 2em;}
a.haveq {display: inline-block;	position: relative; color:#000; padding-left: 30px; font-size: 90%; text-decoration: none;}
a.haveq:after {content: " "; display: block; width: 19px; height: 20px; position: absolute; left: 0; top: 50%; margin-top: -11px;
	background: url("/local/templates/adaptive/img/sprite-overall.png") -329px center no-repeat transparent;
}
.divlinks p {margin: 1ex 0;}
.buttons-bar {margin-top: 3em;}

