.lte8 {display: block; z-index: 1000000000000 !important; background-color:#0086a6; color:#fff; filter: alpha(opacity=100); zoom: 1;}
.lte8 .lte8mes {padding-left: 40px;}
.lte8 .lte8mes.unshowedmes {
	padding-left: 0px;
    position: fixed;
    width: 50%;
    text-align: center;
    top: 50%; left: 25%;
    margin-top: -200px;
    padding: 50px;
    background-color:#0086a6;
    z-index: 10000000 !important;
}
.unshowedmes + .milkie {
	position: fixed;
	z-index: 1000000 !important;
	width: 100%;
	height: 100%;
	background-color:#000;
	filter: alpha(opacity=50);
	z-index: 1;
}

.iblock {display: inline;}
.pagination, .pagination li {list-style-type: none;}
