/*.libs-map-widget.lmw {display: table; width: 100%;}
    .lmw .lmw-map {display: table-cell;}
    .lmw .lmw-bar {display: table-cell; width: 330px; vertical-align: top;}*/
.b-map {
    height: 530px;
}
    .libs-map-widget.lmw {position: absolute; width: 100%; left: 0; right: 0; /*height: 740px;*/ min-height: 500px !important;}
        .lmw .lmw-map {}
        .lmw .lmw-bar {width: 330px; overflow: hidden; position: absolute; top: 1em; right: 1em; bottom: 1em; background-color:#fff;}
            .libs-list-title {position: relative; padding: 1ex 1em 1ex 40px; z-index: 2; border-bottom: 1px solid #dadada;}
            .libs-list-view {
                position: absolute; width: 100%; height: 100%; left: 0; top: 0; border-top: 45px solid transparent; overflow: hidden;
            }
                .libs-list-view .b-elar_usrs_list {
                    position: absolute; left: 0; top: 0; right: 2px; height: 100%; border-bottom: 80px solid transparent; overflow-y: auto;
                }
                .libs-list-view .pagenav-info {
                    position: absolute; height: 80px; width: 100%; left: 0; bottom: 0; z-index: 2; text-align: center;
                }

                .pagenav-info:empty + .b-elar_usrs_list {border-bottom-width: 0;}
@media (max-width: 800px) {
    .libraries-map {min-height: 450px;}
    .libs-map-widget.lmw {}
        .lmw .lmw-map {}
        .lmw .lmw-bar {width: 100%; right: auto; left: 0; height: 47px; overflow: hidden; top: 2px; bottom: 2px;}
        .lmw .lmw-bar.expanded {height: auto;}
            .libs-list-title {height: 47px; font-size: 20px; cursor: pointer; position: relative;}
            .libs-list-title:after {content: " "; display: block; position: absolute; width: 14px; height: 21px; right: 40px; top: 50%; margin-top: -11px;
                background: url(/local/templates/adaptive/img/sprite-overall.png) -51px center no-repeat transparent;
            }
            .expanded .libs-list-title:after {background-position: -37px center;}
            .libs-list-view {}
                .libs-list-view .b-elar_usrs_list {}
                .libs-list-view .pagenav-info {}
                .pagenav-info:empty + .b-elar_usrs_list {}
}

/**
* Старые стили карты
*/
.ymap { 
    width: 100%; 
    min-width: 290px; 
    margin: 0 auto; 
    /*height: 740px; */
    border-top: solid 1px #fff; 
    border-bottom: solid 1px #fff; 
    margin-bottom:40px;
}
.lmw-map .ymap {margin-bottom: 0;}
.ymap .ymaps-b-balloon__close, .fmap .ymaps-b-balloon__close {
    background: url("/local/templates/.default/markup/i/icons.png") no-repeat -22px -366px;
    display: block;
    height: 21px;
    position: absolute;
    right: 10px;
    top: 18px;
    width: 22px;
}
/* baloon */
.ymaps-b-balloon {
    margin: 0;
}
.ymap .ymaps-b-balloon__sprite, 
.fmap .ymaps-b-balloon__sprite { background:none; height: 177px; }
.ymap .ymaps-b-balloon__sprite_type_tail, 
.fmap .ymaps-b-balloon__sprite_type_tail {display:none; height: 27px; width: 31px; background:none; }
.ymap .ymaps-b-balloon__tail, 
.fmap .ymaps-b-balloon__tail { float: left; right: auto;  height: 0; left: -2px; top: -9px; margin: 0; }
/*.ymap .ymaps-b-balloon__content, */
.fmap .ymaps-b-balloon__content {
    border: 0; margin: 0;
    border-top: 3px solid #f06735 !important;
    background: #fff;
    /*width: 407px;*/
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.13);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.28);
    box-shadow: 0 3px 6px rgba(0,0,0,0.28);
}
/*@media (max-width: 600px) {
    .ymap .ymaps-b-balloon__content, 
    .fmap .ymaps-b-balloon__content {width: 260px;}
}
@media (max-width: 375px) {
    .ymap .ymaps-b-balloon__content, 
    .fmap .ymaps-b-balloon__content {width: 260px;}
}
@media (max-width: 320px) {
    .ymap .ymaps-b-balloon__content, 
    .fmap .ymaps-b-balloon__content {width: 220px;}
}*/

/*.b-lib_mapwrapper .fmap .ymaps-b-balloon__content {width:350px;}*/
.b-lib_mapwrapper .fmap .ymaps-b-balloon__content .marker_lib {width:300px;}
.ymaps-b-balloon__content-holster { display: block; }
.ymaps-b-balloon__tl { position: relative; }
.ymaps-b-balloon__tl-holster { height: 31px; }
.ymaps-b-balloon__tr { height: 31px; }
.ymaps-b-balloon__bl-inner,  .ymaps-b-balloon__br-inner { height: 28px; }
.ymaps-b-balloon__bl-holster { }
.ymaps-b-balloon__sprite_position_bl { margin-top: -111px; }
.ymaps-b-balloon__sprite_position_br { margin-top: -111px; }
.ymaps-b-balloon__br-holster { margin-left: 0; }
.ymaps-shadows-pane { display: none; }
.ymaps-b-balloon__content-body { font-size: 77%; line-height: 1.5; font-weight:300; color: #3a3938;}
.ymaps-b-balloon__content-body br { display: none; }
.ymaps-b-balloon__content-body span { display: block; padding: 2px 0; }
.ymaps-b-balloon__content-body .marker_lib {padding:10px 20px;}
.ymaps-b-balloon__content-body .b-elar_name_txt { color: #1c1a19; font-weight: 600; }
.ymaps-b-balloon__content-body .b-elar_status {
    color: #a1a2a3;
    font-size: 66%;
    line-height: 1.5;
    margin-bottom:7px;
    margin-top:0;
}
.ymaps-b-balloon__content-body .b-mapcard_status {
    color:#007894;
    font-style:italic;
    font-weight:normal;
    line-height:1.6;
}
.ymaps-b-balloon__content-body .b-mapcard_status:after {
    background: url("/local/templates/.default/markup/i/icons.png") no-repeat scroll -51px -177px rgba(0, 0, 0, 0);
    content: " ";
    display: inline-block;
    height: 19px;
    margin-left: 10px;
    vertical-align: middle;
    width: 19px;
}
.ymaps-b-balloon__content-body a.button_mode { border-color: #cedadd; }
.ymaps-b-balloon__content-body .b-map_elar_info {margin-bottom:7px;}
.ymaps-b-balloon__content-body .b-map_elar_infoitem span {display:inline-block; vertical-align:top; font-weight:normal; margin-right: 20px; color:#929495; font-style:italic;}
.ymaps-b-balloon__content-body .b-map_elar_infoitem { color: #3a3938; font-weight: 300;}
.ymaps-b-balloon__close {
    background-position: 4px 14px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
    height: 30px;
    position: absolute;
    right: 1px;
    top: 5px;
    width: 30px;
}
.b-lib_mapwrapper .fmap .ymaps-b-balloon__content .marker_lib {width:300px;}


/*******************
Костыль чтобы успеть к релизу.
Переопределение старых стилей.
Нужно заменить на нормальные классы и переверстать.
*******************/
.b-cytyinfo {
    font-size: 111%;
    padding-top: 5px;
}
.b-map_search_filtr {
    margin-top: 40px;
    margin-bottom: 15px;
}
.b-citysearch {
    text-align: right;
    position: relative;
}
.b-citysearch input {
    width: 100%;
    padding-right: 57px;
    padding-left: 1ex;
}
.b-citysearch .button_b {
    position: absolute;
    background: transparent;
    border: none;
    color: #0086a6;
    top: .1ex;
    right: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.b-citysearch .button_d {
    position: absolute;
    background: transparent;
    border: none;
    color: #0086a6;
    top: 5px;
    right: 52px;
    cursor: pointer;
    display: none;
}
.b-elar_usrs_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.b-elar_usrs_list .num{
    width: 40px;
    text-align: right;
    padding-right: 10px;
    color:#959595;
    font-size: 90%;
    position: absolute; left: 0; top: 20px;
}
.b-elar_name, .b-elar_address {
    padding-left: 40px;
    padding-right: 10px;
}
.b-elar_name {
}
.b-elar_address {
    font-size: 85%;
    margin-top: 1ex;
}
@media (max-width: 600px) {
    .b-elar_usrs_list .num {}
    .b-elar_name {width: 90%;}
    .b-elar_address {width: 100%; padding-left: 10%;}
}
.b-elar_usrs_list > li {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    position: relative;
    font-size: 90%;
    cursor:pointer;    
}
.b-elar_usrs_list > li:hover {
    background-color:rgba(128,128,128,.2);
}
.b-elar_usrs_list > li:last-of-type {
    border-bottom: none;
}
.b-elar_name_txt {
    color: #333;
    text-decoration: none;
    /*font-size: 88%;*/
    /* font-weight: bold; */
    line-height: 1.2em;
}
.b-elar_status.neb {
    position: relative;
}
.b-elar_status {
    color: #000;
    margin-top: 13px;
    vertical-align: middle;
    line-height: 19px;
    letter-spacing: -0.02em;
}
.b-elar_status.neb .icon {
    background: url("../../.default/markup/i/icons.png") no-repeat -51px -177px;
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.b-elar_status .b-hint {
    display: none;
}
.status a, .status label {
    font-size: 72%;
}

/* кастомные баблы */
.libraries-map .marker_lib,
.library-map .marker_lib {
    display: block;
    padding: 1ex 1em;
    border-top: 3px solid #f06735;
    font-size: 77%; line-height: 1.5;
    background-color:#fff;
}
    .libraries-map .b-elar_name_txt,
    .library-map .b-elar_name_txt {
        display: block;
        padding-right: 25px;
        color: #1c1a19;
        font-weight: 600;
    }
    .libraries-map a.b-elar_name_txt,
    .library-map a.b-elar_name_txt {
        text-decoration: underline;
    }
    .libraries-map a.b-elar_name_txt:hover,
    .library-map a.b-elar_name_txt:hover {
        text-decoration: none;
    }
