.b-mainblock
{
    width: 960px!important;
	max-width: 98%;
}

div.forum-info-box
{
	padding:0.5em 1.117em;
	border-width: 1px;
	border-style: solid;
	line-height: 1.5em;
	margin-bottom:1em;
	zoom: 1;
}
div.forum-info-box-inner
{
/*	zoom:1;*/
}

/* Forum Menu */
div.forum-menu-box { margin-bottom: 1em;}
div.forum-menu-box span.forum-menu-item { margin-right:0.25em; padding-right:0.25em; white-space:nowrap; }

/* Menu Items*/
span.forum-menu-item { border-right-width: 1px; border-right-style: solid; }
span.forum-menu-item-last { border: none;}

/* Breadcrumb */
div.forum-breadcrumb-top {padding:0 1.117em 1em;}
div.forum-breadcrumb-bottom {padding:0 1.117em 1em;}
div.forum-breadcrumb { line-height:1.5em;}
div.forum-breadcrumb span {white-space:nowrap;}
div.forum-breadcrumb a {text-decoration: none;}
span.forum-crumb-last { font-weight: normal;}

/* Header Box*/
div.forum-header-box { padding:0 1.117em; border-style: solid; border-width: 1px; }
div.forum-header-title a {text-decoration: underline;}

/* Header Box Right Links*/
div.forum-header-options { float: right; padding:0.5em 0; }
div.forum-header-options a:hover { text-decoration: underline;}

/* Header Title */
div.forum-header-title { font-size:1em; padding:0.462em 5em 0.426em 0; }


/*div.forum-block-container {margin-bottom: 1em;}*/

/* Main Forum/Topic List Table */
table.forum-table { width: 100%; }
table.forum-forum-list {margin-bottom: 1em;}
table.forum-topic-list {}

/* Table Header */
table.forum-table th
{
	font-size:1em;
	padding:0.462em 1em;
	font-weight:normal;
	vertical-align:middle;
	text-align: left;
}

/* Table Cell */
table.forum-table td
{
	border-bottom-width: 1px;
	border-bottom-style: solid;

	border-right-width: 1px;
	border-right-style: solid;

	vertical-align:top;
	padding:0.4em 1em;
}

/* First Row Cell */
table.forum-table tr.forum-row-first td { border-top-width:1px; border-top-style: solid; }

/* Last Row Cell*/
table.forum-table tr.forum-row-last td { border-bottom-width:1px; border-bottom-style: solid;}

/* Odd Row Cell */
table.forum-table tr.forum-row-odd td { }

/* Even Row Cell */
table.forum-table tr.forum-row-even td { }

/* Selected (via checkbox) Table Cell and Row */
table.forum-table tr.forum-row-selected td, table.forum-table td.forum-cell-selected, table.forum-post-selected td.forum-cell-post, table.forum-post-selected td.forum-cell-actions {}

/* Hidden Table Cell and Row */
table.forum-table tr.forum-row-hidden td, table.forum-table td.forum-cell-hidden, table.forum-post-hidden td.forum-cell-post, table.forum-post-hidden td.forum-cell-actions {}

/* Sticky Table Cell and Row */
table.forum-table tr.forum-row-sticky td, table.forum-table td.forum-cell-sticky {}

/* Forum Category Separator */
table.forum-table tbody.forum-category-separator { display: none; }

/* Forum Icon Column */
table.forum-table td.forum-column-icon { padding:0; border-left-width:1px; border-left-style: solid; }
table.forum-table td.forum-column-alone { border-left-width:1px; border-left-style: solid; }

div.forum-icon-container { width:3.3em; text-align: center;}

/* Forum Topic Icons (New Post Icon, Sticky Topic Icon, Closed Topic Icon, Moved Topic Icon)*/
div.forum-icon
{
	height:20px;
	width:20px;
	margin:0.667em auto;
}

/* Forum/Topic Title Column*/
table.forum-table th.forum-column-title, table.forum-table td.forum-column-title { width: 66%; text-align: left; }
table.forum-table td.forum-column-title { padding:0; line-height:1.4em; padding:0; }
table.forum-table th.forum-column-title { padding-left: 1.117em; border-left-width: 1px; border-left-style: solid; }

div.forum-item-info { padding:6px 14px 5px; }

div.forum-item-subforums { line-height:1.4em; margin-top: 0.9em;}


span.forum-status-sticky, span.forum-status-closed { font-weight: bold; }

span.forum-item-desc-sep { vertical-align:middle; font-size:1em; }

div.forum-moderator-stat { margin-top: 0.9em; }
div.forum-moderator-stat span { font-weight: bold; }

table.forum-table td.forum-column-topics,
table.forum-table td.forum-column-replies,
table.forum-table td.forum-column-views
{
	text-align: center;
	padding: 1em 0.2em;
}

table.forum-table th.forum-column-topics,
table.forum-table th.forum-column-replies,
table.forum-table th.forum-column-views
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* Last Post Cells */
table.forum-table th.forum-column-lastpost, table.forum-table td.forum-column-lastpost { padding:0; width: 30%; text-align: left; }
table.forum-table td.forum-column-lastpost { line-height:1.4em; }
table.forum-table th.forum-column-lastpost { padding-left: 1em; border-right-width: 1px; border-right-style: solid;}

div.forum-lastpost-box { padding:6px 14px 5px; }
span.forum-lastpost-date, span.forum-lastpost-title {display: block;}

/* Forum and Topic Checkbox*/
div.forum-select-box
{
	float:right;
	/*
	border-left-width:1px;
	border-left-style: solid;
	border-bottom-width:1px;
	border-bottom-style: solid;
	*/
	padding:0.1em;
	text-align:center;
}


/* Table Footer and Alone Footer Box */
table.forum-table td.forum-column-footer, table.forum-post-table td.forum-column-footer, div.forum-footer-box
{
	padding:0.5em 1em;
	border-width:1px;
	border-style: solid;
	line-height:1.5em;
}

div.forum-footer-box {margin-bottom: 1em;}

table.forum-table td.forum-column-footer { border-top: none; }

div.forum-footer-inner { text-align:center; zoom:1; }
span.forum-footer-option { margin-left:0.5em; padding-left:0.5em; border-left-width:1px; border-left-style: solid; }
span.forum-footer-option-first { border-left: none; }
span.forum-footer-rss { background: transparent url(images/feed-icon.png) no-repeat scroll left center; padding-left:20px; padding-top:2px; }

/* Birthdays Box*/ 
div.forum-users-online { }
span.forum-users-online span { font-weight: bold; }
div.forum-users-online span.forum-user-online { }
div.forum-users-online span.forum-user-online-hidden { }

/* Birthdays Box*/ 
div.forum-users-birthday {  }
span.forum-users-birthday span { font-weight: bold; }

/* Statistics Box*/
div.forum-statistics { zoom: 1; }
div.forum-statistics-allusers { clear:both; float:left; white-space:nowrap; }
div.forum-statistics-users { clear:both; float:left; white-space:nowrap; }
div.forum-statistics-topics { text-align:right; white-space:nowrap; }
div.forum-statistics-replies { text-align:right; white-space:nowrap; }
div.forum-statistics-users span, div.forum-statistics-allusers span, div.forum-statistics-topics span, div.forum-statistics-replies span { font-weight: bold; }

/* Page navigation */
div.forum-navigation-box
{
	padding:0 1.117em;
	border-width: 1px;
	border-style: solid;
	line-height:1.5em;
	overflow: hidden;
	zoom:1;
}

div.forum-page-navigation { float:left; padding:0.5em 0;}
div.forum-navigation-top { border-bottom: none; }
div.forum-navigation-bottom { border-top: none; margin-bottom: 1em;}
div.forum-page-navigation a, span.forum-page-current, span.forum-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left:0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}


div.forum-page-navigation a.forum-page-previous { border-right-width:1px; border-right-style: solid; border-left: none; }
div.forum-page-navigation a.forum-page-first, div.forum-page-navigation span.forum-page-first { border-left: none; padding-left: 0.5em; }
span.forum-page-current { font-weight: bold; }
div.forum-new-post
{
	float:right;
	text-align:right;
	padding:0.5em 0;
	font-weight: bold;
}

/* For abstract tables */
table.forum-table td.forum-first-column { border-left-width: 1px; border-left-style: solid;}
table.forum-table th.forum-first-column {border-left-width: 1px; border-left-style: solid;}
table.forum-table th.forum-last-column {border-right-width: 1px; border-right-style: solid;}


/* Topic posts table */
table.forum-post-table
{
	width: 100%;
	line-height:1.5em;
	border-collapse: separate;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	table-layout:fixed;
}

/* First Post Table */
table.forum-post-first { border-top: none; }

/* Odd Post Table */
table.forum-post-odd {}

/* Even Post Table */
table.forum-post-even {}

/* Last Post Table */
table.forum-post-last {}

/* Post Table Cell */
table.forum-post-table td { padding: 0; vertical-align: top; width:100%}

/* Post Table: User Info and User Contacts Cells*/
.forum-post-table .forum-cell-user, .forum-post-table .forum-cell-contact
{
	/*width:15em;*/
	width:200px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	overflow: hidden;
}

/* Post Table: User Info Cell */
table.forum-post-table td.forum-cell-user {
	width:178px;
}

/* Post Table: Post and Actions Cell */
.forum-post-table .forum-cell-post, .forum-post-table .forum-cell-actions { border-right-width: 1px; border-right-style: solid; }

/* Post Table: User Contacts and Actions Cell */
table.forum-post-table td.forum-cell-contact, table.forum-post-table td.forum-cell-actions { border-top-width: 1px; border-top-style: dashed; height: 2.5em; }

div.forum-post-date, div.forum-post-entry { padding:0.5em 1em 0.5em 1em; font-size:1em; font-weight:normal; }

div.forum-post-date { border-bottom-width:1px; border-bottom-style: dashed; }

div.forum-post-number { float:right; display: inline; /* IE fix */ }
div.forum-post-number input { margin:0 0 0 0.2em; vertical-align: middle;}
div.forum-post-number a {vertical-align: middle;}
div.forum-post-number span { font-weight: bold; }

div.forum-post-text { padding:0.5em 0; }

/* Post Attachments */
div.forum-post-attachments {
	margin:1.5em 0;
	padding: 0.6em 1em 0.9em 1em;
	border-width:1px;
	border-style: solid;
	line-height:1.5em;
}
div.forum-post-attachments label { }
div.forum-post-attachments fieldset { border: none; padding: 0; margin: 0; }
div.forum-post-attachments fieldset .forum-attach { margin: 1.2em 1.2em 0 0; }
div.forum-post-attachments ul { padding:0; }
div.forum-post-attachments div.forum-post-attachment { margin-top: 1em; }

div.forum-post-lastedit { padding:0.5em 0; font-style: italic;}
span.forum-post-lastedit-user { font-weight: bold;}

/* User Signature*/
div.forum-user-signature { margin-top: 1em; }
div.forum-signature-line
{
	border-top-width: 1px;
	border-top-style: solid;
	width:200px;
	height:1px;
	/* IE Fix */
	line-height:1px;
	font-size:1px;
}

div.forum-user-signature span {line-height: 0.95em; padding-top:0.5em; display: block; font-size: 0.95em;}

div.forum-user-info { padding:0.5em 1em 1.5em 1em; }

div.forum-user-avatar { margin: 0.5em 0; }

div.forum-user-status { margin-bottom: 6px; }

div.forum-user-additional { font-size: 0.95em; }
div.forum-user-additional span { display: block;}
div.forum-user-additional span span { display: inline;}

div.forum-user-name span { font-size:1em; font-weight:bold; line-height:1.1em;}

span.forum-vote-user a { text-decoration: none; vertical-align: top; font-size:1.1em;}

div.forum-user-name a { text-decoration:none; font-size: 1.1em; }

div.forum-user-status span { font-weight:bold; line-height:normal; }

div.forum-contact-links { padding:0.5em 1em; }
.forum-contact-links a:before {content: "\A"; white-space: pre;}

div.forum-action-links { padding:0.5em 1.5em 0.5em 1em; text-align:right; }
div.forum-action-links span {white-space: nowrap;}

div.forum-post-entry { font-size:1em; padding-bottom:1em; height:100%; }

/* Post Table Footer */
table.forum-post-table td.forum-column-footer { border-bottom: none; }

div.forum-post-moderate { float: right; }
div.forum-topic-moderate { text-align: left; }
div.forum-topics-moderate { float: right; }
div.forum-topics-moderate input, div.forum-topics-moderate select { font-size: 1.1em;}

/*BBCode: List*/
div.forum-post-text ul, div.forum-post-text ol { padding:0.5em 0 0.5em 2em; }

/*BBCode: Quote and Code*/
table.forum-quote, table.forum-spoiler, table.forum-code
{
	font-size:1em;
	width:100%;
	border-width:1px;
	border-style: solid;
	border-collapse: collapse;
	width:100%;
	table-layout:fixed;
}

table.forum-code pre {
	margin:0;
	width:100%;
	padding-bottom:5px;
	overflow:auto;
}

table.forum-quote table.forum-quote, table.forum-spoiler table.forum-spoiler, table.forum-code table.forum-code { width: 95%; margin: 0.5em 0 0;}


table.forum-quote th, table.forum-spoiler th, table.forum-code th {font-weight:bold; padding: 0.25em 1em; text-align:left;}
table.forum-quote td, table.forum-spoiler td, table.forum-code td { padding:0.9em 1em; }

div.forum-code-box
{
	font-family: "Consolas", "Monaco", "Courier New", Courier, monospace;
	font-size: 1em;
	width: 100%;
	overflow: auto;
	border-width:1px;
	border-style: solid;
	margin:0.5em 0;
}

div.forum-code-box ol, div.forum-code-box ol li, div.forum-code-box ol li span { margin: 0; padding: 0; border: none; }

div.forum-code-box ol { list-style: decimal; margin-left: 3em; padding:0.5em 0;}

div.forum-code-box ol li
{
	list-style: decimal-leading-zero;
	list-style-position: outside !important;
	padding: 0 0.5em 0 1.5em !important;
	margin: 0;
	line-height: 1.5em;
}
a.forum-spoiler-hide
{
	float: right;
}
/*BBCode: Table*/
div.forum-post-text table.data-table tbody td {
	width: auto;
}

/* Reply Form*/
div.forum-reply-form
{
	border-style:solid;
	border-width:1px;
	line-height:1.5em;
	margin-bottom:1em;
}

div.forum-reply-header
{
	font-size:1em;
	padding:0.462em 1.117em;
	vertical-align:middle;
}

div.forum-note-box {border-width:1px; border-style: solid; margin: 1.117em 0; padding: 0.4em 1.117em;}
div.forum-reply-form div.forum-note-box { margin: 1.117em;}
div.forum-note-box ul {padding:0.3em 0 0.3em 2em; margin:0;}
div.forum-note-box ul li {margin:0; padding:0;}

div.forum-reply-fields { padding:0 1em 0.8em; }

div.forum-reply-field { margin-top: 0.462em; position:relative; z-index:1;}

div.forum-reply-field-title input, div.forum-reply-field-desc input { width: 80%;}

div.forum-reply-field-title label, div.forum-reply-field-desc label, div.forum-reply-field-tags label, div.forum-reply-field-captcha-label label,
div.forum-reply-field-lastedit-reason label {display: block;}

div.forum-reply-field-user {width: 100%; /*IE Fix or zoom:1 */}

div.forum-reply-field-author, div.forum-reply-field-email { float:left; width:39%; }

div.forum-reply-field-user-sep { width:2%; float: left;}

div.forum-reply-field-author input, div.forum-reply-field-email input { width:100%; }

div.forum-reply-field-tags { display: none; }
div.forum-reply-field-tags input { width:80%; }

div.forum-reply-field-switcher-tag { margin-right: 0.8em; }

div.forum-reply-field-vote-duration { margin: 0.82em 0; }
div.forum-reply-field-vote-question { margin-bottom: 0.462em; }
div.forum-reply-field-vote-question label { margin-left:0.27em; }
div.forum-reply-field-vote-question-title input{ width: 80%; }
ol.forum-reply-field-vote-answers input { width: 60%; }
ol.forum-reply-field-vote-answers li { margin-top: 0.462em; }

div.forum-reply-field-lastedit-reason input { width: 80%;}

div.forum-reply-field-captcha input { width: 180px;}

div.forum-reply-field-settings input, div.forum-uploaded-file input, div.forum-reply-field-lastedit-view input { width:1.55em; margin:0 0 0 -0.25em; vertical-align: middle; font-size:1em; }
div.forum-reply-field-settings label, div.forum-uploaded-file a, div.forum-reply-field-lastedit label { vertical-align: middle; }

div.forum-reply-field-upload a { outline: none;}
div.forum-upload-file-hint { display: none;}
div.forum-upload-file-hint span { font-weight: bold;}
div.forum-upload-file {display: none; margin-top: 0.262em;}
div.forum-upload-file input {font-size:1.184em; }

div.forum-reply-buttons { margin-top: 1em;}
div.forum-reply-buttons input { padding:0 0.5em; font-size:1.184em; overflow: visible; /*IE paddings*/}

/* Utils */
div.forum-clear-float { clear: both; }

/* Moved topic list*/
div.forum-topic-move
{
	clear: both;
	float: none;
	position: relative;
	margin-top:0.5em;
	margin-bottom:0.5em;
	width:100%; /*IE*/
}

div.forum-topic-move input
{
	position: absolute;
	top: 0;
	left:0;
	font-size:1em;
	height:1.55em;
	margin:0 0 0 -0.25em;
	width:1.55em;
}

div.forum-topic-move label, div.forum-topic-move a { display: block; margin-left: 1.8em;}
div.forum-topic-move-buttons {margin-top: 1em;}
div.forum-topic-move-buttons select {width:200px;}
div.forum-topic-move-buttons select {font-size:1.184em;}
div.forum-topic-move-buttons input {font-size:1.184em; padding:0 0.417em; overflow: visible; /*IE paddings*/}

.forum-action-note { float: right; font-style: italic; padding: 0.5em 1.5em 0.5em 1em; }

div.forum-popup-image{}
div.forum-popup-image div.empty{
	background-image:url("images/close.gif");
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	cursor:hand;
	width:14px;
	height:14px;
	margin:0px;}
/* autosave */
a.postFormAutosave {
	float: right;
	display:block;
	width:18px;
	height:18px;
	margin:0 -4px 0 0;
	position:relative;
	z-index:2;
}
a.postFormAutosave.bx-core-autosave {background-position: 0 0 !important;}
a.postFormAutosave.bx-core-autosave-ready {background: scroll transparent url("images/autosave/autosave-green.gif") no-repeat 0 0;}
a.postFormAutosave.bx-core-autosave-edited {background: scroll transparent url("images/autosave/autosave-red.gif") no-repeat 0 0;}
a.postFormAutosave.bx-core-autosave-saving {background: scroll transparent url("images/autosave/autosave-write.gif") no-repeat 0 0;}

.forum-notify-bar {
	width: 100%;
	height: 2em;
	background: url("/bitrix/js/main/core/images/panel/sprite04.png") repeat-x scroll 0 -1178px #FFEB8D !important;
	position:relative;
}
.forum-notify-close {
	display: block !important;
	height: 12px !important;
	margin: 3px 6px 0 0;
	padding: 0 !important;
	position: absolute !important;
	right: 5px !important;
	top: 5px !important;
	width: 12px !important;
}
.forum-notify-close a {
	background: url("/bitrix/js/main/core/images/panel/sprite04.png") no-repeat scroll -268px -243px transparent !important;
	display: block !important;
	height: 12px !important;
	width: 12px !important;
	cursor:pointer;
}
.forum-notify-text {
	color: #000000 !important;
	margin: 0 !important;
	padding: 3px 20px 5px !important;
	text-align: center !important;
}
.forum-notify-text a.postFormAutorestore {
	position:relative;
	color: #ff0000;
	cursor:pointer;
	text-decoration:underline;
	margin-right: 9px;
	margin-top: 5px;
	z-index:2;
}

@media only screen and (max-width: 680px) {
	.forum-block-container, .forum-info-box {
		font-size: 12px;
	}
}

.profile-adaptive-layout {display: table; width: 100%;}
	.appendix-row {display: table-row;}
		.forum-cell-user,
		.forum-cell-post,
		.forum-cell-contact,
		.forum-cell-actions {display: table-cell; vertical-align: top;}
		.forum-cell-contact,
		.forum-cell-actions {border-top: 1px dashed #d6dde5;}
.profile-pseudo-foot:not(:empty) {background-color: #dae1e9; border: 1px solid #c4ccd6;}
@media (max-width: 320px) {
	.profile-adaptive-layout,
	.appendix-row,
	.forum-cell-user,
	.forum-cell-post,
	.forum-cell-contact,
	.forum-cell-actions,
	.profile-pseudo-foot {display: block; border: none; background: none;}

	.profile-adaptive-layout {}
		.appendix-row {}
			.forum-post-table .forum-cell-user, .forum-post-table .forum-cell-contact {width:100%;}
			.forum-user-hide-action {margin-bottom: 1em;}
			.profile-adaptive-layout.forum-post-table .forum-cell-user,
			.profile-adaptive-layout.forum-post-table .forum-cell-post,
			.profile-adaptive-layout.forum-post-table .forum-cell-contact,
			.profile-adaptive-layout.forum-post-table .forum-cell-actions {background-color: #fff; border: none;}
	.profile-pseudo-foot {}
}

/*
.profile-adaptive-layout {}
	.appendix-row {}
		.forum-cell-user {}
		.forum-cell-post {}
		.forum-cell-contact {}
		.forum-cell-actions {}
.profile-pseudo-foot {}
*/