.hidden 
{
	display: none!important;
}

.required-error
{
	border-color: red!important;
}

.bx-core-window.bx-core-adm-dialog.WindowDetailGallery{	z-index:3501!important;}
.bx-core-dialog-overlay.WindowDetailGallery{	z-index:3500!important;}

.bx-core-window.bx-core-adm-dialog.WindowDetailGalleryEdit{	z-index:3502!important;}
.bx-core-dialog-overlay.WindowDetailGalleryEdit{	z-index:3501!important;}

div.detailGallery-main .left
{
	width: 60%;
	float: left;
}

div.detailGallery-main .right{
	width: 40%;
	float:right;
}

div.detailGallery-main .left .search .input{ width:315px;}
div.detailGallery-main .tags{ margin-top:10px;}
div.detailGallery-main .tags .title{ font-weight: bold;}
div.detailGallery-main .tags ul{ margin:0px; padding:0px;}
div.detailGallery-main .tags ul li{ margin:3px; padding:0px; list-style: none; float: left;}

ul.ui-autocomplete.ui-widget-content{z-index: 3502;}

.WindowDetailGallery .ui-widget-content
{
	/*border: 0px;*/
}
.WindowDetailGallery .bx-core-adm-dialog-content
{
	background-color:white;
	border:0px;
}
.WindowDetailGallery .bx-core-adm-dialog-content-wrap-inner, .WindowDetailGallery .bx-core-adm-dialog-content-wrap-inner>div
{
	padding:0px;
	height:100%;
	/*min-height: 550px;*/
}

.WindowDetailGallery #tabs-detail-gallery
{
	height:95%;
	/*	min-height: 543px;*/
}

.upload-dialog-1
{
	height: 100%;
}

.upload-dialog-1 .button-upload input
{
	margin-right: 10px;
}
.upload-dialog-1 .message-center
{
	position:absolute;
	top:50%;
	left:44%;
}

#tabs-upload
{
	height: 89%;
	padding: 9px 3px;
}

.upload-dialog-1 .items-block
{
	margin-top:10px;
}

.upload-dialog-1 .items-block .basic-fields input.text
{
	width: 98%;
}
.upload-dialog-1 .items-block .basic-fields .js-dg-tags
{
	width: 767px;
}

.upload-dialog-1 .items-block .items-list
{
	margin-top:10px;
	height:386px;
	overflow-y: scroll;
}

.upload-dialog-1 .items-block .items-list .img-fields
{
	float: left;
	width:71%;
}

.upload-dialog-1 .items-block .items-list .img-block
{
	float: left;
	width:200px;
	height:140px;
	border: 1px solid gray;
	background:	url(/local/tools/notaext/detailGallery/images/loader.gif) no-repeat center center;
	position: relative;
}

.upload-dialog-1 .items-block .items-list .img-block .delete
{
	background-color: white;
	bottom: 0;
	cursor: pointer;
	padding: 2px 9px;
	position: absolute;
	right: 0;
}

.upload-dialog-1 .items-block .items-list .img-block .pogress
{
	position: absolute;
	left:40%;
	top:43%;
	font-weight: bold;
	font-size: 16px;
}

.upload-dialog-1 .items-block .items-list .img-fields .field{
	vertical-align: top;
	margin:4px;
}

.upload-dialog-1 .items-block .items-list .img-fields .field .adm-calendar-icon{
	top:0px!important;
}


.upload-dialog-1 .items-block .items-list .img-fields .field .label{
	vertical-align: top;
	display: block;
	float: left;
	margin: 4px;
	width: 60px;
}

.upload-dialog-1 .items-block .items-list .img-fields .field textarea
{
	height:30px;
}

.upload-dialog-1 .items-block .items-list .img-fields .field input, .upload-dialog-1 .items-block .items-list .img-fields .field textarea
{
	width:80%;
	resize:none;
}

.select2-search__field
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

}

.upload-dialog-1 .items-block .items-list .img-fields .field>span
{
	position: relative;
}

.upload-dialog-1 .items-block .items-list .img-fields .field input.date
{
	width:100px;
}

.upload-dialog-1 .items-block .items-list .img-fields .field select
{
	width:493px;
}

.upload-dialog-1 .items-block .items-list .item{
	height: 225px;
	margin-bottom: 5px;
}
.select2-container
{
	z-index: 3505;
}

/* Edit tab */
#tabs-edit .edit-items-list{width:850px; margin:0px; padding:0px;}
#tabs-edit .head-title{margin:0 0 10px 5px;}
#tabs-edit .item{
	background-color: gray;
	cursor: move;
	float: left;
	height: 140px;
	list-style-type: none;
	margin: 0 10px 10px 0;
	position: relative;
	width: 200px;
	border: 1px solid #aaaaaa;
}
#tabs-edit .item img{
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width:auto;
} 
#tabs-edit .button div{
	background-color: whitesmoke;
	cursor: pointer;
	float: right;
	margin-left: 5px;
	padding: 3px 5px;
}
#tabs-edit .button{
	bottom: 0;
	position: absolute;
	right: 0;
}

#tabs-edit .show-template
{
	margin-bottom: 10px;
}

#tabs-edit .show-template .title {
	float: left;
	margin-right: 10px;
	padding-left: 5px;
	padding-top: 6px;
}
#tabs-edit .show-template .field {}
#tabs-edit .show-template .field select { margin-right: 10px; }
#tabs-edit .show-template .field input {}


/* search tab */

#tabs-search .search-form .field input{
	margin-right: 10px;
	width: 50%;
}
#tabs-search .search-form 
{
	margin-bottom: 10px;
}
#tabs-search .search-form .selection{margin-left: 20px;}

#tabs-search .search-result {overflow-y: scroll; height:438px;}
#tabs-search .search-result ul{margin:0px; padding:0px;}
#tabs-search .search-result ul li{margin:0px 5px 10px 0px; padding:0px; list-style: none; float: left;}
#tabs-search .search-result ul li .desc {   width: 200px;    word-wrap: break-word;}
#tabs-search .search-result ul li .img {position:relative;}
#tabs-search .search-result ul li .img input{position:absolute; left:0px; bottom:0px; margin: 0 0 10px 10px; cursor: pointer;}

.detailGallery-edit-frame
{
	border: 0 none;
	height: 572px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.bxhtmled-popup{
	/*z-index:3550;*/
}