#panel-formYandexMoney_
{
    position: fixed;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    top: 200px;
    z-index: 1;
    left: 50%;
    margin-left: -300px;
    padding: 100px;
}
#panel-formYandexMoney_ a.payorderlinkcancel
{
    background-color: #808080;
}

