@charset "utf-8";
/* CSS Document */

.books_list {
	margin-bottom: 70px;
}

.footer_div {
	margin-top: 100px;
}

.collections_list {
	margin-bottom: 70px;
}

.collection_note {
	margin-top: 50px;
	margin-bottom: 70px;
}

.form_div {
	margin-bottom: 30px;
}

.form_div2 {
	margin-top: 16px;
	margin-bottom: 16px	
}