.subsections .panel-heading a[aria-expanded=true] .fa-chevron-down:before {
    content: "\f077";
}
.subsections .panel-body {
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid rgba(120,120,120,.6);
}
.form-group input[type=checkbox] {
    /*opacity: 1;*/
}
.delete-img { position: relative; }
.delete-img img {
    -webkit-filter: contrast(40%);
}
.b-collectform.naf label:not(.naf-label) {
    line-height: 34px;
    margin-bottom: 0;
}