@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('fonts/opensans.eot');
    src: url('fonts/opensans.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans.woff2') format('woff2'),
    url('fonts/opensans.woff') format('woff'),
    url('fonts/opensans.ttf') format('truetype'),
    url('fonts/opensans.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('fonts/opensansitalic.eot');
    src: url('fonts/opensansitalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensansitalic.woff2') format('woff2'),
    url('fonts/opensansitalic.woff') format('woff'),
    url('fonts/opensansitalic.ttf') format('truetype'),
    url('fonts/opensansitalic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('fonts/opensansbold.eot');
    src: url('fonts/opensansbold.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensansbold.woff2') format('woff2'),
    url('fonts/opensansbold.woff') format('woff'),
    url('fonts/opensansbold.ttf') format('truetype'),
    url('fonts/opensansbold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
    width:100%;
    height:100%;
}
body {
    font: 16px 'Open Sans', Arial, sans-serif;
    min-width: 445px;
    background-color: transparent;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    text-rendering: optimizelegibility;
    width: 100%;
}

img, a {
    border:none;
    outline:none;
}
a {color:#0086a6;}
#image {
    max-height: 1000px;
}
.cursor-pointer {
    cursor: pointer;
}
.page-book {
    background: #f3f9f9;
    position:relative;
    min-height:100%;
    /*background:url(/local/components/exalead/search.page.detail/templates/.default/images/bg-light.jpg) no-repeat 0 0;*/
    background-attachment: fixed;
    background-size: cover;
    min-width:1240px;
}
.page-book.dark {
    background-image:url(/local/components/exalead/search.page.detail/templates/.default/images/bg-dark.jpg);
}
.fullscreen-zoom {
    background: url(/local/components/exalead/search.page.detail/templates/.default/images/scale.png) center 10px no-repeat rgba(130, 150, 155, .9) !important;
}
.scale-button.increase {
    display:none;position:relative;left:-30px;top: -30px;width:30px;height:30px;float:left;margin-right:50px;background:rgba(130, 150, 155, .9);
    font-weight: bold !important;
    line-height: 30px;
    font-size: 18px  !important;
}
.scale-button.decrease {
    font-weight: bold !important;
    font-size: 18px  !important;
    line-height: 30px;
    display:none;position:relative;top:-60px;left:-60px;width:30px;height:30px;float:left;background:rgba(130, 150, 155, .9);
}

.scale-button:hover {
    color: #fff;
}
/* left
.left {
    position:absolute;
    left:0;
    top:0;
    width:200px;
    z-index:2;
}*/
.logo {
    display:block;
    position:absolute;
    width:51px;
    height:51px;
    top:48px;
    left:48px;
    text-indent:-9999px;
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/logo.png) no-repeat 0 0;
    z-index:2;
}
.back_lc {
    display:block;
    width:80px;
    height:80px;
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/back-lс.png) no-repeat 50% 14px #0087A9;
    color:#fff;
    padding-top:43px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    font-size:10px;
    line-height:10px;
    text-decoration:none;
}
.toggle-left-tools {
    width:80px;
    height:32px;
    cursor:pointer;
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/toggle-left-tools.png) no-repeat 50% 4px #4F686E;
}
.toggle-left-tools.close {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/toggle-left-tools.png) no-repeat 50% -26px #8FA6AC;
}
.turn-page {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/scale-page.png) no-repeat 50% 10px #8FA6AC;
    padding-top:37px;
    display: block;
    height: 61px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align:center;
    cursor: pointer;
    position: relative;
    background-color: #8FA6AC;
    z-index: 1002;
    width: 80px;
    font-size: 10px;
    display:none;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    color: #3b4549;
}
.turn-page:after {
    content: '';
    display: block;
    clear: both;
    height: 1px;
    bottom: 0px;
    position: absolute;
    background: #6C8B92;
    left: 5px;
    right: 5px;
}
.turn-page.active{
    display:block;
}
.left-tools {
    overflow-y:hidden;
    position: absolute;
    left: 10px;
    top: 150px;
    margin-left: 0px;
    z-index:300;
    width: 160px;
}
.left-tools ul {
    margin:0;
    padding:0;
    list-style:none;
    width:80px;
}
.left-tools>ul>li {
    font-size:11px;
    line-height:10px;
    text-align:center;
    position:relative;
}
.left-tools>ul>li>span,
.left-tools>ul>li>a {
    display:block;
    height:70px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:40px 3px 7px;
    cursor:pointer;
    position:relative;
    background-color:#0086a6;
    z-index:2;
    text-decoration:none;
    color:#fff;
    opacity: 1;
    line-height: 1.1em;
    border-bottom: 1px solid #fff;
}

.left-tools>ul>li>span:before,
.left-tools>ul>li>a:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 10px;
    left: 27px;
}
.left-tools>ul>li>a:hover {
    color:#fff;
}
/*.left-tools>ul>li>span:after {
    content: '';
    display: block;
    clear: both;
    height: 1px;
    bottom: 0px;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    width: 100%;
}*/
.left-tools>ul>li:last-child>span:after,
.left-tools>ul>li:last-child>a:after {
    display:none;
}
.left-tools .scale {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/scale.png) no-repeat 50% 10px #0086a6;
    cursor:default;
}
.left-tools .bookmark-tools:before {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat 2px -15px #0086a6;
}
.left-tools .scale-page:before,
.left-tools .superscale-page:before
 {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat 2px -101px #0086a6;
}
.left-tools .rotate:before {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat 2px -142px #0086a6;
    cursor:default;
}
.left-tools .save:before {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat 2px -185px #0086a6;
}
.left-tools .question:before {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat 0 -228px #0086a6;
}
.question a {
    font-size: 11px;
    color: #fff;
}
.left-tools .themes {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/theme.png) no-repeat 50% 10px #0086a6;
    padding-top:37px;
}
.left-tools .themes.dark {
    background-position:50% -68px;
}

.left-tools .scale:after,
.left-tools .rotate:after {
    content:'';
    display:block;
    clear:both;
    width:6px;
    height:6px;
    position:absolute;
    right:5px;
    bottom:3px;
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/more.png) no-repeat 0 0;
}
.left-tools>ul>li>ul {
    position:absolute;
    height:30px;
    width:80px;
    overflow:hidden;
    left:80px;
    bottom:3px;
    z-index:1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.rotatetool ul {display: none;}
.left-tools>ul>li>ul li {
    float:left;
    padding:1px;
    background:#0086a6;
}
.left-tools>ul>li>ul li span {
    display:block;
    width:31px;
    height:28px;
    line-height:28px;
    cursor:pointer;
}
.left-tools>ul>li>ul li span:hover {
    background-color:#8FA6AC;
}
.left-tools .increase {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/scale.png) no-repeat 50% 3px;
}
.left-tools .reduce {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/scale.png) no-repeat 50% -75px;
}
.left-tools .rotate-left {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/rotate.png) no-repeat 50% -153px;
}
.left-tools .rotate-right {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/rotate.png) no-repeat 50% -74px;
}
.left-tools .scale-status {
    font-size:16px;
    color:#fff;
}
/* end left */
/* right */
.bookclose.right {
    position:absolute;
    right:0;
    top:0;
    z-index:2;
    width:312px;
}
.top-right-tools {
    float:right;
    width:auto;
    overflow:hidden;
}
.top-right-tools ul {
    list-style:none;
    margin:0;
    padding:0;
}
.top-right-tools ul li {
    float:left;
    position:relative;
}
.top-right-tools ul li > span,
.top-right-tools ul li > a {
    display: block;
    width: 93px;
    height: 131px;
    padding: 80px 10px 27px;
    cursor: pointer;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #0087A9;
}
.top-right-tools ul li span:after,
.top-right-tools ul li > a:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 26px;
    top: 45px;
    left: 30px;
}
.top-right-tools ul li > span:hover,
.top-right-tools ul li > a:hover {
    background-color:#C5E9EF;
}
.top-right-tools ul li > span.active,
.top-right-tools ul li > a.active {
    color:#fff;
    background-color:#0087A9;
}
.top-right-tools ul li a {
    text-decoration:none;
}
.top-right-tools .toggle-right-tools {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/toggle-right-tools.png) no-repeat 50% 15px #4F686E;
}
.top-right-tools .properties-book:after {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -39px -13px;
}
.top-right-tools .properties-book.active:after {
    background-position: -134px -13px;
}
.top-right-tools .search-book {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/search-book.png) no-repeat 50% -58px;
}
.top-right-tools .search-book.active {
    background-position:50% 21px;
}
.top-right-tools .favorite-book:after {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -39px -47px;
}
.top-right-tools .favorite-book.active {
    background-position:50% 21px;
    background-color:transparent;
    color: #0087A9;
}
.top-right-tools .favorite-book.active:hover {
    background-color:#C5E9EF;
}
.top-right-tools .save-book:after {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -39px -83px;
}
.top-right-tools .toggle-right-tools.close {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/toggle-right-tools.png) no-repeat 50% -26px #8FA6AC;
}
.right-tools {
    width: 279px;
    max-width: 294px;
    clear: right;
    float: right;
    height: auto;
    background: #fff;
    overflow: hidden;
}
.right-tools ul {
    list-style:none;
    margin:0;
    padding:0;
}
.right-tools ul li {
    background:#8FA6AC;
}
.right-tools ul li span {
    display:block;
    width:42px;
    height:34px;
    cursor:pointer;
}
.right-tools .miniatures {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/miniatures.png) no-repeat 5px 50% #e6f2f2;
}
.right-tools-label {
    border-bottom: 1px solid #fff;
}
.right-tools-label.edition-log:after,
.right-tools-label.delete-all-chapters:after,
.right-tools-label.add-chapter:after,
.right-tools-label.change-status-btn:after {display: none;}
.right-tools > .right-tools-kind:last-of-type > .right-tools-label {
    border-bottom: none;
}
.right-tools-label:before {
    content: '';
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
}
.right-tools .note:before {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -38px -118px;
}
.right-tools .bookmark:before {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -38px -155px;
}
.right-tools .quote:before {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -38px -191px;
}
.right-tools .search:before {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -38px -227px;
}
.right-tools .chapter:before {
    width: 32px;
    left: 9px;
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -82px -179px;
}
.right-tools .add-chapter:before {
    width: 34px;
    left: 9px;
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -82px -219px;
}
.right-tools .delete-all-chapters:before {
    width: 35px;
    height: 29px;
    left: 9px;
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -130px -219px;
}
.right-tools .edition-log:before {
    width: 27px;
    height: 29px;
    left: 13px;
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -134px -109px;
}
.right-tools .all-approve-btn:before {
    width: 37px;
    height: 19px;
    left: 8px;
    top: 16px;
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -129px -147px;
}
.right-tools .all-decline-btn:before {
    width: 37px;
    height: 19px;
    left: 8px;
    top: 18px;
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -129px -186px;
}
.right-tools>div>.right-tools-label {
    display:block;
    /*height:30px;*/
    /*line-height:30px;*/
    color:#0086a6;
    font-size:18px;
    cursor:pointer;
    position:relative;
    padding: 13px 30px 12px 50px;
    background: #e6f2f2;

}
.right-tools>div>[data-define]:after {
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    top: 23px;
    width: 10px;
    height: 7px;
    background: url(/local/templates/adaptive/img/caret-down.png) no-repeat 0 0;
}
.right-tools>div>span.active:after {
    transform: rotate(180deg);
}

.properties-book-content {
    /*border-left:8px solid #8FA6AC;*/
    padding:17px 15px 5px 10px;
    background:#fff;
    display:none;
    overflow:auto;
    border-top:7px solid #0087A9;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.properties-book-content h2 {
    font-size:14px;
    font-weight:normal;
    color:#0086a6;
    margin:0;
    margin-bottom:20px;
}
.properties-book-content>div {
    margin-bottom:15px;
}
.properties-book-content>div h3 {
    margin:0;
    margin-bottom:10px;
    font-weight:normal;
    color:#0086a6;
    font: 12px 'Open Sans', sans-serif;
}
.properties-book-content>div span {
    font-size:12px;
}
.properties-book-content .year h3,
.properties-book-content .place h3 {
    display:inline-block;
    margin-bottom:0;
}

.miniatures-content {
    background:#fff;
    display:none;
    position:relative;
    overflow-y:auto;
}
.miniatures-content:after {
    content: '';
    display: block;
    clear: both;
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #8FA6AC;
}
.miniatures-top {
    position:relative;
    padding:13px 60px 15px 60px;
    width:120px;
    margin:0 auto;
}
.miniatures-top:after {
    content:'';
    display:block;
    clear:both;
    width:8px;
    height:100%;
    position:absolute;
    top:0;
    left:-36px;
    background:#8FA6AC;
}
.miniatures-content h2 {
    font-size:14px;
    font-weight:normal;
    color:#0086a6;
    margin:0;
    margin-bottom:12px;
    text-align:center;
}
.miniatures-content .prev {
    height:20px;
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/top.png) no-repeat 0 0;
    cursor:pointer;
    opacity:0.8;
}
.miniatures-content .prev.end {
    opacity:0.8;
    cursor:default;
}
.miniatures-content .prev:hover {
    opacity:1;
}
.miniatures-content .next {
    height:20px;
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/bottom.png) no-repeat 0 0;
    cursor:pointer;
    opacity:0.8;
}
.miniatures-content .next.end {
    opacity:0.8;
    cursor:default;
}
.miniatures-content .next:hover {
    opacity:1;
}
.miniatures-content .miniatures-images {
    padding:0 60px 0 60px;
    position:relative;
    overflow-y:hidden;
}
.miniatures-content .miniatures-images:after {
    content:'';
    display:block;
    clear:both;
    width:8px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#8FA6AC;
}
.miniatures-content .miniatures-images span {
    display:block;
    width:120px;
    height:160px;
    margin:0 auto;
    margin-bottom:8px;
    position:relative;
    cursor:pointer;
    background:#EBF4FD;
}
.miniatures-content .miniatures-images span:before {
    content:'';
    display:block;
    width:51px;
    height:51px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-25px;
    background: url(/local/components/exalead/search.page.detail/templates/.default/images/logo.png) no-repeat 0 0 #0087A9;
    -webkit-animation-name: preview;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 100;
    -webkit-animation-direction: alternate;
    -moz-animation-name: preview;
    -moz-animation-duration: 900ms;
    -moz-animation-iteration-count: 100;
    -moz-animation-direction: alternate;
    animation-name: preview;
    animation-duration: 900ms;
    animation-iteration-count: 100;
    animation-direction: alternate;
}
@keyframes preview {
    0% {
        border-radius:0;
    }
    100% {
        border-radius:50px;
    }
}
@-webkit-keyframes preview {
    0% {
        border-radius:0;
    }
    100% {
        border-radius:50px;
    }
}
.miniatures-content .miniatures-images span:last-child {
    margin-bottom:0;
}
.miniatures-content .miniatures-images span.active {
    cursor:default;
}
.miniatures-content .miniatures-images span.active:after {
    content:'';
    display:block;
    clear:both;
    width:8px;
    height:100%;
    position:absolute;
    background:#00A3BC;
    left:-96px;
    top:0;
    z-index:2;
}
.miniatures-content .miniatures-images span img {
    display:none;
    position:relative;
    z-index:3;
}
.miniatures-content img {
    width:100%;
    height:100%;
}
.miniatures-bottom {
    position:relative;
    padding:15px 60px 8px 60px;
    width:120px;
    margin:0 auto;
}
.miniatures-bottom:after {
    content:'';
    display:block;
    clear:both;
    width:8px;
    height:100%;
    position:absolute;
    top:0;
    left:-36px;
    background:#8FA6AC;
}

.quote-content {
    background:#fff;
    display:none;
    overflow-y:auto;
}
.quote-content>div {
    position:relative;
}
.quote-content>div:nth-of-type(2n) {
    background:#EBF4FD;
}
.quote-content>div a {
    display:block;
    font-size:13px;
    cursor:pointer;
    padding:5px 35px 5px 20px;
}
.quote-content>div a span {
    display:inline-block;
    vertical-align:middle;
}
.quote-content>div a img {
    vertical-align:middle;
}
.quote-content>div .delete {
    display:block;
    cursor:pointer;
    opacity:0.8;
    position:absolute;
    right:0;
    top:0;
    width:30px;
    height:100%;
    background-image:url(/local/components/exalead/search.page.detail/templates/.default/images/delete.png);
    background-position:50% 50%;
    background-repeat:no-repeat;
}
.quote-content>div .delete:hover {
    opacity:1;
    background-color:#ffdddd;
}
.quote-content img{
    max-width:100px;
    max-height:100px;
}

.chapter-content {
    background:#fff;
    display:none;
    overflow-y:auto;
}
.chapter-content>div {
    position:relative;
    display: table;
    width: 100%;
}
.chapter-content>div:nth-of-type(2n) {
    background:#EBF4FD;
}
.chapter-content>div a {
    display:block;
    font-size:13px;
    cursor:pointer;
    padding:5px 35px 5px 20px;
}
.chapter-content>[data-chapter-item]>a {
    /*padding-right: 66px;*/
    display: table-row;
    width: 100%;
    padding: 0;
}
.chapter-content>[data-chapter-item]>a>span {
    display: table-cell;
    position: relative;
    right: auto;
    padding: .5ex 1em;
}

.chapter-content>[data-chapter-item]>a>span.title-anchor {
    width: auto;
    padding-left: 1.5em;
}

[data-chapter-item] > a {
    padding: 5px 10px 5px 20px;
}
[data-chapter-item].active > a {
    color:#004759;
    text-shadow: 0px 0px 0px #000;
    text-shadow: 1px 0px 0px rgba(0,0,0,.5);

}
[data-chapter-item][data-status="confirmed"] > a {
    /*color:#0f0;*/
}
[data-chapter-item][data-status="declined"] > a {
    /*color:#f00;*/
}
.chapter-content>div a span {
    display:inline-block;
    vertical-align:middle;
}
.chapter-content>div a img {
    vertical-align:middle;
}

.chapter-content>div .approve,
.chapter-content>div .decline {width: 33px;}

.chapter-content>div .approve:after,
.chapter-content>div .decline:after {}


.chapter-content>div .decline,
.chapter-content>div .approve {
    cursor:pointer;
    position:relative;
    width:33px;
}
.chapter-content>div .decline:hover,
.chapter-content>div .approve:hover {
    background-color:#b3b3b3;
}
.chapter-content>div .decline:after,
.chapter-content>div .approve:after {
    content: " ";
    display: block;
    width: 18px;
    height: 20px;
    position: absolute;
    left: 50%; margin-left: -9px;
    top: 50%; margin-top: -10px;
    background:url('/local/templates/adaptive/img/sprite-overall.png') no-repeat -391px center;
}
.chapter-content>div .decline:after {background-position: -412px center;}

.chapter-content>div .approve:hover:after {background-position: -431px center;}

.chapter-content>div[data-status="confirmed"] .approve:after {background-position: -350px center;}
.chapter-content>div[data-status="confirmed"] .approve:hover:after {background-position: -350px center;}
.chapter-content>div[data-status="confirmed"] .approve:hover {background-color: transparent; cursor: default;}

.chapter-content>div[data-status="declined"] .decline:after {background-position: -371px center;}
.chapter-content>div[data-status="declined"] .decline:hover:after {background-position: -371px center;}
.chapter-content>div[data-status="declined"] .decline:hover {background-color: transparent; cursor: default;}

.chapter-content>div .decline:hover:after {background-position: -453px center;}


.chapter-content>div .edit {
    display:block;
    cursor:pointer;
    opacity:0.8;
    position:absolute;
    right:33px;
    top: 0;
    height: 100%;
    width:33px;
    /*background:url('/local/components/exalead/search.page.detail/templates/.default/images/edit-save.png') no-repeat 50% 2px #0088AC;*/
}
.chapter-content>div .edit:hover {
    background-color:#b3b3b3;
}
.chapter-content>div .edit:after {
    content: " ";
    display: block;
    width: 18px;
    height: 20px;
    position: absolute;
    left: 50%; margin-left: -9px;
    top: 50%; margin-top: -10px;
    background:url('/local/templates/adaptive/img/sprite-overall.png') no-repeat -208px center;
}
.chapter-content>div .edit:hover:after {
    background-position: -246px center;
}

.chapter-content>[data-chapter-item]>a>span.approve,
.chapter-content>[data-chapter-item]>a>span.decline,
.chapter-content>[data-chapter-item]>a>span.edit
{
    padding-left: 1px; padding-right: 1px; text-align: center; width: 24px;
}
.chapter-content>[data-chapter-item]>a>span.approve:after,
.chapter-content>[data-chapter-item]>a>span.decline:after,
.chapter-content>[data-chapter-item]>a>span.edit:after
{
    position: relative; display: inline-block; left: 0; top: 0; margin-left: 0; margin-top: 0;
}

.chapter-content>div .change-status-btn {
    display:block;
    cursor:pointer;
    opacity:0.8;
    position:absolute;
    right:0;
    top:0;
    width:30px;
    height:100%;
    background-image:url('/local/components/exalead/search.page.detail/templates/.default/images/delete.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
}
.chapter-content>div .change-status-btn:hover {
    opacity:1;
    background-color:#ffdddd;
}


.note-content {
    display:none;
    background:#fff;
    overflow-y:auto;
}
.note-content>div {
    position:relative;
}
.note-content>div a {
    display:block;
    padding:10px 35px 10px 20px;
    font-size:13px;
    cursor:pointer;
}
.note-content>div a span {
    overflow:hidden;
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
}
.note-content>div:nth-of-type(2n) {
    background:#EBF4FD;
}
.note-content>div .delete {
    display:block;
    cursor:pointer;
    opacity:0.8;
    position:absolute;
    right:0;
    top:0;
    width:30px;
    height:100%;
    background-image:url(/local/components/exalead/search.page.detail/templates/.default/images/delete.png);
    background-position:50% 50%;
    background-repeat:no-repeat;
}
.note-content>div .delete:hover {
    opacity:1;
    background-color:#ffdddd;
}
.bookmark-content {
    display:none;
    background:#fff;
    overflow-y:auto;
}
.bookmark-content>div {
    position:relative;
}
.bookmark-content>div a {
    display:block;
    padding:10px 35px 10px 20px;
    font-size:13px;
    cursor:pointer;
}
.bookmark-content>div .active {
    color:#004759;
    text-shadow: 0px 0px 0px #000;
    text-shadow: 1px 0px 0px rgba(0,0,0,.5);
}
.bookmark-content>div:nth-of-type(2n) {
    background:#EBF4FD;
}
.bookmark-content>div .delete {
    display:block;
    cursor:pointer;
    opacity:0.8;
    position:absolute;
    right:0;
    top:0;
    width:30px;
    height:100%;
    background-image:url(/local/components/exalead/search.page.detail/templates/.default/images/delete.png);
    background-position:50% 50%;
    background-repeat:no-repeat;
}
.bookmark-content>div .delete:hover {
    opacity:1;
    background-color:#ffdddd;
}
.search-book-content {
    background:#e6f2f2;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:15px;
    display:none;
    white-space: nowrap;
}
.search-book-content input[type=text] {
    padding: 0 3px;
    height: 40px;
    line-height: 24px;
    width: 205px;
    margin-left: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    margin-right: 0;
    display: inline-block !important;
    float: left;
}
.search-book-content input[type=submit] {
    height:24px;
    line-height:24px;
    border:none;
    background:#0087A9;
    color:#fff;
    text-decoration:underline;
    padding:0 5px;
    cursor:pointer;
    width:55px;
    display: inline-block;
    float: left;
}
.search-book-content input[type=submit]:hover {
    text-decoration:none;
}
.search_result {
    overflow: auto;
    margin: 15px 15px 0;
}
.search_result.empty {
    margin:0;
}
.search_result a {
    cursor:pointer;
    display:block;
}
.search_result>div {
    padding:3px 5px;
    background:#fff;
}
.search_result>div:nth-of-type(2n) {
    background:#EBF4FD;
}
/* end right */

/* main */
.main {
    width:100%;
    padding-bottom: 600px;
}
/*.main:after {
    content:'';
    display:block;
    clear:both;
    width:100%;
    height:1px;
    background:#0087A9;
    position:absolute;
    top:78px;
    left:0;
}*/
.main.padding-bottom {
    padding-bottom:80px;
}
.view-content {
    position:relative;

}
.main .prev-page,
.main .next-page {
    display: block;
    border: none;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -180px;
    /* background: url(/local/components/exalead/search.page.detail/templates/.default/images/left.png) no-repeat 50% 50%; */
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -70px -11px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 400;
}
.main.padding-bottom .prev-page,
.main.padding-bottom .next-page {
    margin-top:-30px;
}
.main .prev-page.left {
    left:90px;
}
.main .prev-page.end,
.main .next-page.end {
    opacity:0.6;
    cursor:default;
}
.main .prev-page:hover,
.main .next-page:hover {
    opacity:1;
}
.main .prev-page {
    left: -40px;
}
.main .next-page {
    right: -40px;
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -70px -61px;
}

.book-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
    /* padding-left: 120px; */
    background: #fff;
    padding: 45px 360px 35px 120px;
    margin: 0;
    position: relative;
}

.book-title-logo {
    display: block;
    width: 51px; height: 51px;
    position: absolute; left: 25px; top: 50%; margin-top: -26px;
    background: url(/local/templates/adaptive/img/logo-51.png) no-repeat;
}

.book-title-name {
    color: #0086a6;
    font-size: 22px;
    margin: 0;
    font-weight: 400;
}
.book-title-author {
    color: #0086a6;
    font-size: 14px;
    height: 20px;
    margin: 0;
    font-weight: 400;
}

.view-page {
    /*padding-top: 10px;*/
    border-top: 10px solid transparent;
    width:800px;
    min-height: 1000px;
    margin:0 auto;
    position: relative;
}
@media screen and (max-width:1440px) {
    .view-page {
        position: relative;
        left: -100px;
    }
}
.add-bookmark {
    display: block;
    position: absolute;
    top: -10px;
    right: 200px;
    width: 40px;
    height: 48px;
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat -82px -121px;
    z-index: 999;
    cursor: pointer;
    opacity: 0.5;
}
.add-bookmark:hover {
    opacity:1;
}
.add-bookmark.active {opacity:1;}
.add-bookmark.active:hover {opacity: .3;}
.jcrop-holder {
    background:transparent !important;
}
/*.preloader {
    width:121px;
    height:121px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-60px;
    margin-left:-60px;
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/preloader.gif) no-repeat 0 0;
    display:none;
    z-index:1002;
}*/

.navigation {
    position: absolute;
    bottom: 450px;
    left: 50%;
    width: 750px;
    margin-left: -375px;
}

.pagination>li {display: inline-block; margin-bottom: 1em;}
.pagination>li>a, .pagination>li>span {
    background: #e6f2f2;
    color: #0086a6;
    line-height: 2;
    float: none;
    display: inline-block;
}
.pagination>li>.pagination__active,
.pagination>li>.current,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #000;
    background: #f3f9f9;
    border: 1px solid #fff;
}

.flaviusmatis .pagination>.active>a,
.flaviusmatis .pagination>.active>a:focus,
.flaviusmatis .pagination>.active>a:hover,
.flaviusmatis .pagination>.active>span,
.flaviusmatis .pagination>.active>span:focus,
.flaviusmatis .pagination>.active>span:hover {
    background-color:#f3f9f9;
    border: 1px solid #fff;
    color:#333;
}

.main.padding-bottom .navigation {
    bottom:10px;
}
.navigation .page-navigation {text-align: center; padding-bottom: 1em;}
.page-navigation > label,
.page-navigation > input,
.page-navigation > a {vertical-align: middle;}
.navigation .page-navigation label {
    color: #000;
    font-size: 18px;
    font-weight: 100;
    line-height: 20px;
    margin: 0 5px;
    width: auto;
}
.navigation .page-navigation input {
    height: 40px;
    padding: 0 3px;
    border: none;
    width: 60px;
    background: #fff;
    vertical-align: top;
    border: 1px solid #ddd;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.navigation .page-navigation .go {
    display: inline-block;
    padding: 0;
    width: 40px;
    height: 40px;
    opacity: 0.8;
    background: #0086a6;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 27px;
    position: relative;
}
.navigation .page-navigation .go:after {
    content: " ";
    display: block;
    width: 15px; height: 19px;
    position: absolute; left: 50%; top: 50%;
    margin-left: -7px; margin-top: -9px;
    background: url("/local/templates/adaptive/img/new-icons.png") -139px -41px no-repeat transparent;
}
.navigation .page-navigation .go:hover {
    opacity:1;
}
/* end main */

/* footer */
.footer {
    width: 100%;
    color: #76797c;
    background: #eaf2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 35px 0 33px;
    min-width: 970px;
    border-top:1px solid #0087A9;
    z-index:2;
}
.footer.close {
    display:none;
}
.footer-content {
    width: 940px;
    margin: 0 auto;
}
.footer-top:after {
    content:'';
    display:block;
    clear:both;
}
.footer-logo {
    float: left;
    margin-right: 22px;
}
.footer-menu {
    list-style-type: none;
    float: left;
    font-size: 14px;
    min-width: 100px;
    margin-top: 2px;
    padding-left:30px;
}
.footer-menu li {
    margin-bottom: 0.7em;
}
.footer-menu li a {
    color: #76797c;
    text-decoration: underline;
    font-family: "Open Sans",sans-serif,Arial !important;
    letter-spacing:0.032em;
}
.footer-bottom {
    margin-top:26px;
}
.footer .copy {
    float: left;
    width: 450px;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.6875em;
    margin: 32px 0 0 48px;
    line-height: 1.2em;
    letter-spacing:-0.03em;
}
.footer .support {
    float: right;
    width: 325px;
    margin-top: 30px;
    line-height: 24px;
}
.footer .create {
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 0.875em;
    font-size:13px;
    margin-bottom: 8px;
}
.footer-small {
    position:absolute;
    right:10px;
    bottom:20px;
    display:none;
}
.footer-small.open {
    display:block;
}
/* end footer */

.viewer {
    width:800px;
    height:1000px;
    text-align:center;
}
.viewer img {
    width:auto;
    max-height:850px;
    max-width:720px;
    height:auto;
}

#selectedrect{
    border: 2px solid #20869C;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.25);
    z-index:900;
    display:none;
    top:150px;
    position:absolute;

}

#selected_rect_menu{
    bottom: 10px;
    margin-left: 4px;
    left:100%;
    position: absolute;
    font: 16px/1em "Open Sans",sans-serif,Arial;
    background:#fff;
    border: 1px solid #bebcb8;

}

#selected_rect_menu a {
    display: block;
    text-decoration: none;
    color: #bbb094;
    font-size: 0.75em;
    position: relative;
    padding: 12px 10px 12px 45px;
    letter-spacing: -0.02em;
    background: #fff;
    z-index: 2;
    white-space:nowrap;
    background: url('/local/components/exalead/search.page.detail/templates/.default/images/ico_quote_left.png') 10px 10px no-repeat;
}
#selected_rect_menu a#b-textLayer_notes {
    background-image:url('/local/components/exalead/search.page.detail/templates/.default/images/ico_edit.png');
}
#selected_rect_menu a.selected-increase {
    background:url('/local/components/exalead/search.page.detail/templates/.default/images/scale-black.png') 10px 10px no-repeat;
    opacity: 1;
    cursor: pointer;
}
#selected_rect_menu a.selected-reduce {
    background:url('/local/components/exalead/search.page.detail/templates/.default/images/scale-black.png') 10px -70px no-repeat;
    opacity: 1;
    cursor: pointer;
}
#selected_rect_menu a.selected-reduce--disabled, 
#selected_rect_menu a.selected-increase--disabled {
    opacity: 0.5;
    cursor: default;
}
#selected_rect_menu a.selected-reduce--disabled:hover, 
#selected_rect_menu a.selected-increase--disabled:hover {
    background-color: #fff;
}
#selected_rect_menu a:hover {
    background-color: #f5e9ca;
}
#selected_rect_menu:before, #selected_rect_menu:after {
    content: ' ';
    bottom: -9px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    border-width: 9px 0 9px 12px;
}
#selected_rect_menu:after {
    border-color: transparent transparent transparent #fff;
}
#selected_rect_menu:before {
    border-color: transparent transparent transparent #bebcb8;
    border-width: 10px 0 10px 14px;
    bottom: -11px;
    left: -1px;
}

.layer_notes {
    position:absolute;
    bottom:-166px;
    left:100%;
    width:270px;
    margin-left:4px;
}
.layer_notes textarea {
    width:100%;
    resize:none;
    height:130px !important;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.layer_notes input {
    margin-top:5px;
    height:30px;
    width:100%;
    text-align:center;
    background: #00b0f2;
    opacity:0.7;
    border:none;
    cursor:pointer;
    font-weight:bold;
    color:#fff;
}
.layer_notes input:hover {
    opacity:1;
}

.crop-area {
    position: absolute;
    border: 1px dashed black;
    background: #F5DEB3;
    opacity: 0.3;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}

.zoomer {
    background:none !important;
}
.zoomer-holder {
    box-shadow: 0 5px 20px -2px #999c9f;
}
/* форма авторизации*/
.b-headernav_login {
    min-width: 400px;
    position: absolute;
    right: auto;
    left: 80px;
    top: 9px;
    /*
    left:874px;
    min-width: 550px;
    top:50px;
    display:none;
    */
    z-index:999;
}
.b-headernav_login .popup {
    display: block;
    background: #fff;
    width: 450px;
    position: relative;
    display: none;
    /*
    height: 272px;
    padding: 16px 30px 30px 40px;
    */
}
header a.b-headernav_login_lnk {
    display: inline-block;
    font-size: 0.875em;
    line-height:1.785em;
    text-decoration:none;
    white-space:nowrap;
    color: #1c1a19;
    font-weight:600;
    margin-left: -5px;
    padding: 15px 20px 11px 20px;
    background:#d6e0e0;
}
a.b-headernav_login_lnk:hover { color: #767c7c; }
.b-header_lang { margin: 15px 10px 0 0; }
.b-header_lang  a {
    color: #4c4c4c;
    font-size: 0.875em;
    line-height: 1.605em;
    width: 20px;
    height: 23px;
    padding: 0 5px;
    margin-right: 10px;
    font-weight:600;
    letter-spacing:0.01em;
    text-decoration:none;
}
.b-header_lang  a.ru {
    background: url('../i/icons.png') -380px 3px no-repeat;
}
a.b-headernav_login_lnk.current{ background: #f06735; color:#ffffff;font-weight: bold; }
.b-headernav-apps { padding-top: 12px; margin: 0 10px 0 0px;  }
header a.b-headernav_lnk {
    color: #1c1a19;
    font-size: 1em;
    line-height:1.5625em;
    text-transform: uppercase;
    margin-right: 0.75em;
    font-weight: 700;
    text-decoration:none;
}
a.b-headernav_lnk.current, a.b-headernav_lnk:hover { color: #767c7c; }
header a.b-headerapps_lnk {
    font-size: 0.875em;
    color: #4c4c4c;
    margin-left: 6px;
    vertical-align: middle;
}
.b-headernav-apps:hover a.b-headerapps_lnk { color: #767c7c; }
.b-headerapps_img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: url('../i/appstore.png') 0 0 no-repeat;
    width: 72px; height: 23px;
}
.b-headernav-apps:hover .b-headerapps_img { background-position: bottom left; }

.b-headerapps_img span {
    position: absolute;
    background: #f06735;
    color: #fff;
    font-size: 0.75em;
    width: 18px; height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    top: -7px; left: -7px;
    font-family: 'PT Sans', sans-serif;
}
.input, .textarea, textarea.textarea {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    display: block; background: rgba(255,255,255,1); border: solid 1px #c3cccf; width: 100%;
    font-size: 1em; padding: 0 10px; height: 50px; line-height: 40px;

    -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.13);
    box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.13);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    resize: none;

    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;

}
.popup { font-family: "Open Sans",Arial,sans-serif;}
.b_login_popup:before, .b_login_popup::after {
    content: '';
    position: absolute;
    right: 37px; top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #c8cdce;
}
.b-passrform:before, .b-passrform::after {
    content: '';
    position: absolute;
    right: -20px; top: 17px;
    border: 10px solid transparent;
    border-left: 10px solid #c8cdce;
}
.b-passrform:after { border-left: 10px solid white; right: -19px; top: 17px;}

.b_login_popup:after { border-bottom: 10px solid white; top: -19px; }
.b_login_popup h4 { margin-bottom: 20px; letter-spacing: -0.03em; font-size:  0.875em; }
.b_login_popup .b-login_social h4 { margin: 0 -10px 30px -5px; }
.b_login_popup_in {
    padding: 15px 10px 20px 10px;
    position: relative;
}
.b_login_popup_in .b-login_social { height: 225px; }

.b_login_popup_in .error_message { color: #f06e5c;
    font-size: 0.875em;
    line-height: 1em;
    display:inline-block;
    vertical-align:top;}

.b-loginform .fieldcell { width: 240px; }
.b-login_social { width: 168px; padding-left: 36px; border-left: 1px solid #dbdedf; }
.b-loginform { width: 261px; }
.b-login_txt { margin-bottom: 27px; }
.b-login_txt a { font-size: 0.875em; color: #545352; text-decoration: underline; margin-right: 28px; }
.b-login_txt a:hover { text-decoration: none; }
.b-login_social .b-login_slnk  {
    display: block;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 16px;
    font: bold 0.9375em/31px 'PT Sans', sans-serif;
    position: relative;
    padding-left: 42px;
    min-height:31px;

}
.b-login_social .b-login_slnk.esialink {line-height:38px; min-height:38px; padding-left:55px;}
.b-login_slnk:before {
    content: ' ';
    width: 33px; height: 31px;
    border-right: 1px solid #fff;
    display: block;
    position: absolute;
    top: 0; left: 0;
    background: url("/local/templates/.default/markup/i/icons.png") no-repeat -341px 7px;
}
.b-login_slnk.esialink:before {border-right:0 none; width:40px; height:38px;}
.b-login_slnk:hover { color: #fff; opacity: 0.7; filter: alpha(opacity=70); }

.b-line_social .b-login_slnk.vklink { background: #486c92;}
.b-line_social .b-login_slnk.odnlink { width: 95px; background: #f68736;}
.b-line_social .b-login_slnk.fblink { background: #3b5998; }
.b-line_social .b-login_slnk.esialink {
    background: rgb(43,120,212); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiNzhkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjU4YTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(43,120,212,1) 0%, rgba(31,88,162,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,120,212,1)), color-stop(100%,rgba(31,88,162,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* W3C */
}


.b-login_slnk.vklink:before { background-position: -341px 7px; }
.b-login_slnk.odnlink:before { background-position: -341px -25px; }
.b-login_slnk.fblink:before { background-position: -341px -54px; }
.b-login_slnk.esialink:before { background-position: -341px -83px; }


.b_login_popup_in .notitle { font-size: 1.125em; color: #76797c; text-transform: none; margin: 0 14px 0 40px;}
.b_login_popup_in label { letter-spacing: -0.04em; font-family: 'PT Sans', sans-serif; display: block; margin-bottom: -4px; }
.b_login_popup_in input[type="text"], .b_login_popup_in input[type="password"] { font-size: 0.875em; height: 28px; line-height: 28px;  }
.b_login_popup_in .fieldrow  {  }

.b-passrform {
    background: #fff;
    border: 1px solid #cedadd;
    border-top: 3px solid #f06735;
    position: absolute;
    bottom: -110px;left: -204px;
    z-index:1;
    padding: 16px 36px 17px;
    min-height: 153px;
    -webkit-box-shadow: 3px 0 6px rgba(0,0,0,0.28);
    box-shadow: 3px 0 6px rgba(0,0,0,0.28);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
}
.b-passrform.cont_fade_popup {
    width: auto;
}
.b-passrecoveryform { font-family: "Open Sans",Arial, }
.b-warning { font: 600  0.875em "Open Sans",Arial; color: #eb5c32; }
.b-passconfirm { letter-spacing: 0.07em; color: #76797c; font-size: 1.125em; margin-top: 44px; line-height: 1.35em; }
.b-passrecoveryform label  { font-family: "Open Sans",Arial,sans-serif; margin-bottom: 6px; }
.b-passrecoveryform .fieldrowaction  { margin-top: 12px; }
.b-passrecoveryform .formbutton { width: 140px; }


.b-line_social { border-top: 1px solid #c8c9ca;}
.b-line_social .b-login_slnk {
    display: inline-block;
    width: 66px;
    padding-left: 35px;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    position: relative;
}
.b-line_social .b-login_slnk:before { width: 27px; height: 25px; }
.b-line_social .b-login_slnk + .b-login_slnk { margin-left: 13px; }
.b-line_social .b-login_slnk.vklink:before { background-position: -407px 6px; }
.b-line_social .b-login_slnk.odnlink:before { background-position: -407px -20px; }
.b-line_social .b-login_slnk.fblink:before { background-position: -344px -57px; }
.b-lineinfo { border-top: 1px solid #c8c9ca; margin: 36px 0 0; padding: 0; }
.b-lineinfo h5 {
    color: #929495;
    font-weight: normal;
    font-size: 0.75em;
    margin: 0px 0 15px;
    line-height: 23px;
}
.b-lineinfolist {
    list-style-type: none;
    font-size: 0.875em;
    line-height: 25px;
}
.selected_slider .b-favside_img { width: 211px; }
.selected_slider .b-favside_img img { margin: 0 auto;}
.selected_slider h2 {
    color: #1c1a19;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.3em;
    margin: -3px 0 8px;
}
.selected_slider { width: 850px; margin-bottom: 20px; }
.selected_slider .slick-prev, .selected_slider .slick-next {
    height: 55px;
    left: 0;
    top: 22%;
    width: 47px;
    z-index: 1;
}
.selected_slider .slick-prev {  left: -72px;  background: url("../i/arrow_l.png") no-repeat 0 10px; }
.selected_slider .slick-next { right: -11px; left: auto;  background: url("../i/arrow_r.png") no-repeat 0 10px; }
.field em.error { display: none; }
.field.error em.error { display: block; background: #fff; z-index: 10; cursor: pointer; }
.fieldrowaction {   }
.fieldrowaction .fieldrowaction .fieldcell, .b_login_popup_in .fieldrowaction .fieldcell  { width: auto; margin-right: 0; }
.fieldrowaction .formbutton { height: 38px; width: 100px; margin-top:6px;}
.b-passchge .fieldrowaction .formbutton  { width: 140px; }
.b-passchge .fieldrowaction { margin-top: 25px; }
.field.iblock { margin-right: 4px; }
/* error */
.error .inpseltxt, .error .input.error, .no-touch .error .input.error:hover, .error .input.error:focus,
.no-touch .error .input.error:focus:hover,
.error .selopener.error + .inpseltxt, .error .selopener.error:hover + .inpseltxt,
.error .textarea.error, .no-touch .error .textarea.error:hover, .error .textarea.error:focus,
.no-touch .error .textarea.error:focus:hover { }
/* disabled */
.input[disabled], .no-touch .input[disabled]:hover, .input[disabled]:focus,
.selopener.disabled + .inpseltxt, .no-touch .selopener.disabled:hover + .inpseltxt {
    color: rgb(167,167,167); background: #eaf2f2;  }
.selopener.disabled {cursor: default;}

.textarea { font-size: 1em; font-weight: normal; height: 85px; line-height: 1.25em; padding: 9px 0 0 10px; }

/* buttons */
.homepage .formbutton, .formbutton {
    border: 0;
    background: #0086a6;
    font-size: 1.125em; line-height: 1em; display: inline-block; text-align: center;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding: 4px 10px 4px;
    height: 43px;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #e8ebec;
    font-weight: 300;
    cursor: pointer;
    -webkit-appearance: none;
}
.b-formlogin .formlink {color:#0086a6;}
.formbutton:hover { background: #007899; color: #fff;}
.formbutton.small { font-size: 0.75em; font-weight: 300; background: #ee6334; line-height: 17px; height: 29px;}
a.formbutton.small { line-height: 23px;}
.formbutton.middle {
    font-size: 1em;
    font-weight: normal;
    height: 24px;
    line-height: 16px;
    text-decoration: none;
}
.innersection .formbtn, .formbtn {
    border: 0; padding: 0;
    background: #007692;
    font-size: 0.875em;
    display: inline-block;
    cursor: pointer;
    min-width: 117px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    line-height: 39px;
    height: 39px;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    color: #fff;
    padding:0 15px;
    -webkit-appearance: none;

}
.fieldrow { margin-left: 0; margin-bottom: 14px; position: relative;}
.fieldcell { white-space: normal; width: 580px; margin: 3px 40px 0 0; color: #531f69; position: relative; }
.b_login_popup { border: 1px solid #c3cccf;  border-radius: 3px; }






@media screen and (max-width:1700px) {
    .top-right-tools ul li > span,
    .top-right-tools ul li > a {
        width:68px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .search-book-content input[type=text] {
        width:149px;
    }
}


@media screen and (max-width:1580px) {
    .main {
        position:relative;
        /*left:-80px;*/
    }
    .main:after {
        left:80px;
    }
}
.note-book {
    position:absolute;
    z-index:999;
    margin-top:-24px;
}
.note-book.hide {
    height:22px !important;
    width:22px !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.note-book:hover {
    z-index:1000;
}
.note-icon {
    width:22px;
    height:22px;
    background: url(/local/components/exalead/search.page.detail/templates/.default/images/note.png) no-repeat 50% 50% #0088AC;
    border:1px solid #fff;
    cursor:pointer;
}
.note-edit {
    display:block;
    width:22px;
    height:22px;
    border:1px solid #fff;
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/edit-save.png) no-repeat 50% 2px #0088AC;
    position:absolute;
    right:0;
    top:23px;
    cursor:pointer;
    opacity:0.8;
    display:none;
}
.note-edit.save {
    background:url(/local/components/exalead/search.page.detail/templates/.default/images/edit-save.png) no-repeat 50% -40px #0088AC;
}
.note-edit:hover {
    opacity:1;
}
.note-book:hover .note-edit.visible {
    display:block;
}
.note-book-content {
    border:1px solid #fff;
    background:rgba(255,255,255,1);
    /*box-shadow: 5px 8px 8px rgba(0,0,0,.35);*/
    position:absolute;
    top:23px;
    bottom:0;
    left:0;
    width:100%;
    text-align:left;
    padding:5px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    overflow:auto;
    resize:none;
    color:#262626;
    display:none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.note-book-content[disabled] {
    /*box-shadow: 5px 8px 8px rgba(0,0,0,.1);*/
}
.note-book.edit .note-book-content {
    background:rgba(255,255,255,0.9);
}
.quote-book {
    position:absolute;
    z-index:999;
    margin-top:-24px;
}
.quote-book.hide {
    height:22px !important;
    width:22px !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quote-book:hover {
    z-index:1000;
}
.quote-icon {
    background: url(/local/components/exalead/search.page.detail/templates/.default/images/quote.png) no-repeat 50% 50% #0088AC;
    width:22px;
    height:22px;
    border:1px solid #fff;
    cursor:pointer;
}
.quote-book-content {
    border:1px solid #0087A9;
    background:#EBF4FD;
    opacity:0.6;
    position:absolute;
    top:23px;
    bottom:0;
    left:0;
    width:100%;
    text-align:left;
    padding:5px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    overflow:auto;
    resize:none;
    color:#262626;
    display:none;
}
.viewer_img {
    display:inline-block;
    position:relative;
}
.close-window {
    width: 20px;
    height: 20px;
    background: url(/local/components/exalead/search.page.detail/templates/.default/images/close_window.png) no-repeat 50% 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    opacity: 0.8;
}
.increase, .decrease, .normal, .big_image, .horizontal, .vertical {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*.big_image, 
#big_image_holder {
    position:absolute;
    z-index:1001;
    top:0px;
    width:100%;
}*/
#big_image_holder {
    background: white;
    z-index:1000;
    width:100%;
    height: 0; overflow: hidden;
    position: fixed;
    left: 0; top: 0;
}
.fs-view #big_image_holder {
    height: 100%;
    overflow: visible;
}
.image-wrapper {height: 100%;}
.big_image {
    width: 90%;
}
.big_image.vertical-scale { width: auto; height: 100%;}
.big_image.horizontal-scale {height: auto; width: 100%;}

#big_image_holder .prev-page,
#big_image_holder .next-page {
    display: none;
    width: 40px;
    height: 60px;
    position:fixed;
    top:50%;
    margin-top:-180px;
    background: url(/local/components/exalead/search.page.detail/templates/.default/images/left.png) no-repeat 50% 50% rgba(26, 26, 26, 0.6);
    opacity: 0.8;
    cursor: pointer;
    z-index: 2000;
    padding: 5px;
}
.fs-view #big_image_holder .prev-page,
.fs-view #big_image_holder .next-page {
    display: block;
}
#big_image_holder .prev-page:hover {
    background-image: url(/local/components/exalead/search.page.detail/templates/.default/images/left-hov.png);
    background-color: rgba(26, 26, 26, 0.8);
}
#big_image_holder .next-page:hover {
    background-image: url(/local/components/exalead/search.page.detail/templates/.default/images/right-hov.png);
    background-color: rgba(26, 26, 26, 0.8);
}
#big_image_holder .prev-page {
    left: 50%;
    margin-left: -45%;
}
#big_image_holder .next-page {
    right: 50%;
    margin-right: -45%;
    background: url(/local/components/exalead/search.page.detail/templates/.default/images/right.png) no-repeat 50% 50% rgba(26, 26, 26, 0.6);
}
.horizontal, .vertical {
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 30px;
    display:none;
    position:relative;
    top:-35px;
    width:30px;
    height:30px;
    float:left;
    background:rgba(130, 150, 155, .9);
}
.vertical {
    left: -90px;
    background-image: url(/local/components/exalead/search.page.detail/templates/.default/images/vertical-scale.png);
    background-repeat: no-repeat;
    background-position: center;
    top: -65px;
}
.vertical:hover {
    background-image: url(/local/components/exalead/search.page.detail/templates/.default/images/vertical-scale-hov.png);
}
.horizontal {
    left: -90px;
    background-image: url(/local/components/exalead/search.page.detail/templates/.default/images/horizontal-scale.png);
    background-repeat: no-repeat;
    background-position: center;
}
.horizontal:hover {
    background-image: url(/local/components/exalead/search.page.detail/templates/.default/images/horizontal-scale-hov.png);
}
.scale-button.normal {
    font-weight: bold !important;
    font-size: 9px  !important;
    line-height: 30px;
    display:none;
    position:relative;
    top:-35px;
    left:-30px;
    width:30px;height:30px;float:left;background:rgba(130, 150, 155, .9);
}

.b-loginform .js_passrecovery {
  width: 50%;
  margin: 0;
  text-align: center;
}

.b-passrform {
    left: 467px;  
    box-shadow: -3px 0 6px rgba(0,0,0,0.28);
    top: 132px;
}

.fieldrowaction .formbutton {
    width: auto;
}
.b-passrform:before, .b-passrform::after {
}
.b-passrform:before { 
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    border: 10px solid transparent;
    border-right: 10px solid #c8cdce;
    left: -20px;
}
.b-passrform::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    border: 10px solid transparent;
    border-right: 10px solid #fff;
    left: -19px;
}

.page-book > .right {
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 800;
    width: auto;
}

.search_preloader {
    width: 100%;
    height: 15px;
    margin-top: 15px;
    display: none;
    background: url(/local/components/exalead/search.page.detail/templates/.default/images/preloader-line.gif) 50% 50% no-repeat;
}

.selectedrect-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    /*opacity: 0.8;*/
    overflow: hidden;
    /*box-shadow: 5px 5px 26px rgba(0,0,0,.5)*/
    box-shadow: 5px 8px 8px rgba(0,0,0,.35);
}
#selected_rect_menu,
.layer_notes,
.crop-text-block {
    z-index: 1001;
    box-shadow: 5px 8px 5px rgba(0,0,0,.25);
}
.selectedrect {
    background: red;
}
.zoom-image {
    margin: 0;
    position: absolute;
}
@media screen and (max-width:1300px) {
    .main .next-page {
      right: 0;
    }
    .main .prev-page {
      left: 0;
    }
}
.text-view-wrapper {
    display: none;
    background-color: #fff;
    padding: 20px 20px 80px;
    font-size: 85%;
    line-height: 1.5;
    width: 700px;
    min-height: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    white-space: pre-wrap;
    position: relative;
}
.left-tools .text-now {
    background: url(/local/components/exalead/search.page.detail/templates/.default/images/image-view.png) no-repeat 50% 7px #0086a6;
    padding-top: 35px;
}
.left-tools .image-now:before {
    background: url(/local/templates/adaptive/img/new-icons.png) no-repeat 2px -58px #0086a6;
}
.left-tools>ul>li>span.tool-disabled {
    cursor: default;
    opacity: 0.9;
}
.btn.search-submit-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 19px;
    position: relative;
    height: 40px;
}
.search-submit-btn:before {content: " "; display: inline-block; width: 1em;}
.search-submit-btn:after {content: " "; display: block; width: 22px; height: 22px; position: absolute; left: 50%; top: 50%; margin-left: -11px; margin-top: -11px;
    background: url('/local/templates/adaptive/img/new-icons.png') no-repeat -135px -75px transparent;
}
.navigation>ul>li {
    background: #e6f2f2;
    color: #0086a6;
    text-align: center;
    padding-top: 14px;
    width: 40px;
    height: 50px;
    border-right: 1px solid #fff;
}
.navigation>ul>li>span {
    text-decoration: none !important;
}
.navigation>ul>li:last-child {
    border-right: none;
}
.navigation li.active {
    background: #f3f9f9;
    color: #000;
}





/* модуль разметки изданий */
.b-headernav_markup {
    min-width: 400px;
    position: absolute;
    right: auto;
    left: 38%;
    top: 150px;
    /*
    left:874px;
    min-width: 550px;
    top:50px;
    display:none;
    */
    z-index:999;
    text-align: left;
}
.b-headernav_markup .popup {
    display: block;
    background: #fff;
    width: 450px;
    position: relative;
    display: none;
    /*
    height: 272px;
    padding: 16px 30px 30px 40px;
    */
}
header a.b-headernav_markup_lnk {
    display: inline-block;
    font-size: 0.875em;
    line-height:1.785em;
    text-decoration:none;
    white-space:nowrap;
    color: #1c1a19;
    font-weight:600;
    margin-left: -5px;
    padding: 15px 20px 11px 20px;
    background:#d6e0e0;
}
a.b-headernav_markup_lnk:hover { color: #767c7c; }
.b-header_lang { margin: 15px 10px 0 0; }
.b-header_lang  a {
    color: #4c4c4c;
    font-size: 0.875em;
    line-height: 1.605em;
    width: 20px;
    height: 23px;
    padding: 0 5px;
    margin-right: 10px;
    font-weight:600;
    letter-spacing:0.01em;
    text-decoration:none;
}
.b-header_lang  a.ru {
    background: url('../i/icons.png') -380px 3px no-repeat;
}
a.b-headernav_markup_lnk.current{ background: #f06735; color:#ffffff;font-weight: bold; }
.b-headernav-apps { padding-top: 12px; margin: 0 10px 0 0px;  }
header a.b-headernav_lnk {
    color: #1c1a19;
    font-size: 1em;
    line-height:1.5625em;
    text-transform: uppercase;
    margin-right: 0.75em;
    font-weight: 700;
    text-decoration:none;
}
a.b-headernav_lnk.current, a.b-headernav_lnk:hover { color: #767c7c; }
header a.b-headerapps_lnk {
    font-size: 0.875em;
    color: #4c4c4c;
    margin-left: 6px;
    vertical-align: middle;
}
.b-headernav-apps:hover a.b-headerapps_lnk { color: #767c7c; }
.b-headerapps_img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: url('../i/appstore.png') 0 0 no-repeat;
    width: 72px; height: 23px;
}
.b-headernav-apps:hover .b-headerapps_img { background-position: bottom left; }

.b-headerapps_img span {
    position: absolute;
    background: #f06735;
    color: #fff;
    font-size: 0.75em;
    width: 18px; height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    top: -7px; left: -7px;
    font-family: 'PT Sans', sans-serif;
}
.b-markupform { width: 100%; }

.popup { font-family: "Open Sans",Arial,sans-serif;}
.b_markup_popup:before, .b_markup_popup::after {
    content: '';
    position: absolute;
    right: 37px; top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #c8cdce;
}
.b-passrform:before, .b-passrform::after {
    content: '';
    position: absolute;
    right: -20px; top: 17px;
    border: 10px solid transparent;
    border-left: 10px solid #c8cdce;
}
.b-passrform:after { border-left: 10px solid white; right: -19px; top: 17px;}

.b_markup_popup:after { border-bottom: 10px solid white; top: -19px; }
.b_markup_popup h4 { margin-bottom: 20px; letter-spacing: -0.03em; font-size:  0.875em; }
.b_markup_popup .b-login_social h4 { margin: 0 -10px 30px -5px; }
.b_markup_popup_in {
    padding: 15px 10px 20px 10px;
    position: relative;
}
.b_markup_popup_in .b-login_social { height: 225px; }

.b_markup_popup_in .error_message { color: #f06e5c;
    font-size: 0.875em;
    line-height: 1em;
    display:inline-block;
    vertical-align:top;
}
.b_markup_popup_in .notitle { font-size: 1.125em; color: #76797c; text-transform: none; margin: 0 14px 0 40px;}
.b_markup_popup_in label { letter-spacing: -0.04em; font-family: 'PT Sans', sans-serif; display: block; margin-bottom: -4px; }
.b_markup_popup_in input[type="text"], .b_markup_popup_in input[type="password"] { font-size: 0.875em; height: 28px; line-height: 28px;  }
.b_markup_popup_in .fieldrow  {  }

.modal-body>form.nrf:first-child {
    padding-left: 20px; padding-right: 20px;
}

.flaviusmatis {text-align: center; white-space: nowrap;}
.flaviusmatis .pagination > li,
.flaviusmatis .pagination > li > span,
.flaviusmatis .pagination > li > a {
    vertical-align: top;
}

.flaviusmatis .pagination > li > span,
.flaviusmatis .pagination > li > a {
    display: inline-block;
    line-height: 34px;
    min-width: 3.3em;
}
.flaviusmatis .ellipse.clickable {
    min-width: 40px;
    max-width: 90px;
    padding-top: 8px;
}
.flaviusmatis .ellipse.clickable .form-control {
    margin: 0;
    height: 31px;
    font-size: 18px;
    padding: 6px 5px;
}
[data-define] {
    -webkit-user-select: none;
    user-select: none;
}
.pre-add-chapter {padding-right: 1ex; display: none;}
.addform-row:after,
.addform-title:after {content: " "; display: table; clear: both;}
.addform-row {padding-bottom: .5ex;}
.addform-title {}
.addform-row > div,
.addform-title > div {padding-left: 2px; padding-right: 2px; font-size: 12px;}
.addform-row > div:first-of-type,
.addform-title > div:first-of-type {padding-left: 10px;}
.addform-row > div .flabel,
.addform-title > div .flabel {line-height: 2.5;}
.addform-row .form-control,
.addform-title .form-control {padding-left: 1ex; padding-right: 1ex;}

/* legacy */
.b-loginform-column {float: left; width: 40%; padding-left: 20px;}
.b-loginform-column.b-loginform {width: 60%; padding-left: 0;}
.b_login_popup .change_pass_mess {display: none;}

.social-wrap {
  height: 56px;
}
.social-wrap a {
  opacity: 1;
  width: 40px;
  height: 40px;
}
.social-wrap a:hover {
  opacity: 0.7;
}
.facebook, .odnoklassniki, .vkontakte{
    background: url('/local/templates/.default/markup/i/icons.png') no-repeat;
    display: inline-block;
    margin-top: 7px;
}
.facebook{
    background-position: -101px -514px;
    width: 28px;
    height: 28px;
}
.odnoklassniki{
    background-position: -183px -514px;
    width: 28px;
    height: 28px;
}
.vklink{
    background-position: -142px -514px;
    width: 28px;
    height: 28px;
}
.esia-login, .rgb-login {display: inline-block;}
.button-bar:after {content: " "; display: table; clear: both;}

label[for], form .form-group > label {cursor: pointer; -webkit-user-select: none; user-select: none;}
label[for].error {cursor: default;}
/* profile/readers/new */
.new-reader-form {
    display: block; 
}
.new-reader-form.nrf > p {margin-left: -50px; margin-right: -50px; text-align: center;}
.new-reader-form .error {display: none;}
.nrf-fieldset-title {font-size: 140%; font-weight: 300;}
.nrf-fieldset-title:first-letter {text-transform: capitalize;}
.nrf > .row {margin-bottom: 1ex;}
.row + .nrf-fieldset-title, .edit-login-password-form .nrf-fieldset-title,  .exist-reader-form .nrf-fieldset-title {margin-top: 1em;}
.nrf label, .naf label {font-weight: 400; position: relative; font-size: 80%;}
.naf > .row {margin-top: 1em;}
.naf label.error {margin-top: 0;}
label .hint {position: absolute; width: 1em; margin-left: -1em;}
.error_message, label.error, .has-error label {color:#f00;}
div.error_message {margin: 1em 0; text-align: center;}
.error_container, .login-form .error_container {text-align: left; width: 555px; margin: 1em auto;}
.error_container p {font-size: inherit;}
p > .errortext {font-size: 77%;}
.btn-bar .btn {margin-right: 1ex;}
.btn-bar .btn:last-of-type, .btn-bar .btn:last-child {margin-right: 0;}
button .spinner {display: inline-block; margin-right: 1em;}
.data-dl {}
.data-dl > dt {font-weight: normal;}
.data-dl > dd {margin-left: 5em; margin-bottom: 1em;}
.modal-body .data-dl > dd > strong {font-weight: normal;}
#milk-shadow, .milk-shadow {
    position: fixed;
    left: 0; top: 0; right: 0;
    height: 0;
    background-color: #fff;
    opacity: 0;
    z-index: 1000;    
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    
}
.milk-shadow {position: absolute;}
#milk-shadow.draw, .milk-shadow.draw {
    height: 100%;
    opacity: .5 !important;        
}

.no-user-select {
    -webkit-user-select: none;
    user-select: none;
}

.fs-tool {
    display: none;
    z-index: 1001;
}
.fs-tool:before {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 7px;
    left: 50%; margin-left: -12px;
    background-image: url('/local/templates/adaptive/img/new-icons.png');
}
.fs-view .fs-tool {display: block;}
    .fs-contract, .fs-scale {
        font-size: 10px; 
        color:#3b4549;
        text-align: center;
        padding-top: 37px;
        width: 80px;
        height: 61px;
        cursor: pointer;
        position: fixed;
        right: 20px; top: 0;
        background-color: #8fa6ac;
        background-color: rgba(143,166,172,.7);
    }
    .fs-contract:hover, .fs-scale:hover {
        background-color: #798c91;
        background-color: rgba(143,166,172,.9);
    }
    .fs-contract {}
    .fs-contract:before {
        background-position: -179px -14px;
    }
    .fs-scale {top: 60px;}
    .fs-scale:before {
        background-position: -135px -76px;
    }
    .fs-scale-submenu {
        display: none;
        z-index: 1001;
        width: 240px; height: 61px;
        position: fixed;
        right: 100px;
        top: 60px;
    }
    .fs-scale:hover + .fs-scale-submenu,
    .fs-scale-submenu:hover {display: block;}
    .fs-scale-submenu {
        width: 240px; height: 61px;
    }
        .fs-scale-normal,
        .fs-scale-horizontal,
        .fs-scale-vertical {
            width: 80px; height: 61px; position: absolute;
            right: 0;
            top: 0;
            background-color: #8fa6ac;
            background-color: rgba(143,166,172,.7);
            cursor: pointer;
            text-align: center;
            padding-top: 20px;
            color:#fff;
        }
        .fs-scale-horizontal:before,
        .fs-scale-vertical:before {
            content: " ";
            display: block;
            width: 26px; height: 26px;
            position: absolute;
            left: 50%; top: 50%;
            margin-left: -13px; margin-top: -13px;
            background-image: url('/local/templates/adaptive/img/new-icons.png');
        }
        .fs-scale-horizontal:before {
            background-position: -179px -90px;
        }

        .fs-scale-vertical:before {
            background-position: -176px -52px;  
        }


        .fs-scale-normal:hover, .fs-scale-normal.active,
        .fs-scale-horizontal:hover, .fs-scale-horizontal.active,
        .fs-scale-vertical:hover, .fs-scale-vertical.active {
            background-color: #798c91;
            background-color: rgba(143,166,172,.9);
        }        
        .fs-scale-vertical {right: 160px;}
        .fs-scale-horizontal {right: 80px;}
        .fs-scale-normal {}

.fs-view {height: 100%;}
.fs-view .page-book {height: 100%;}
.fs-view #big_image_holder {height: 100%; overflow-y: scroll;}

.spinner-neb-logo ~ .spinner-logo {
    width: 152px; 
    height: 152px; 
    background-color:#008ca2; 
    border-radius: 20px; 
    position: absolute; 
    left: 50%; top: 50%;
    margin-left: -76px; 
    margin-top: -75px;
    background: url('/local/templates/adaptive/favicon/apple-icon-152x152.png') center center no-repeat transparent;
    z-index: 1001;
}

.viewer_img .spinner-neb-logo {z-index: 1001 !important;}
.viewer_img .milk-shadow {
    /*-webkit-filter: blur(5px);
    filter: blur(5px);*/
}

.milk-shadow.draw + .zoomer-image,
.milk-shadow.draw ~ .image-wrapper
{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.milk-shadow.draw + .text-view {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
#big_image_holder .milk-shadow.draw {position: fixed; bottom: 0;}
#big_image_holder .spinner-logo,
#big_image_holder .spinner-neb-logo {
    position: fixed !important; 
    z-index: 1001 !important;
    /*margin-left: -84px;*/
}

.text-view-wrapper .milk-shadow.draw {}
.text-view-wrapper .spinner-logo,
.text-view-wrapper .spinner-neb-logo,
#selectedrect [role="progressbar"] {
    z-index: 1002 !important;
}
#selectedrect .milk-shadow.draw {z-index: 1001;}

.crop-text-block {
  display: none;
  position: absolute;
  bottom: -90px;
  right: 0;
  background: #fff;
  line-height: 1em;
  padding: 16px;
  box-sizing: border-box;
  height: 80px;
  width: 284px;
}
.crop-text-block p {
  font-size: 0.9em;
  margin: 0;
  padding-bottom: 10px;
}
.crop-text-block .crop-text {
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  width: 250px;
}