.js-delete-row,
.js-delete-row:visited,
.js-show-info:visited,
.js-show-info {
    text-decoration: none;
    font-size: 14px;
}
.js-delete-row {
    color: rgb(120,120,120);
}
.js-delete-row:hover {
    color: rgb(180,0,0);
}
.table-hover > tbody > tr.row-switch:hover,
.row-switch:hover,
.row-switch {
    background-color: rgb(230, 230, 230);
}
.b-infoboxitem .iblock {
    vertical-align: bottom;
}
.b-infoboxitem .tit {
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
}
.blk-milk-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background-color: #fff;
    z-index: 11;
    transition: opacity .5s;
}
.blk-milk-shadow .fa {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 12;
    color: #0086a6;
}