textarea {
    max-width: 100%;
    resize: none;
}
.report-remove {
    display: inline-block;
    position: relative;
    width: 15px;
    line-height: 10px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
}
.report-remove:after,
.report-remove:before {
    content: '';
    width: 15px;
    height: 15px;
    border-bottom: 2px solid red;
    position: absolute;
    left: 5px;
    top: -4px;
    transform: rotate(45deg);
}

.report-remove:before {
    left: 5px;
    top: 5px;
    transform: rotate(135deg);
}

.report-edit {
    display: inline-block;
    margin-left: 5px;
    background: url('/local/templates/adaptive/img/sprite-overall.png') no-repeat -264px -18px;
    width: 15px;
    height: 15px;
    position: relative;
    vertical-align: middle;
}