.blk-milk-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background-color: #fff;
    z-index: 11;
    transition: opacity .5s;
}
.blk-milk-shadow .fa {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 12;
    color: #0086a6;
}
.btn.btn-default.disabled .glyphicon {
    color: #ccc;
}