<script type="text/javascript">
    var FRONT = FRONT || {};

    var sendPosting = function (postingId) {
        $.ajax({
            url: '/api/library-notification/' + postingId + '/send/?token=' + getUserToken(),
            dataType: 'json',
            method: 'POST',
            data: {},
            success: function (data) {
                if (data.remains) {
                    sendPosting(postingId);
                } else {
                    location.href = '/profile/notification/history/'
                }
            }
        });
    };

    $(function () {
        var postingForm = $('[data-notification-form]'),
            formInputs = postingForm.find('[type="text"], textarea'),
            submitButton = $('[type="submit"]', postingForm);

        tinymce.init({
            selector: '#postingText',
            hidden_input: false,
            setup: function(editor) {
                editor.on('keyup', function(e) {
                    tinymce.triggerSave();
                    postingForm.trigger('change');
                });
            }
        });

        $(document)
            .on('change', postingForm, function(){
                var canPost = true;
                formInputs.each(function(){
                    var inp = $(this);
                    if ( inp.val() == '' ) {
                        canPost = false;
                    }
                });
                submitButton.prop('disabled',!canPost);
            })
            .on('keyup', formInputs, function(){
                postingForm.trigger('change');
            });

        $('[data-submit-notification]').click(function (e) {
            e.preventDefault();
            var postingData = {
                bposting: {
                    postingEmails: [],
                    postingFiles: [],
                    subject: '',
                    body: ''
                }
            };
            $('select[name="bposting[postingEmails][]"] option:selected').each(function () {
                postingData.bposting.postingEmails.push($(this).val());
            });
            $('input[name="posting_files[]"]').each(function () {
                if ($(this).val()) {
                    postingData.bposting.postingFiles.push($(this).val());
                }
            });
            postingData.bposting.body = tinyMCE.get('postingText').getContent();
            postingData.bposting.subject = $('[data-notification-form] input[name="subject"]').val();
            postingData.bposting.fromField = $('[data-notification-form] input[name="fromField"]').val();


            $.ajax({
                url: '/api/library-notification/create/?token=' + getUserToken(),
                dataType: 'json',
                method: 'POST',
                data: postingData,
                success: function (data) {
                    var entityId = neb.objectPathSearch(data, 'entity.id');
                    if (entityId) {
                        $.when(FRONT.confirm.handle({
                            confirmTitle: 'Сохранить и отправить',
                            cancelTitle: 'Сохранить',
                            text: 'Оповещение создано.',
                            modalSize: 'modal-md'
                        })).then(function (confirmed) {
                            if (confirmed) {
                                sendPosting(entityId);
                            }
                        });

                    }
                }
            });
        });

        
    });
</script>
<p>
    <span data-href="{{url.send}}">Отправка</span> | <a href="{{url.history}}">История</a>
</p>

{{! <form>
    <div class="main-search-string" data-dt="search">
        <div class="main-search-string-row" data-main-string="">
            <div class="string-field">
                <input placeholder="Поиск по библиотекам" class="form-control input-lg" name="query"
                       value="{{query.query} }">
                <!--a class="ext-search-expand" title="Расширенныей поиск" data-extsearch-toggle=""></a-->
            </div>
            <div class="string-submit">
                <input type="submit" value="Найти" class="btn btn-lg btn-primary">
            </div>
        </div>
    </div>
</form> }}


<form class="postingForm form-form" method="POST" data-notification-form >
    <div class="form-group form-form">
        <label>Кому</label>
        <select name="bposting[postingEmails][]" data-select-two multiple="true" class="form-control"
                data-placeholder="Всем библиотекам">
            {{#libraries}}
                <option value="{{email}}" {{#checked}}selected{{/checked}} >
                    {{name}}
                </option>
            {{/libraries}}
        </select>
    </div>

    {{! <label>Кому</label>
    <dl class="responsive-table-layout responsive-hover profile-notification">
        <dt class="hidden">
            <span>#</span>
            <span>Библиотека</span>
        </dt>
        {{ #libraries} }
            <label>
                <dd>
                <span>
                    <input type="checkbox" name="posting_email[]" class="form-control"
                           {{#checked} }checked{{/checked} }
                           value="{{email} }">
                    <span class="lbl"></span>
                </span>
                    <span>{{name} }</span>
                </dd>
            </label>
        {{/libraries} }
    </dl> }}

    <div class="form-group">
        <label>Тема письма</label>
        <input type="text" name="subject" class="form-control" value="{{request.subject}}">
    </div>
    <!--div data-file-upload data-url="{{url.fileUpload}}" data-inputs-name="posting_files[]"></div-->
    <div class="form-group">
        <label>Прикрепить файлы</label>
        <input
                type="file"
                data-inputs-name="posting_files[]"
                multiple
                class="profile-notification-file-upload"
                data-file-upload
                data-url="{{url.fileUpload}}"
                />
    </div>
    <div class="notification-draw">
        {{! htmlEditor}}
        <textarea id="postingText"></textarea>
    </div>
    <input type="hidden" name="fromField" value="{{senderEmail}}">

    <div class="form-buttons">
        <input type="submit" class="btn btn-primary" data-submit-notification disabled onclick="this.disabled = true;">
    </div>
</form>
