</h2>

{{^isLibrary}}
    <p>
        <a href="{{url.send}}">Отправка</a> | <span data-href="{{url.history}}">История</span>
    </p>
{{/isLibrary}}

<form data-togglable-widget class="expanded search-with-ext" action="./" method="get">
    <div class="main-search-string" data-dt="search">
        <div class="main-search-string-row" data-main-string>
            <div class="string-field">
                <input placeholder="Поиск по заявкам" class="form-control input-lg" name="query"
                       value="{{query.query}}">
                <a class="ext-search-expand" title="Расширенныей поиск" data-extsearch-toggle></a>
            </div>
            <div class="string-submit">
                <input type="submit" value="Найти" class="btn btn-lg btn-primary"/>
            </div>
        </div>
    </div>

    <div class="ext-search" data-dd="search">
        <button type="button" class="close" data-extsearch-toggle aria-label="Close"><span aria-hidden="true">×</span>
        </button>        
        <dl class="form-dl">
            <dd class="fullwidth">
                <select name="library_email[]" class="form-control" data-select-picker multiple="true"
                        title="Все библиотеки">
                    {{#libraries}}
                        <option value="{{email}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                    {{/libraries}}
                </select>
            </dd>
            <dt>
                <label for="posting_id">Номер заявки</label>
            </dt>
            <dd>
                <input type="text" class="form-control" id="posting_id" name="id" value="{{query.id}}"/>
            </dd>

            


            <dt>
                <label for="date_send_from">Дата отправки от</label>
            </dt>
            <dd>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="date_send_from" size="10" value="{{query.date_send_from}}"
                               id="date_send_from" class="form-control">
                        <span class="input-group-btn">
                            <a id="calendarlabel" class="btn btn-default"
                               onclick="BX.calendar({node: 'date_send_from', field: 'date_send_from', form: '', bTime: false, value: ''});">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </a>
                        </span>
                    </div>
                </div>


            </dd>
            <dt>
                <label for="date_send_to"> до </label>
            </dt>
            <dd>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="date_send_to" size="10" value="{{query.date_send_to}}"
                               id="date_send_to" class="form-control">
                        <span class="input-group-btn">
                            <a id="calendarlabel" class="btn btn-default"
                               onclick="BX.calendar({node: 'date_send_to', field: 'date_send_to', form: '', bTime: false, value: ''});">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </a>
                        </span>
                    </div>
                </div>

            </dd>
            <dt>
                <label for="sender_name">ФИО отправителя</label>
            </dt>
            <!--{{^isLibrary}}
                <dd>
                    <input type="text" class="form-control" id="sender_name" name="sender_name"
                           value="{{query.sender_name}}"/>
                </dd>
                <dt>
                    <label for="to_field">Адресат</label>
                </dt>
            {{/isLibrary}}-->
            <dd>
                <input type="text" class="form-control" id="to_field" name="to_field" value="{{query.to_field}}"/>
            </dd>
        </dl>
        <div class="ext-buttons">
            <input type="submit" value="Найти" class="btn btn-lg btn-primary"/>
        </div>
    </div>
</form>
<table class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Дата отправки</th>
        <th>Письмо</th>
        <th>Отправитель</th>
        {{^isLibrary}}
            <th>Получатели</th>
        {{/isLibrary}}
    </tr>
    {{#entities}}
        <tr>
            <td>{{id}}</td>
            <td class="date-send">{{#dateSent}}{{dateSent}}{{/dateSent}}{{^dateSent}}<input value="Отправить" class="btn btn-primary send-subscribe"  data-id="{{id}}" />{{/dateSent}}</td>
            <td>{{bodyText}}</td>
            <td>{{fromField}}</td>
            {{^isLibrary}}
                <td>
                    {{#postingEmails}}
                        <a>{{email}}</a><br>
                    {{/postingEmails}}
                </td>
            {{/isLibrary}}
        </tr>
    {{/entities}}
</table>
<a href="{{url.export}}">
    <img src="/local/templates/adaptive/img/file-icons/excel.png">
</a>
{{{paginationHtml}}}


<script type="text/javascript">
    $(function () {
        var token = $('meta[name=user-token]').attr('content');

        $(document).on('click', 'input.send-subscribe', function(){
            this.disabled = true;
            $.ajax({
                url: "/api/library-notification/" + $(this).attr('data-id') + "/send/?token=" + token,
                method: "POST",
                dataType: "json",
                success: function(res){
                    if (res.remains !== undefined && res.step !== undefined ){
                        window.location.reload();
                    }
                },
                error: function(st, msg){
                    console.error(st, msg);
                    alert('Error!\n' + st + '\n' + msg);
                }
            });
        });
    });
</script>